				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Advanced Grammar in&#160;Use Level Test</h1><p class="subhead">Advanced Grammar in&#160;Use Second Edition Level Test с&#160;ответами. Cambridge University Press.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">The Test</option>
												<option value="#a2">Answer Key</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Test</h2></div><div class="holder-hidden-layer"><ol><li>And now for this evening&#8217;s main headline: Britain&#160;___ another Olympic gold&#160;medal!<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> had won <span class="bolder">B</span> wins <span class="bolder">C</span> won <span class="bolder">D</span> has won</li><li>He&#160;___ the stolen cigarettes onto the back of the lorry when the police arrived.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> loaded <span class="bolder">B</span> was loading <span class="bolder">C</span> did load</li><li>Anne had to pay for everything because, as usual, Peter&#160;___ his wallet at&#160;home.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> had left <span class="bolder">B</span> left <span class="bolder">C</span> was leaving</li><li>Someone&#160;___ my special sports drink that I&#160;bought this morning! The&#160;bottle&#8217;s half&#160;empty!<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> has been drinking <span class="bolder">B</span> drinks <span class="bolder">C</span> is drinking</li><li>&#8216;Mark and Penny broke up last month.&#8217; &#8216;Oh no! They&#160;___ out together for years.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> have gone <span class="bolder">B</span> had gone <span class="bolder">C</span> had been going <span class="bolder">D</span> are going</li><li>We&#8217;re late. By&#160;the time we get to the cinema, the&#160;film&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> will have started <span class="bolder">B</span> has started <span class="bolder">C</span> will start <span class="bolder">D</span> will have been starting</li><li>If we world poverty&#160;___ , the richer countries will need to make sacrifices.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> are end <span class="bolder">B</span> will end <span class="bolder">C</span> are ending <span class="bolder">D</span> are to end</li><li>Frank&#160;___ promoted soon. After all, his mother is chief executive.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> is bounding to get <span class="bolder">B</span> is bound to get <span class="bolder">C</span> is meaning to</li><li>&#8216;Are you OK? You&#160;look really pale.&#8217; &#8216;I need the bathroom. I&#160;think I&#160;___ sick.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> am to be <span class="bolder">B</span> will be <span class="bolder">C</span> shall be <span class="bolder">D</span> am going to be</li><li>&#8216;When are you leaving for the airport?&#8217; &#8216;Well, my flight&#160;___ at six thirty.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> is going to leave <span class="bolder">B</span> leaves <span class="bolder">C</span> is leaving <span class="bolder">D</span> will leave</li><li>Fortunately, the fire fighters&#160;___ put the fire out before it caused too much damage.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> were able to <span class="bolder">B</span> can <span class="bolder">C</span> are able to <span class="bolder">D</span> could</li><li>&#8216;Mum, I&#8217;m tired.&#8217; &#8216;Well, if you&#160;___ to bed after midnight every night, what do you expect?&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> went <span class="bolder">B</span> are going <span class="bolder">C</span> will go <span class="bolder">D</span> would go</li><li>Mary isn&#8217;t home yet. She&#160;___ late at the office&#160;again.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> must have had to work <span class="bolder">B</span> must have got to work <span class="bolder">C</span> must&#8217;ve to work <span class="bolder">D</span> must work</li><li>I remember&#160;___ to the circus by&#160;my grandfather when I&#160;was a&#160;child.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> having taken <span class="bolder">B</span> to be taken <span class="bolder">C</span> being taken <span class="bolder">D</span> was taken</li><li>The accident is thought&#160;___ by&#160;leaves on the railway&#160;line.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> to have caused <span class="bolder">B</span> to have been caused <span class="bolder">C</span> to have been causing</li><li>&#8216;Have you heard? Sandra sold her flat and bought a houseboat.&#8217; &#8216;&#160;___ &#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> She did what? <span class="bolder">B</span> What she did? <span class="bolder">C</span> Did she what? <span class="bolder">D</span> She what did?</li><li>The detective in charge of the investigation&#160;asked&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> the two witnesses their names <span class="bolder">B</span> their names the two witnesses <span class="bolder">C</span> the two witnesses of their names <span class="bolder">D</span> to the two witnesses their names</li><li>I really object&#160;___ in rooms where other people have to&#160;eat.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> people smoking <span class="bolder">B</span> to people smoke <span class="bolder">C</span> people to smoke <span class="bolder">D</span> to people smoking</li><li>Chris told Liz that he had a good job with a big salary, but&#160;he&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> hadn&#8217;t <span class="bolder">B</span> wasn&#8217;t <span class="bolder">C</span> didn&#8217;t <span class="bolder">D</span> hadn&#8217;t got</li><li>The Smiths had to decide&#160;___ to their daughter&#8217;s kidnappers&#8217; demands or bring in the police.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> if they agree <span class="bolder">B</span> if to agree <span class="bolder">C</span> whether to agree <span class="bolder">D</span> whether they agree</li><li>Nutrition experts advise&#160;___ too many refined&#160;foods.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> us not to eat <span class="bolder">B</span> us that we don&#8217;t eat <span class="bolder">C</span> us not eating <span class="bolder">D</span> not to eat</li><li>By the end of the conference, there was still no real agreement&#160;___ the primary cause of the disaster&#160;was.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> what <span class="bolder">B</span> what as to <span class="bolder">C</span> as <span class="bolder">D</span> as to what</li><li>The personnel consultant recommended that managers&#160;___ apart from other staff during&#160;lunch.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> not to sit <span class="bolder">B</span> are not sitting <span class="bolder">C</span> not sit <span class="bolder">D</span> not sitting</li><li>The Prime Minister was asked what&#160;___ to do about inner city&#160;crime.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> he intended <span class="bolder">B</span> intended he <span class="bolder">C</span> did he intend <span class="bolder">D</span> he did intend</li><li>Looking after pets&#160;___ a good way of teaching children to be responsible.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> are <span class="bolder">B</span> is <span class="bolder">C</span> be <span class="bolder">D</span> being</li><li>Every man, woman and child on the island&#160;___ the effects of the fuel shortage.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> has suffered <span class="bolder">B</span> have suffered</li><li>The only witnesses to the accident were&#160;two&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> passer-byes <span class="bolder">B</span> passers-by</li><li>No Horizon was directed by&#160;___ Steve Caplan, only two years before his&#160;death.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> late <span class="bolder">B</span> a late <span class="bolder">C</span> the late <span class="bolder">D</span> of late</li><li>&#8216;Sorry, do you spell your surname with&#160;___ &#8216;s&#8217; or two?&#8217; &#8216;Two.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> single <span class="bolder">B</span> a <span class="bolder">C</span> an <span class="bolder">D</span> one</li><li>Nowadays,&#160;___ are much better behaved than their parents were at the same age, don&#8217;t you&#160;think?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> teenagers <span class="bolder">B</span> the teenagers</li><li>I&#8217;m not fussy. I&#8217;ll eat&#160;___ kind of fruit or vegetable.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> some <span class="bolder">B</span> any <span class="bolder">C</span> all</li><li>___ twenty per cent of natural gas used to heat homes in the UK comes from the North&#160;Sea.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Few of <span class="bolder">B</span> Lesser than <span class="bolder">C</span> Fewer than <span class="bolder">D</span> Less than</li><li>See the woman over there by&#160;the window? Isn&#8217;t she the one won&#160;___ the lottery last&#160;week?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> which <span class="bolder">B</span> whom <span class="bolder">C</span> that <span class="bolder">D</span> what</li><li>The Transport Minister,&#160;___ department the email was apparently sent, has denied all knowledge of a cover-up.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> from whose <span class="bolder">B</span> whose <span class="bolder">C</span> from his <span class="bolder">D</span> which</li><li>Detective Chief Inspector Chambers,&#160;___ the laptop was stolen, has posted a &#163;10,000 reward.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> from which <span class="bolder">B</span> from who <span class="bolder">C</span> from whom</li><li>In many cultures, when the elderly become too weak to look after&#160;___ , they go and live with their families.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> themselves <span class="bolder">B</span> theirselves <span class="bolder">C</span> themself <span class="bolder">D</span> theirself</li><li>When the robber ordered the hostages to lie face down on the ground, they&#160;___ without argument.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> did such <span class="bolder">B</span> did so <span class="bolder">C</span> so did</li><li>Yes, the script was excellent, but the performances were&#160;___ weak.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> completely <span class="bolder">B</span> extremely <span class="bolder">C</span> utterly <span class="bolder">D</span> absolutely</li><li>It was&#160;___ solution to the problem that the audience cheered loudly.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> a such a sensible <span class="bolder">B</span> so a sensible <span class="bolder">C</span> a so sensible <span class="bolder">D</span> such a sensible</li><li>Is Ben OK? He&#160;was behaving&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> very strangely in the canteen this morning <span class="bolder">B</span> this morning in the canteen very strangely <span class="bolder">C</span> in the canteen this morning very strangely <span class="bolder">D</span> in the canteen very strangely this morning</li><li>Ignoring the flashing light bulbs, the three judges walked up the courthouse&#160;steps&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> in a dignified fashion <span class="bolder">B</span> dignifiedly <span class="bolder">C</span> in a dignifiedly fashion <span class="bolder">D</span> dignified</li><li>The&#160;___ girl snatched the kitten away from the dog and screamed for her mother.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> feared <span class="bolder">B</span> afraid <span class="bolder">C</span> frightened <span class="bolder">D</span> scary</li><li>___ it never recycled any waste materials, the company&#8217;s environmental record was not perfect.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> For <span class="bolder">B</span> In that <span class="bolder">C</span> With <span class="bolder">D</span> Due to</li><li>If oil supplies&#160;___ in the near future, we would find it very hard to meet our energy&#160;needs.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> will run out <span class="bolder">B</span> were running out <span class="bolder">C</span> would run out <span class="bolder">D</span> were to run out</li><li>Travelling by&#160;coach is cheap.&#160;___ , it can be slow in rush hour traffic.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Whereas <span class="bolder">B</span> Although <span class="bolder">C</span> Nevertheless <span class="bolder">D</span> While</li><li>&#8216;Look at those clouds!&#8217; &#8216;Don&#8217;t worry.&#160;___ it rains, we&#8217;ll still have a great time.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Even if <span class="bolder">B</span> Even though <span class="bolder">C</span> Despite <span class="bolder">D</span> Whereas</li><li>Far&#160;___ Terry&#8217;s small plane lay the freezing waters of the North Sea, where his father&#8217;s boat had disappeared many years before.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> down <span class="bolder">B</span> under <span class="bolder">C</span> underneath <span class="bolder">D</span> below</li><li>Your boss is always criticising your work. I&#160;don&#8217;t know why&#160;you&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> put up with it <span class="bolder">B</span> put up it with <span class="bolder">C</span> put it up with <span class="bolder">D</span> it put up with</li><li>OK, so the dates are agreed, but question of the budget&#160;___ to discuss.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> it&#8217;s still the <span class="bolder">B</span> there&#8217;s still a <span class="bolder">C</span> there&#8217;s still the <span class="bolder">D</span> it&#8217;s still a</li><li>Not until every single reporter had gone&#160;___ outside his front door&#160;again.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> did Alan step <span class="bolder">B</span> Alan stepped <span class="bolder">C</span> stepped Alan <span class="bolder">D</span> Alan did step</li></ol></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Answer Key</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Ответы</th><th>Раздел</th></tr></thead><tbody><tr><td data-label="Ответы">1:D</td><td data-label="Раздел">Unit&#160;3</td></tr><tr><td data-label="Ответы">2:B</td><td data-label="Раздел">Unit&#160;4</td></tr><tr><td data-label="Ответы">3:A</td><td data-label="Раздел">Unit&#160;5</td></tr><tr><td data-label="Ответы">4:A</td><td data-label="Раздел">Unit&#160;6</td></tr><tr><td data-label="Ответы">5:C</td><td data-label="Раздел">Unit&#160;7</td></tr><tr><td data-label="Ответы">6:A</td><td data-label="Раздел">Unit&#160;11</td></tr><tr><td data-label="Ответы">7:D</td><td data-label="Раздел">Unit&#160;12</td></tr><tr><td data-label="Ответы">8:B</td><td data-label="Раздел">Unit&#160;13</td></tr><tr><td data-label="Ответы">9:D</td><td data-label="Раздел">Unit&#160;9</td></tr><tr><td data-label="Ответы">10:B</td><td data-label="Раздел">Unit&#160;10</td></tr><tr><td data-label="Ответы">11:A</td><td data-label="Раздел">Unit&#160;15</td></tr><tr><td data-label="Ответы">12:C</td><td data-label="Раздел">Unit&#160;16</td></tr><tr><td data-label="Ответы">13:A</td><td data-label="Раздел">Unit&#160;18</td></tr><tr><td data-label="Ответы">14:C</td><td data-label="Раздел">Unit&#160;23</td></tr><tr><td data-label="Ответы">15:B</td><td data-label="Раздел">Unit&#160;25</td></tr><tr><td data-label="Ответы">16:A</td><td data-label="Раздел">Unit&#160;27</td></tr><tr><td data-label="Ответы">17:A</td><td data-label="Раздел">Unit&#160;29</td></tr><tr><td data-label="Ответы">18:D</td><td data-label="Раздел">Unit&#160;30</td></tr><tr><td data-label="Ответы">19:C</td><td data-label="Раздел">Unit&#160;64</td></tr><tr><td data-label="Ответы">20:C</td><td data-label="Раздел">Unit&#160;34</td></tr><tr><td data-label="Ответы">21:A</td><td data-label="Раздел">Unit&#160;36</td></tr><tr><td data-label="Ответы">22:D</td><td data-label="Раздел">Unit&#160;38</td></tr><tr><td data-label="Ответы">23:C</td><td data-label="Раздел">Unit&#160;39</td></tr><tr><td data-label="Ответы">24:A</td><td data-label="Раздел">Unit&#160;32</td></tr><tr><td data-label="Ответы">25:B</td><td data-label="Раздел">Unit&#160;40</td></tr><tr><td data-label="Ответы">26:A</td><td data-label="Раздел">Unit&#160;41</td></tr><tr><td data-label="Ответы">27:B</td><td data-label="Раздел">Unit&#160;43</td></tr><tr><td data-label="Ответы">28:C</td><td data-label="Раздел">Unit&#160;46</td></tr><tr><td data-label="Ответы">29:D</td><td data-label="Раздел">Unit&#160;44</td></tr><tr><td data-label="Ответы">30:A</td><td data-label="Раздел">Unit&#160;47</td></tr><tr><td data-label="Ответы">31:B</td><td data-label="Раздел">Unit&#160;48</td></tr><tr><td data-label="Ответы">32:D</td><td data-label="Раздел">Unit&#160;52</td></tr><tr><td data-label="Ответы">33:C</td><td data-label="Раздел">Unit&#160;53</td></tr><tr><td data-label="Ответы">34:A</td><td data-label="Раздел">Unit&#160;55</td></tr><tr><td data-label="Ответы">35:C</td><td data-label="Раздел">Unit&#160;55</td></tr><tr><td data-label="Ответы">36:A</td><td data-label="Раздел">Unit&#160;60</td></tr><tr><td data-label="Ответы">37:B</td><td data-label="Раздел">Unit&#160;63</td></tr><tr><td data-label="Ответы">38:B</td><td data-label="Раздел">Unit&#160;67</td></tr><tr><td data-label="Ответы">39:D</td><td data-label="Раздел">Unit&#160;73</td></tr><tr><td data-label="Ответы">40:A</td><td data-label="Раздел">Unit&#160;74</td></tr><tr><td data-label="Ответы">41:A</td><td data-label="Раздел">Unit&#160;71</td></tr><tr><td data-label="Ответы">42:C</td><td data-label="Раздел">Unit&#160;66</td></tr><tr><td data-label="Ответы">43:B</td><td data-label="Раздел">Unit&#160;80</td></tr><tr><td data-label="Ответы">44:D</td><td data-label="Раздел">Unit&#160;83</td></tr><tr><td data-label="Ответы">45:C</td><td data-label="Раздел">Unit&#160;87</td></tr><tr><td data-label="Ответы">46:A</td><td data-label="Раздел">Unit&#160;82</td></tr><tr><td data-label="Ответы">47:D</td><td data-label="Раздел">Unit&#160;88</td></tr><tr><td data-label="Ответы">48:A</td><td data-label="Раздел">Unit&#160;94</td></tr><tr><td data-label="Ответы">49:C</td><td data-label="Раздел">Unit&#160;95</td></tr><tr><td data-label="Ответы">50:A</td><td data-label="Раздел">Unit&#160;100</td></tr></tbody></table><p class="address" role="contentinfo">&#169;&#160;Cambridge University Press 2006&#160;Advanced Grammar in&#160;Use Photocopiable</p></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/tests_common_mistakes_test_advanced" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
