				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">English Grammar in&#160;Use Level Test</h1><p class="subhead">English Grammar in&#160;Use Third Edition Level Test с&#160;ответами. Cambridge University Press.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">The Test</option>
												<option value="#a2">Answer Key</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Test</h2></div><div class="holder-hidden-layer"><ol><li>Tom&#160;___ coffee. He&#160;doesn&#8217;t like&#160;it.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> isn&#8217;t drinking <span class="bolder">B</span> not drinks <span class="bolder">C</span> doesn&#8217;t drink</li><li>He&#160;___ tennis when he broke his&#160;wrist.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> was playing <span class="bolder">B</span> played <span class="bolder">C</span> plays <span class="bolder">D</span> has played</li><li>&#8216;Were there&#160;___ any letters today?&#8217; &#8216;No, the postman yet.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> doesn&#8217;t come <span class="bolder">B</span> wasn&#8217;t come <span class="bolder">C</span> hasn&#8217;t come <span class="bolder">D</span> didn&#8217;t come</li><li>You look really&#160;hot.&#160;___<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Are you running? <span class="bolder">B</span> Did you run? <span class="bolder">C</span> Have you been running?</li><li>&#8216;How long has Sarah been living in Germany?&#8217; &#8216;&#160;___ five years.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Since <span class="bolder">B</span> For <span class="bolder">C</span> During <span class="bolder">D</span> While</li><li>When I&#160;arrived at the airport, the&#160;plane&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> has already left <span class="bolder">B</span> already left <span class="bolder">C</span> had already left</li><li>I&#160;___ in the country, but I&#160;had to move to the city for my new&#160;job.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> used to live <span class="bolder">B</span> used to living <span class="bolder">C</span> wasn&#8217;t used to living</li><li>I&#8217;m feeling tired. I&#160;don&#8217;t think I&#160;___ tonight.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> go out <span class="bolder">B</span> &#8217;ll go out <span class="bolder">C</span> &#8217;m going out</li><li>What do you think you&#160;___ this time next&#160;year?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> &#8217;ll be doing <span class="bolder">B</span> &#8217;re going to do <span class="bolder">C</span> do <span class="bolder">D</span> &#8217;re doing</li><li>I&#160;___ be a doctor. I&#8217;d hate&#160;it.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> couldn&#8217;t have <span class="bolder">B</span> can&#8217;t <span class="bolder">C</span> couldn&#8217;t <span class="bolder">D</span> &#8217;m not able to</li><li>If I&#160;were in Susie&#8217;s position, I&#160;___ leave and get another&#160;job.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> may <span class="bolder">B</span> might <span class="bolder">C</span> must</li><li>They&#160;___ worried. There really was no danger.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> needn&#8217;t <span class="bolder">B</span> don&#8217;t have to <span class="bolder">C</span> mustn&#8217;t <span class="bolder">D</span> needn&#8217;t have</li><li>You&#160;___ that letter&#160;&#8212; it&#8217;s not addressed to&#160;you!<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> shouldn&#8217;t to read <span class="bolder">B</span> shouldn&#8217;t read <span class="bolder">D</span> ought not to</li><li>If I&#160;see Sam,&#160;___ him to call&#160;you.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> I&#8217;ll tell <span class="bolder">B</span> I&#8217;d tell <span class="bolder">C</span> I&#160;tell <span class="bolder">D</span> I&#160;told</li><li>If they&#160;___ by&#160;car, it would have been a lot quicker.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> had gone <span class="bolder">B</span> would go <span class="bolder">C</span> would have gone <span class="bolder">D</span> have gone</li><li>Jane&#8217;s passport&#160;___ while she was on holiday.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> is stolen <span class="bolder">B</span> was stolen <span class="bolder">C</span> stole</li><li>&#8216;Where&#160;___ ?&#8217; &#8216;I always go to Snips.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> do you cut your hair <span class="bolder">B</span> do you have your hair cut <span class="bolder">C</span> have you cut your hair</li><li>Anne&#160;___ in hospital.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> told that her mum was <span class="bolder">B</span> said me her mum was <span class="bolder">C</span> told me her mum was</li><li>Do you know&#160;___ ?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> where John lives <span class="bolder">B</span> where lives John <span class="bolder">C</span> where does John live</li><li>&#8216;Rick&#8217;s been to China before,&#160;___ ?&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> didn&#8217;t he <span class="bolder">B</span> hadn&#8217;t he <span class="bolder">C</span> wasn&#8217;t he <span class="bolder">D</span> hasn&#8217;t he</li><li>My father doesn&#8217;t allow me&#160;___ his&#160;car.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> driving <span class="bolder">B</span> drive <span class="bolder">C</span> to drive</li><li>___ phone me&#160;again.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> I&#8217;d rather you didn&#8217;t <span class="bolder">B</span> I&#8217;d prefer you not <span class="bolder">C</span> I&#8217;d rather you don&#8217;t</li><li>Bad weather prevented the match&#160;___ going&#160;ahead.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> to <span class="bolder">B</span> from <span class="bolder">C</span> of</li><li>Helen never travels by&#160;plane because she&#8217;s&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> afraid from flying <span class="bolder">B</span> afraid to flying <span class="bolder">C</span> afraid of flying</li><li>___ a car, I&#160;usually take the&#160;bus.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Not have <span class="bolder">B</span> Not to have <span class="bolder">C</span> Not having</li><li>I took&#160;___ really nice photos on holiday.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> few <span class="bolder">B</span> much <span class="bolder">C</span> any <span class="bolder">D</span> some</li><li>Small children often don&#8217;t like eating&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> vegetables <span class="bolder">B</span> the vegetables</li><li>I want to&#160;buy&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> some new jeans <span class="bolder">B</span> a new jean <span class="bolder">C</span> a new jeans</li><li>___ is Charlie.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> My dogs name <span class="bolder">B</span> My dog&#8217;s name <span class="bolder">C</span> My dogs&#8217; name <span class="bolder">D</span> The name of my dog</li><li>Don&#8217;t work in pairs. Everyone has to do the exercise&#160;by&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> ourselves <span class="bolder">B</span> yourself <span class="bolder">C</span> themselves</li><li>&#8216;&#160;___ someone knocking at the door.&#8217; &#8216;I&#8217;ll go and see who it is.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> There&#8217;s <span class="bolder">B</span> It&#8217;s</li><li>I was really nervous and I&#160;couldn&#8217;t eat&#160;___ all&#160;day.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> something <span class="bolder">B</span> nothing <span class="bolder">C</span> anything</li><li>Most of the students got a B grade but&#160;___ got an&#160;A.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> few <span class="bolder">B</span> a few <span class="bolder">C</span> little <span class="bolder">D</span> plenty</li><li>Ben and Danny are very similar.&#160;___ is good at football but they both love watching it on&#160;TV.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Either of them <span class="bolder">B</span> Both of them <span class="bolder">C</span> Neither of them</li><li>The computer&#160;___ I&#160;bought wasn&#8217;t very expensive.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> who <span class="bolder">B</span> what <span class="bolder">C</span> whom <span class="bolder">D</span> that</li><li>The room&#160;___ the beach was too&#160;small.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> overlooked <span class="bolder">B</span> overlooking</li><li>There&#8217;s&#160;___ food in the house. Let&#8217;s go out to&#160;eat.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> hardly <span class="bolder">B</span> hardly any <span class="bolder">C</span> hardly anything</li><li>My new car is&#160;___ my old&#160;one.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> more fast that <span class="bolder">B</span> more fast than <span class="bolder">C</span> faster than <span class="bolder">D</span> faster as</li><li>They got lots of presents when they got married and they&#160;___ any &#8216;thank you&#8217; letters.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> didn&#8217;t even send <span class="bolder">B</span> even sent <span class="bolder">C</span> not even sent</li><li>___ school very young, he is very successful.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> In spite of he left <span class="bolder">B</span> Although leaving <span class="bolder">C</span> In spite of leaving</li><li>___ hard, Martha should do very well at university.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> As long as she works <span class="bolder">B</span> Unless she works <span class="bolder">C</span> In case she works <span class="bolder">D</span> Providing she will work</li><li>I woke up several times&#160;___ the night with a bad&#160;cough.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> while <span class="bolder">B</span> during <span class="bolder">C</span> for</li><li>I think I&#8217;ll be&#160;able&#160;to finish reading this book&#160;___ few&#160;hours.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> on a <span class="bolder">B</span> in a <span class="bolder">C</span> at the</li><li>It was raining at first, but the sun came&#160;out&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> in the end <span class="bolder">B</span> at the end <span class="bolder">C</span> by&#160;the time <span class="bolder">D</span> by&#160;then</li><li>When we finally arrived&#160;___ , we were exhausted.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> to home <span class="bolder">B</span> at home <span class="bolder">C</span> home</li><li>William is very excited&#160;___ starting his new&#160;job.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> with <span class="bolder">B</span> by&#160;<span class="bolder">C</span> for <span class="bolder">D</span> about</li><li>What happens&#160;___ the hero at the end of the&#160;film?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> into <span class="bolder">B</span> on <span class="bolder">C</span> to</li><li>We&#8217;re really&#160;___ our trip to New York next&#160;week.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> looking forward <span class="bolder">B</span> looking forward to <span class="bolder">C</span> looking forward at</li><li>I asked the mechanic to&#160;___ how much the repairs will&#160;cost.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> work out <span class="bolder">B</span> get out <span class="bolder">C</span> try out</li><li>She really&#160;___ when she changed her mind about the&#160;job.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> turned me down <span class="bolder">B</span> put me up <span class="bolder">C</span> let me down</li></ol></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Answer Key</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Ответы</th><th>Раздел</th></tr></thead><tbody><tr><td data-label="Ответы">1:C</td><td data-label="Раздел">Unit&#160;3</td></tr><tr><td data-label="Ответы">2:A</td><td data-label="Раздел">Unit&#160;6</td></tr><tr><td data-label="Ответы">3:C</td><td data-label="Раздел">Units&#160;7, 8</td></tr><tr><td data-label="Ответы">4:C</td><td data-label="Раздел">Units&#160;9, 10</td></tr><tr><td data-label="Ответы">5:B</td><td data-label="Раздел">Units&#160;11, 12</td></tr><tr><td data-label="Ответы">6:C</td><td data-label="Раздел">Unit&#160;15</td></tr><tr><td data-label="Ответы">7:A</td><td data-label="Раздел">Units&#160;18, 61</td></tr><tr><td data-label="Ответы">8:B</td><td data-label="Раздел">Units&#160;19, 21, 22</td></tr><tr><td data-label="Ответы">9:A</td><td data-label="Раздел">Units&#160;23, 24</td></tr><tr><td data-label="Ответы">10:C</td><td data-label="Раздел">Units&#160;26, 27</td></tr><tr><td data-label="Ответы">11:B</td><td data-label="Раздел">Units&#160;29, 30, 31</td></tr><tr><td data-label="Ответы">12:D</td><td data-label="Раздел">Unit&#160;32</td></tr><tr><td data-label="Ответы">13:B</td><td data-label="Раздел">Units&#160;33, 34</td></tr><tr><td data-label="Ответы">14:A</td><td data-label="Раздел">Unit&#160;38</td></tr><tr><td data-label="Ответы">15:A</td><td data-label="Раздел">Unit&#160;40</td></tr><tr><td data-label="Ответы">16:B</td><td data-label="Раздел">Units&#160;42, 43</td></tr><tr><td data-label="Ответы">17:B</td><td data-label="Раздел">Unit&#160;46</td></tr><tr><td data-label="Ответы">18:C</td><td data-label="Раздел">Units&#160;47, 48</td></tr><tr><td data-label="Ответы">19:A</td><td data-label="Раздел">Unit&#160;50</td></tr><tr><td data-label="Ответы">20:D</td><td data-label="Раздел">Unit&#160;52</td></tr><tr><td data-label="Ответы">21:C</td><td data-label="Раздел">Unit&#160;55</td></tr><tr><td data-label="Ответы">22:A</td><td data-label="Раздел">Unit&#160;59</td></tr><tr><td data-label="Ответы">23:B</td><td data-label="Раздел">Unit&#160;62</td></tr><tr><td data-label="Ответы">24:C</td><td data-label="Раздел">Unit&#160;66</td></tr><tr><td data-label="Ответы">25:C</td><td data-label="Раздел">Unit&#160;68</td></tr><tr><td data-label="Ответы">26:D</td><td data-label="Раздел">Units&#160;69, 70</td></tr><tr><td data-label="Ответы">27:A</td><td data-label="Раздел">Unit&#160;75</td></tr><tr><td data-label="Ответы">28:A</td><td data-label="Раздел">Unit&#160;79</td></tr><tr><td data-label="Ответы">29:B</td><td data-label="Раздел">Unit&#160;81</td></tr><tr><td data-label="Ответы">30:C</td><td data-label="Раздел">Unit&#160;82</td></tr><tr><td data-label="Ответы">31:A</td><td data-label="Раздел">Unit&#160;84</td></tr><tr><td data-label="Ответы">32:C</td><td data-label="Раздел">Unit&#160;86</td></tr><tr><td data-label="Ответы">33:B</td><td data-label="Раздел">Unit&#160;87</td></tr><tr><td data-label="Ответы">34:C</td><td data-label="Раздел">Unit&#160;89</td></tr><tr><td data-label="Ответы">35:D</td><td data-label="Раздел">Units&#160;92, 93</td></tr><tr><td data-label="Ответы">36:B</td><td data-label="Раздел">Unit&#160;97</td></tr><tr><td data-label="Ответы">37:B</td><td data-label="Раздел">Unit&#160;101</td></tr><tr><td data-label="Ответы">38:C</td><td data-label="Раздел">Units&#160;105, 106</td></tr><tr><td data-label="Ответы">39:A</td><td data-label="Раздел">Unit&#160;112</td></tr><tr><td data-label="Ответы">40:C</td><td data-label="Раздел">Unit&#160;113</td></tr><tr><td data-label="Ответы">41:A</td><td data-label="Раздел">Units&#160;114, 115</td></tr><tr><td data-label="Ответы">42:B</td><td data-label="Раздел">Unit&#160;119</td></tr><tr><td data-label="Ответы">43:B</td><td data-label="Раздел">Unit&#160;121</td></tr><tr><td data-label="Ответы">44:A</td><td data-label="Раздел">Unit&#160;122</td></tr><tr><td data-label="Ответы">45:C</td><td data-label="Раздел">Units&#160;125, 126</td></tr><tr><td data-label="Ответы">46:D</td><td data-label="Раздел">Unit&#160;130</td></tr><tr><td data-label="Ответы">47:C</td><td data-label="Раздел">Unit&#160;136</td></tr><tr><td data-label="Ответы">48:B</td><td data-label="Раздел">Unit&#160;137</td></tr><tr><td data-label="Ответы">49:A</td><td data-label="Раздел">Unit&#160;139</td></tr><tr><td data-label="Ответы">50:C</td><td data-label="Раздел">Unit&#160;142</td></tr></tbody></table><p class="address" role="contentinfo">&#169;&#160;Cambridge University Press 2006&#160;English Grammar in&#160;Use Photocopiable</p></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/tests_essential_grammar_in_use_level_test" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
