				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Демо-вариант ЕГЭ-11&#160;АЯ (ПЧ)</h1><p class="subhead">&#171;Демонстрационный вариант контрольных измерительных материалов единого государственного экзамена 2016&#160;года по&#160;английскому языку с&#160;ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Пояснения к&#160;демо-варианту письменной части</option>
												<option value="#a2">Инструкция по&#160;выполнению работы</option>
												<option value="#a3">Раздел 1. Аудирование</option>
												<option value="#a4">Раздел 2. Чтение</option>
												<option value="#a5">Раздел 3. Грамматика и&#160;лексика</option>
												<option value="#a6">Раздел 4. Письмо</option>
												<option value="#a7">Тексты для аудирования</option>
												<option value="#a8">Ответы</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Пояснения к&#160;демо-варианту письменной части</h2></div><div class="holder-hidden-layer"><p>При ознакомлении с&#160;демонстрационным вариантом письменной части контрольных измерительных материалов ЕГЭ 2016&#160;г. следует иметь в&#160;виду, что задания, включенные в&#160;него, не&#160;отражают всех вопросов содержания, которые будут проверяться с&#160;помощью вариантов КИМ в 2016&#160;г.&#160;Полный перечень вопросов, которые могут контролироваться на&#160;едином государственном экзамене 2016&#160;г., приведен в&#160;кодификаторе элементов содержания и&#160;требований к&#160;уровню подготовки выпускников образовательных организаций для проведения единого государственного экзамена 2016&#160;г. по&#160;английскому&#160;языку.</p><p>Работа состоит из&#160;четырех разделов: &#171;Аудирование&#187;, &#171;Чтение&#187;, &#171;Грамматика и&#160;лексика&#187;, &#171;Письмо&#187;.</p><p>Раздел 1&#160;(&#171;Аудирование&#187;) содержит 9&#160;заданий. Рекомендуемое время на&#160;выполнение заданий раздела 1&#160;составляет 30&#160;минут.</p><p>Раздел 2&#160;(&#171;Чтение&#187;) содержит 9&#160;заданий. Рекомендуемое время на&#160;выполнение заданий раздела 2&#160;составляет 30&#160;минут.</p><p>Раздел 3&#160;(&#171;Грамматика и&#160;лексика&#187;) содержит 20&#160;заданий. Рекомендуемое время на&#160;выполнение заданий раздела 3&#160;составляет 40&#160;минут.</p><p>Раздел 4&#160;(&#171;Письмо&#187;) состоит из 2&#160;заданий. Рекомендуемое время на&#160;выполнение заданий этого раздела работы&#160;&#8212; 80&#160;минут.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Инструкция по&#160;выполнению работы</h2></div><div class="holder-hidden-layer"><p>Экзаменационная работа по&#160;английскому языку состоит из&#160;четырех разделов (аудирование, чтение, грамматика и&#160;лексика, письмо), включающих в&#160;себя 40&#160;заданий.</p><p>На выполнение экзаменационной работы отводится 3&#160;часа (180 минут).</p><p>Ответы к&#160;заданиям 3&#8212;9, 12&#8212;18 и&#160;32&#8212;38 записываются в&#160;виде одной цифры, которая соответствует номеру правильного ответа. Эту&#160;цифру запишите в&#160;поле ответа в&#160;тексте работы, а&#160;затем перенесите в&#160;бланк ответов &#8470;&#160;1.</p><p>Ответы к&#160;заданиям 1, 2, 10, 11&#160;записываются в&#160;виде последовательности цифр. Эту&#160;последовательность циф запишите в&#160;поле ответа в&#160;тексте работы, а&#160;затем перенесите в&#160;бланк ответов &#8470;&#160;1.</p><p>Ответы к&#160;заданиям 19&#8212;31 записываются в&#160;виде слова (нескольких слов). Ответ запишите в&#160;поле ответа в&#160;тексте работы, а&#160;затем перенесите в&#160;бланк ответов &#8470;&#160;1.</p><p>Раздел 4&#160;(&#171;Письмо&#187;) состоит из 2&#160;заданий (39 и&#160;40) и&#160;представляет собой небольшую письменную работу (написание личного письма и&#160;письменного высказывания с&#160;элементами рассуждения). В&#160;бланке ответов &#8470;&#160;2&#160;укажите номер задания и&#160;запишите ответ к&#160;нему.</p><p>Все бланки ЕГЭ заполняются яркими черными чернилами.</p><p>Допускается использование гелевой, или капиллярной, или перьевой&#160;ручек.</p><p>При выполнении заданий можно пользоваться черновиком. Записи в&#160;черновике не&#160;учитываются при оценивании работы.</p><p>Баллы, полученные Вами за&#160;выполненные задания, суммируются.</p><p>Постарайтесь выполнить как можно больше заданий и&#160;набрать наибольшее количество баллов.</p><p>Желаем успеха!</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Раздел 1. Аудирование</h2></div><div class="holder-hidden-layer"><h3>1</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите 6&#160;высказываний. Установите соответствие между высказываниями каждого говорящего A&#8212;F и&#160;утверждениями, данными в&#160;списке 1&#8212;7. Используйте каждое утверждение, обозначенное соответствующей цифрой, только один раз. В&#160;задании есть одно лишнее утверждение. Вы услышите запись дважды. Занесите свои ответы в&#160;таблицу.</td></tr></tbody></table><ol><li>Teaching abroad doesn&#8217;t seem nice to some people.</li><li>My relative is a role model for me in terms of working abroad.</li><li>Some countries offer good career opportunities for beginning teachers.</li><li>Relatives are happy when you decide not to teach abroad.</li><li>I&#8217;m going to spend my gap year teaching English abroad.</li><li>Teaching abroad is a way to change your life.</li><li>Don&#8217;t hesitate to write to the employer if you need the job.</li></ol><table class="respond fit-width"><caption></caption><tbody><tr><td>Говорящий</td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td></tr><tr><td>Утверждение</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td></tr></tbody></table><h3>2</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите диалог. Определите, какие из&#160;приведенных утверждений А&#8212;G соответствуют содержанию текста (1&#160;&#8212; True), какие не&#160;соответствуют (2&#160;&#8212; False) и&#160;о&#160;чем в&#160;тексте не&#160;сказано, то есть на&#160;основании текста нельзя дать ни&#160;положительного, ни&#160;отрицательного ответа (3&#160;&#8212; Not stated). Занесите номер выбранного Вами варианта ответа в&#160;таблицу. Вы&#160;услышите запись дважды.</td></tr></tbody></table><ul style="list-style-type:upper-alpha;"><li>Lucy wasn&#8217;t at school for several days.</li><li>Lucy felt bad because of overeating.</li><li>Lucy&#8217;s mother is a doctor.</li><li>Peter did exercises with the map of the UK.</li><li>Peter is not afraid of the test.</li><li>Peter offers his notes to Lucy.</li><li>Lucy and Peter are going to review for the test later.</li></ul><table class="respond fit-width"><caption></caption><tbody><tr><td>Утверждение</td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td></tr><tr><td>Соответствие диалогу</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td></tr></tbody></table><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите интервью. В&#160;заданиях 3&#8212;9 запишите в&#160;поле ответа цифру 1, 2&#160;или 3, соответствующую выбранному Вами варианту ответа. Вы&#160;услышите запись дважды.</td></tr></tbody></table><h3>3</h3><p>Carl Fox says that he&#8230; </p><ol><li>likes to travel.</li><li>works in a small agency.</li><li>wanted to work in a travel agency since he was 10&#160;years old.</li></ol><p>Ответ: ___</p><h3>4</h3><p>Which of the following is TRUE about Carl Fox&#8217;s reasons for wanting to work in a travel agency?</p><ol><li>Travelling advantages the job offered.</li><li>His experience of working in resorts abroad.</li><li>His desire to travel to Spain for free.</li></ol><p>Ответ: ___</p><h3>5</h3><p>Which of the following is NOT Carl&#8217;s responsibility?</p><ol><li>Arranging accommodation.</li><li>Vaccinating the clients.</li><li>Offering holiday options.</li></ol><p>Ответ: ___</p><h3>6</h3><p>Which of the following is Carl&#8217;s responsibility if his client is flying?</p><ol><li>Meeting the client at the airport.</li><li>Providing the client with a taxi to the airport.</li><li>Informing the client about weather conditions in place of destination.</li></ol><p>Ответ: ___</p><h3>7</h3><p>What kind of holiday do modern customers prefer to order nowadays, according to&#160;Carl?</p><ol><li>A package tour.</li><li>A tour to a place Carl knows personally.</li><li>A specially designed tour.</li></ol><p>Ответ: ___</p><h3>8</h3><p>According to Carl, what&#8217;s the best thing in providing personalized service?</p><ol><li>Opportunity to learn about new routes.</li><li>Possibility to arrange a perfect holiday to a customer.</li><li>Inventing unusual itineraries.</li></ol><p>Ответ: ___</p><h3>9</h3><p>Carl told a story about his client who&#8230; </p><ol><li>wanted him to arrange an important meeting.</li><li>couldn&#8217;t choose a suitable flight.</li><li>confused the names of two cities.</li></ol><p>Ответ: ___</p><table class="respond fit-width"><caption></caption><tbody><tr><td>По окончании выполнения заданий 1&#8212;9 не&#160;забудьте перенести свои ответы в&#160;БЛАНК ОТВЕТОВ &#8470;&#160;1! Запишите ответ справа от&#160;номера соответствующего задания, начиная с&#160;первой клеточки. При&#160;переносе ответов в&#160;заданиях 1&#160;и 2&#160;цифры записываются без пробелов, запятых и&#160;других дополнительных символов. Каждую цифру пишите в&#160;отдельной клеточке в&#160;соответствии с&#160;приведенными в&#160;бланке образцами.</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Раздел 2. Чтение</h2></div><div class="holder-hidden-layer"><h3>10</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Установите соответствие между текстами A&#8212;G и&#160;заголовками 1&#8212;8. Занесите свои ответы в&#160;таблицу. Используйте каждую цифру только один раз. В&#160;задании один заголовок лишний.</td></tr></tbody></table><ol><li>For information and urgent help</li><li>World without buttons</li><li>To monitor and treat the disease</li><li>A built-in charger</li><li>Key under your skin</li><li>Big brother is watching you</li><li>Disadvantages of tech</li><li>Phone always on you</li></ol><ul style="list-style-type:upper-alpha;"><li><p>Sure, we&#8217;re virtually connected to our phones 24&#160;/ 7&#160;now, but what if we could be literally plugged in to our phones? That&#8217;s already starting to happen. Last&#160;year, for instance, artist Anthony Antonellis had a chip put in his arm that could store and transfer data to his handheld smartphone. And&#160;researchers are already experimenting with sensors that turn human bone into living speakers.</p></li><li><p>In the future patients will be able to use implantable technologies to diagnose and even treat diseases. Scientists in London are developing swallowable capsule-sized chip that will control fat levels in obese patients and generate genetic material that makes them feel &#8220;full&#8221;. It&#160;has potential as an alternative to surgery to handle obesity. Also&#160;it can monitor blood-sugar levels for diabetics.</p></li><li><p>The&#160;U.&#8239;S. military has programs to identify any person using face scanning device. Some&#160;people see it as a doubtless advantage: improved crime fighting, secure elections and never a lost child again. However, such technologies can hammer against social norms and raise privacy issues. And&#160;one day there might be a computer to see all, know all and control&#160;all.</p></li><li><p>One of the challenges for implantable tech is delivering power to devices which are inside human bodies. You&#160;can&#8217;t plug them in as you do with your phone or computer. You&#160;can&#8217;t easily take them out to replace a battery. A&#160;team in Cambridge is working on specific bio batteries that can generate power inside the body, transfer it wirelessly where needed, and then simply melt&#160;away.</p></li><li><p>Soon tattoos will not only make you look cool but will be able to perform useful tasks, like opening your car or entering smartphone codes with a fingerpoint. Researchers have made an implantable skin fibers thinner than a human hair. Scientists are working on the chip that can be put inside a finger through a tattoo-like process, letting you unlock things or enter codes simply by pointing. The&#160;British research team is developing pills with microprocessors in them that can text to hospitals directly from inside your body. The&#160;pills can share inside info to help doctors know if you are taking your medication properly and if it is having the desired effect. Moreover, in case of emergency, it can send a signal to the computer and the ambulance will come straight&#160;away.</p></li><li><p>Lately touchscreens are everywhere&#8212;from computers, phones, tablets to car systems and vending machines. Even&#160;doorbells now include touch screen controls. One&#160;has to wonder: are we moving to a world of only touchscreen devices? And&#160;the answer is probably yes. We&#160;are coming to an age where every flat or even curved surface could be made a touchscreen and we can operate from&#160;it.</p></li></ul><p>Ответ: ___</p><table class="respond fit-width"><caption></caption><tbody><tr><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td></tr><tr><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td></tr></tbody></table><h3>11</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте текст и&#160;заполните пропуски A&#8212;F частями предложений, обозначенными цифрами 1&#8212;7. Одна&#160;из&#160;частей в&#160;списке 1&#8212;7 лишняя. Занесите цифры, обозначающие соответствующие части предложений, в&#160;таблицу.</td></tr></tbody></table><h4>Visiting the Royal Parks</h4><p>London has a well-deserved reputation as one of the greenest cities in Europe, with a huge number of open spaces across the center of the city. Tourists</p><h5>A ___</h5><p>can always relax in a lovely, quiet London&#160;park.</p><p>The Royal Parks, such as St James&#8217;s, Green Park, the Regent&#8217;s Park, Hyde Park, Richmond, Greenwich, Bushy Park and Kensington Gardens, are beautifully maintained and popular with locals and visitors alike. Many&#160;are former hunting estates of English monarchs, preserved as open&#160;space</p><h5>B ___. </h5><p>They are ideal places to relax and sunbathe in summer, enjoy gorgeous flower beds in spring</p><h5>C ___. </h5><p>The Royal Parks provide fantastic green routes in London</p><h5>D ___ </h5><p>and through some of the most attractive areas of the capital. Picnics in the parks are also a popular activity especially during the busy summer months.</p><p>Dogs are welcome in all the Royal Parks, although there are some places</p><h5>E ___. </h5><p>These are clearly indicated within each park and are usually ecologically sensitive sites, children's play areas, restaurants, cafes and some sports areas. Ground nesting birds are particularly sensitive to disturbance by dogs and people. So&#160;it is necessary to observe the warning&#160;signs</p><h5>F ___. </h5><p>In Bushy Park and Richmond Park dogs should be kept away from the&#160;deer.</p><p>The Royal Parks are for everyone to&#160;enjoy.</p><ol><li>that are displayed during the nesting season</li><li>while the city has grown up around them</li><li>and admire the changing leaves as autumn arrives</li><li>where they are not allowed or should be kept on a lead</li><li>who are tired of the noise, crowds and excitement of sightseeing</li><li>who does not know the route to the place of destination</li><li>that take cyclists away from traffic</li></ol><p>Ответ: ___</p><table class="respond fit-width"><caption></caption><tbody><tr><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td></tr><tr><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td><td>&#160;</td></tr></tbody></table><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте текст и&#160;выполните задания 12&#8212;18. В&#160;каждом задании запишите в&#160;поле ответа цифру 1, 2, 3&#160;или 4, соответствующую выбранному Вами варианту ответа.</td></tr></tbody></table><h4>Driverless cars</h4><p>Driverless cars are expected to be rolling into the streets within the next 20&#160;years. In&#160;fact, they&#8217;ve legally been on the roads for the past years, approved for testing purposes. It&#160;is predicted that driverless vehicles will be commercially available at a high cost within 7&#160;years, but it may take another 8&#160;years for prices to drop enough to spur mass consumption.</p><p>Today, the discussions focus primarily on the shifting of accident liability to manufacturers and all the goodness that comes along with reducing accidents. A&#160;truly driverless road would not be accident-free as there would still be a number of accidents caused by mechanical or computer errors, weather conditions, pedestrians and sheer random chance. But&#160;it would make the now-routine loss of life on the roads far&#160;rarer.</p><p>The concept of a &#8220;driver&#8221; will be replaced with that of an &#8220;operator&#8221;, who simply programs the vehicle&#8217;s GPS to arrive at the desired destination and pushes the &#8220;Start&#8221; button to begin the trip. Since judgment will no longer be required of the operator, they won&#8217;t need a driver&#8217;s license. Theoretically, a 10-year-old child could independently take the car to school in the morning.</p><p>Computer-operated cars will eventually reshape the car design as things like windshields will become less necessary. Drivers will be able to sit wherever they&#8217;d like in their cars. There will be no need for gas and brake pedals as speed will be automatically controlled by the computer. The&#160;steering wheel and the turn signal arm can also be eliminated once the public gets used to reliability of these vehicles.</p><p>Each passenger will have a personal video display informing about a current location, the distance to your destination, speed and personal entertainment selections. The&#160;concept of &#8216;distracted driving&#8217; will disappear as there will be no reason to pay attention to where you are&#160;going.</p><p>Vehicle owners will no longer buy collision insurance since manufacturers will be solely responsible for damage. Owners will only need theft insurance and coverage for hail, falling objects or floods. To&#160;take this one step further, personal vehicle ownership may dramatically diminish. Car&#160;dealers will have lots full of vehicles for hire on a daily or hourly basis instead of vehicles for sale. When&#160;you need a car, you&#8217;ll summon one using your mobile phone. The&#160;closest unmanned vehicle will be dispatched to your home to take you where you need to go. When&#160;done, you&#8217;ll simply push the button for the unmanned vehicle to drive itself back to the rental&#160;lot.</p><p>The social and cultural impact of driverless cars could cause far more upheaval than any of us could imagine. Perhaps, it would be even greater than the impact the Internet had on commerce and communication. Obviously, the picture being painted is the one that assumes total adoption, which is far from realistic.</p><p>You will always have transitional delays caused by the lack of free cars, the longevity of today&#8217;s vehicles and cultural resistance.</p><p>This resembles the historical factors that affected the transition from horse to the automobile. At&#160;the moment, the driverless car seems like a novelty. However, it will open up new prospects. The&#160;prospect of flying cars may soon become a reality. With&#160;computer-controlled vehicles that strictly follow traffic rules, threedimensional roads become far less scary and more a matter of simply solving the technological challenge.</p><p>Where we&#8217;re going, we may not need roads at&#160;all.</p><h3>12</h3><p>According to the author driverless cars will become cheap enough for most people</p><p>to buy within the following&#8230; </p><ol><li>8 years.</li><li>15 years.</li><li>7 years.</li><li>20 years.</li></ol><p>Ответ: ___</p><h3>13</h3><p>Which of the following statements is TRUE, according to the&#160;text?</p><ol><li>A driverless car operator won&#8217;t be responsible for accidents.</li><li>The age required to operate a driverless car is likely to rise.</li><li>Driverless cars may increase the number of road accidents.</li><li>The driverless cars will be voice-activated.</li></ol><p>Ответ: ___</p><h3>14</h3><p>To operate a driverless car, their owners will be required to&#8230; </p><ol><li>set the destination on the GPS.</li><li>have experience in programming.</li><li>obtain a collision insurance.</li><li>have a special license.</li></ol><p>Ответ: ___</p><h3>15</h3><p>Which of the following, according to the author, will a driverless car&#160;have?</p><ol><li>Gas and brake pedals.</li><li>A steering wheel.</li><li>Video displays.</li><li>A turn signal arm.</li></ol><p>Ответ: ___</p><h3>16</h3><p>The author claims that with the introduction of driverless cars&#8230; </p><ol><li>personal vehicle ownership will increase.</li><li>the number of vehicles on the roads will diminish.</li><li>people will rent vehicles instead of buying them.</li><li>vehicle owners will spend more money on insurance.</li></ol><p>Ответ: ___</p><h3>17</h3><p>According to the author, driverless cars will be&#8230; </p><ol><li>as important socially as the Internet.</li><li>enthusiastically accepted by the people.</li><li>operated without transitional delays.</li><li>used by people with caution at first.</li></ol><p>Ответ: ___</p><h3>18</h3><p>The attitude of the author towards the driverless cars may be described as&#8230; </p><ol><li>optimistic.</li><li>negative.</li><li>indifferent.</li><li>unsure.</li></ol><p>Ответ: ___</p><table class="respond fit-width"><caption></caption><tbody><tr><td>По окончании выполнения заданий 10&#8212;18 не&#160;забудьте перенести свои ответы в&#160;БЛАНК ОТВЕТОВ &#8470;&#160;1! Запишите ответ справа от&#160;номера соответствующего задания, начиная с&#160;первой клеточки. При&#160;переносе ответов в&#160;заданиях 10&#160;и 11&#160;цифры записываются без пробелов, запятых и&#160;других дополнительных символов. Каждую цифру пишите в&#160;отдельной клеточке в&#160;соответствии с&#160;приведенными в&#160;бланке образцами.</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Раздел 3. Грамматика и&#160;лексика</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте приведенные ниже тексты. Преобразуйте, если необходимо, слова, напечатанные заглавными буквами в&#160;конце строк, обозначенных номерами 19&#8212;25, так, чтобы они грамматически соответствовали содержанию текстов. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию из&#160;группы 19&#8212;25.</td></tr></tbody></table><h4>The name of Alaska</h4><p>Do you know the origin of the place name Alaska? The&#160;name Alaska comes from the Aleut word alaxsxaq,</p><h3>19 MEAN</h3><p>&#8220;an object toward which the action of the sea is directed&#8221;&#8212;that is, the mainland.</p><p>It is also known as Alyeska, the &#8220;great land&#8221;, an Aleut&#160;word</p><h3>20 FORM</h3><p>from the same&#160;root.</p><p>Its nicknames are the Land of the Midnight Sun and America&#8217;s Last Frontier. Its&#160;first nicknames were &#8220;Seward&#8217;s folly&#8221; and &#8220;Seward&#8217;s icebox&#8221; to laugh at the secretary of state who negotiated the purchase of Alaska from Russia, which</p><h3>21 CONSIDER</h3><p>foolish at the&#160;time.</p><h4>A landmark for the new millennium</h4><p>Have you seen the photos of the London Eye? The&#160;London Eye is a giant observation&#160;wheel</p><h3>22 LOCATE</h3><p>in the Jubilee Gardens on the South Bank of the river Thames.</p><p>The structure</p><h3>23 DESIGN</h3><p>by the architectural team of David Marks and Julia Barfield, husband and&#160;wife.</p><p>They submitted their idea for a large observation wheel as part of a competition to design a landmark for the new millennium.</p><p>None of the entrants</p><h3>24 WIN</h3><p>the competition.</p><p>However, the couple pressed on and eventually got the backing of British Airways, who sponsored</p><h3>25 THEY</h3><p>project.</p><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте приведенный ниже текст. Образуйте от&#160;слов, напечатанных заглавными буквами в&#160;конце строк, обозначенных номерами 26&#8212;31, однокоренные слова, так, чтобы они грамматически и&#160;лексически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию из&#160;группы 26&#8212;31.</td></tr></tbody></table><h4>Pronunciation is important</h4><p>Some learners of English think that pronunciation is not very important. That&#160;is</p><h3>26 ABSOLUTE</h3><p>wrong.</p><p>Even if you have an acceptable grasp of the English language, with good grammar and&#160;an</p><h3>27 EXTEND</h3><p>vocabulary, native English speakers may find you very difficult to understand you if you don't work on your pronunciation.</p><p>Correct, clear pronunciation&#160;is</p><h3>28 ESSENCE</h3><p>if you really want to improve your level of English.</p><p>Pay particular attention to any sounds that you&#160;are</p><h3>29 FAMILIAR</h3><p>with or that do not exist in your native tongue.</p><p>For example,</p><h3>30 RUSSIA</h3><p>have difficulty pronouncing the &#8220;th&#8221; sound, as it does not exist in their native language.</p><p>Remember that the pronunciation of certain English words varies depending on the part of the world it's spoken in. For&#160;example, American English differs</p><h3>31 GREAT</h3><p>from British English.</p><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте текст с&#160;пропусками, обозначенными номерами 32&#8212;38. Эти&#160;номера соответствуют заданиям 32&#8212;38, в&#160;которых представлены возможные варианты ответов. Запишите в&#160;поле ответа цифру 1, 2, 3&#160;или 4, соответствующую выбранному Вами варианту ответа.</td></tr></tbody></table><h4>Mexico City</h4><p>Mexico City was hot and frantic with Olympic gamesmanship. The&#160;hotels were full but, fortunately, Kevin owned a country house just outside the city which&#160;we</p><h3>32 ___</h3><p>our headquarters. The&#160;Whites also had their home in Mexico City but they were more often than not at Kevin&#8217;s private palace.</p><p>I&#160;must</p><h3>33 ___</h3><p>that when Kevin decided to move he moved fast. Like&#160;a good general, he marshalled his army close to the point of impact; he spent a small fortune on telephone calls&#160;and</p><h3>34 ___</h3><p>in getting all we needed for the expedition in the shortest time possible. I&#160;had a fast decision to make, too. My&#160;job was a good one and I&#160;hated to give&#160;it</p><h3>35 ___</h3><p>unceremoniously, but Kevin was pushing hard. I</p><h3>36 ___</h3><p>my boss and he was good enough to give me six months&#8217; leave of absence. I&#160;deceived him in a way, I&#160;gave him the right destination but not the real reason for going there. Yet&#160;I think that going to Yucatan could be understood as looking</p><h3>37 ___</h3><p>my father&#8217;s estate.</p><p>Kevin also used resources that only money can buy. The&#160;thought of it made me a bit dizzy. Kevin was able to lift a telephone and set a private police force in motion. It&#160;made me open my eyes and think again. There was something about Kevin that got at me. Whatever it was, I&#160;preferred to keep it bottled up. Will&#160;I</p><h3>38 ___</h3><p>it in the future?</p><ol><li>used</li><li>kept</li><li>did</li><li>made</li></ol><p>Ответ: ___</p><ol><li>say</li><li>speak</li><li>tell</li><li>talk</li></ol><p>Ответ: ___</p><ol><li>achieved</li><li>succeeded</li><li>managed</li><li>fulfilled</li></ol><p>Ответ: ___</p><ol><li>on</li><li>in</li><li>up</li><li>to</li></ol><p>Ответ: ___</p><ol><li>glanced</li><li>looked</li><li>watched</li><li>saw</li></ol><p>Ответ: ___</p><ol><li>down</li><li>after</li><li>back</li><li>into</li></ol><p>Ответ: ___</p><ol><li>apologize</li><li>disappoint</li><li>dissatisfy</li><li>regret</li></ol><p>Ответ: ___</p><table class="respond fit-width"><caption></caption><tbody><tr><td>По окончании выполнения заданий 19&#8212;38 не&#160;забудьте перенести свои ответы в&#160;БЛАНК ОТВЕТОВ &#8470;&#160;1! Запишите ответ справа от&#160;номера соответствующего задания, начиная с&#160;первой клеточки. При&#160;переносе ответов в&#160;заданиях 19&#8212;31 буквы записываются без пробелов, запятых и&#160;других дополнительных символов. Каждую букву или цифру пишите в&#160;отдельной клеточке в&#160;соответствии с&#160;приведенными в&#160;бланке образцами.</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Раздел 4. Письмо</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td>Для ответов на&#160;задания 39&#160;и 40&#160;используйте бланк ответов &#8470;&#160;2. Черновые пометки могут делаться прямо на&#160;листе с&#160;заданиями, или можно использовать отдельный черновик. При&#160;выполнении заданий 39&#160;и 40&#160;особое внимание обратите на&#160;то, что Ваши ответы будут оцениваться только по&#160;записям, сделанным в&#160;БЛАНКЕ ОТВЕТОВ &#8470;&#160;2. Никакие записи черновика не&#160;будут учитываться экспертом. Обратите внимание также на&#160;необходимость соблюдения указанного объема текста. Тексты недостаточного объема, а&#160;также часть текста, превышающая требуемый объем, не&#160;оцениваются. Запишите сначала номер задания (39, 40), а&#160;затем ответ на&#160;него. Если&#160;одной стороны бланка недостаточно, Вы можете использовать другую его сторону.</td></tr></tbody></table><h3>39</h3><p>You have received a letter from your English-speaking pen-friend Nancy who writes:</p><table class="respond fit-width"><caption></caption><tbody><tr><td>&#8230; I&#160;hope you liked my New Year card. Where and how did you celebrate New year this time? What&#160;was the weather like? What&#8217;s your secret wish or at least hopes and expectations for the coming&#160;year? I&#8217;ve redecorated my room and it looks much nicer now&#8230; </td></tr></tbody></table><p>Write a letter to&#160;Nancy.</p><p>In your letter</p><ul><li>answer her questions</li><li>ask 3&#160;questions about the way her room looks now</li></ul><p>Write 100&#8212;140 words.</p><p>Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond fit-width"><caption></caption><tbody><tr><td>It&#8217;s not right to be strict with little children.</td></tr></tbody></table><p>What is your opinion? Do&#160;you agree with this statement?</p><p>Write 200&#8212;250 words.</p><p>Use the following plan:</p><ul><li>make an introduction (state the problem)</li><li>express your personal opinion and give 2&#8212;3 reasons for your opinion</li><li>express an opposing opinion and give 1&#8212;2 reasons for this opposing opinion</li><li>explain why you don&#8217;t agree with the opposing opinion</li><li>make a conclusion restating your position</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Тексты для аудирования</h2></div><div class="holder-hidden-layer"><p>Сейчас Вы будете выполнять задания по&#160;аудированию. Каждый&#160;текст прозвучит 2&#160;раза. После первого и&#160;второго прослушивания у&#160;Вас будет&#160;время для выполнения и&#160;проверки заданий. Все&#160;паузы включены в&#160;аудиозапись. Остановка и&#160;повторное воспроизведение аудиозаписи не&#160;предусмотрены. По окончании выполнения всего раздела &#171;Аудирование&#187; перенесите&#160;свои ответы в&#160;бланк ответов &#8470;&#160;1.</p><h3>Задание 1</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите 6&#160;высказываний. Установите соответствие между высказываниями каждого говорящего A&#8212;F и&#160;утверждениями, данными в&#160;списке 1&#8212;7. Используйте каждое утверждение, обозначенное соответствующей цифрой, только один раз. В&#160;задании есть одно лишнее утверждение. Вы&#160;услышите запись дважды. Занесите свои ответы в&#160;таблицу. У&#160;Вас есть 20&#160;секунд, чтобы ознакомиться с&#160;заданием.</td></tr></tbody></table><p>Now we are ready to&#160;start.</p><h4>Speaker A</h4><p>If you want to get new cultural and social experiences, the easiest, the fastest and the safest way is to go to a foreign country to teach English. If&#160;you have a university degree, an international certificate in English, a couple thousand dollars and about 3&#160;months, you can start your life in an exotic location. I&#8217;m going to do this and I&#160;know people who&#8217;ve done it and I&#160;know what I&#8217;m talking about. You&#160;never know what to expect in a foreign country, that&#8217;s true, but isn&#8217;t it challenging at the same&#160;time?</p><h4>Speaker B</h4><p>I was thinking about spending my gap year teaching English abroad but I&#160;had second thoughts about it. I&#160;was told that only experienced teachers can get a working visa, coverage for their cost-of-living and a decent job. After reading some interviews on what&#8217;s it like to teach English in immersion camps, I&#160;gave up on the idea completely. That&#8217;s not what I&#8217;m ready to put up with. My&#160;parents are happy about&#160;that.</p><h4>Speaker C</h4><p>English is my major but the rivalry is so tense in the trade market now that I&#8217;m thinking of going somewhere for a couple of years to gain more experience and improve my teaching skills. Taiwan seems a perfect choice as everything is included for an inexperienced teacher&#8212;visas, accommodation and high salary. I&#8217;m worried about getting a social life there&#8212;I speak only English and I&#160;wonder if I&#160;can find friends there apart from my future students.</p><h4>Speaker D</h4><p>My uncle, David Dune, is a teacher, writer and runner. He&#160;is an educator with over 17&#160;years of experience of teaching English as second and as a foreign language. He&#160;has taught and presented in Korea, Canada, France, and Ukraine. He&#160;specializes in Web 2.0 and using technology in the classroom. That&#160;must be an exciting life and the only thing I&#160;can think about is following in his footsteps. I&#160;hope he&#8217;ll share some secrets of being a good English teacher abroad.</p><h4>Speaker E</h4><p>I don&#8217;t remember how that magazine caught my sight but recently I&#160;read an interview with Neil Mullen who is a veteran English teacher in Japan. He&#160;started as a regular teacher and now he owns a school there. He&#160;is looking for new language teachers and I&#8217;m planning to send my CV. His&#160;e-mail address was included in the interview, not his personal address, of course. I&#160;just hope the e-mail won&#8217;t go to his spam folder and he&#8217;ll choose me as his employee.</p><h4>Speaker F</h4><p>People in my college are crazy about the idea of going to teach English somewhere in Thailand, China and what not. I&#160;listened to their heated discussions very attentively and understood it&#8217;s high risk. There are so many things to care about like visas, security, medication and cultural barriers. I&#8217;d better stay in the US to serve my country. In&#160;my view it&#8217;s more patriotic; besides, I&#8217;m not sure I&#160;can solve the problems connected with moving to another country.</p><p>You have 15&#160;seconds to complete the task. (Pause 15&#160;seconds.)</p><p>Now you will hear the texts again. (Repeat.)</p><p>This is the end of the task. You&#160;now have 15&#160;seconds to check your answers.</p><p>(Pause 15&#160;seconds.)</p><h3>Задание 2</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите диалог. Определите, какие из&#160;приведенных утверждений А&#8212;G соответствуют содержанию текста (1&#160;&#8212; True), какие не&#160;соответствуют (2&#160;&#8212; False) и&#160;о&#160;чем в&#160;тексте не&#160;сказано, то есть на&#160;основании текста нельзя дать ни&#160;положительного, ни&#160;отрицательного ответа (3&#160;&#8212; Not stated). Занесите номер выбранного Вами варианта ответа в&#160;таблицу. Вы&#160;услышите запись дважды. У&#160;Вас есть 20&#160;секунд, чтобы ознакомиться с&#160;заданием.</td></tr></tbody></table><p><span class="bolder">Peter:</span> Hi, Lucy! You&#160;weren&#8217;t at school today. What&#160;is the matter? I&#160;was worried about&#160;you.</p><p><span class="bolder">Lucy:</span> Hi, Peter. It&#8217;s nothing serious, actually. I&#160;just felt a bit sick in the morning, so my mom let me stay at&#160;home.</p><p><span class="bolder">Peter:</span> You poor thing! And&#160;are you feeling better&#160;now?</p><p><span class="bolder">Lucy:</span> Yeah, much better, thank you. I&#160;guess it must have been the pizza that I&#160;ate yesterday. That&#160;was the reason for my bad stomachache. I&#160;had too much. But&#160;now, yeah, I&#160;feel all right. I&#160;think I&#160;won&#8217;t have to miss any more lessons this&#160;week.</p><p><span class="bolder">Peter:</span> But you haven&#8217;t been to the doctor&#8217;s office, have you? Won&#8217;t you have problems at school because you missed classes? When&#160;I was ill last month, I&#160;brought a medical certificate to school.</p><p><span class="bolder">Lucy:</span> Well, my mom called our class teacher, so I&#160;don&#8217;t think there will be any problems. Besides we don&#8217;t have many lessons on Wednesdays. How&#160;was Geography, by the way? Did&#160;you take a&#160;test?</p><p><span class="bolder">Peter:</span> Oh, no, we didn&#8217;t, but we revised the material for the test. The&#160;teacher asked several people to do exercises with the map of the UK at the blackboard, and then we had a sort of contest in groups where we had to find different mountains, rivers and lakes&#8212;the quicker the better, that was fun! And&#160;we also checked our homework and asked the teacher questions if we were not sure about the answers. You&#160;know, I&#160;feel well-prepared for tomorrow&#8217;s test&#160;now.</p><p><span class="bolder">Lucy:</span> Wait a second! Are&#160;we going to take the test tomorrow? I&#160;can&#8217;t believe&#160;it!</p><p><span class="bolder">Peter:</span> Yes, our teacher said that we are starting a new topic next week, so we have to finish this one tomorrow. Do&#160;you need any help with geography?</p><p><span class="bolder">Lucy:</span> Uh, if you can lend me your exercise-book with notes and checked homework, that would save me&#160;hours.</p><p><span class="bolder">Peter:</span> I&#160;am afraid I&#160;can&#8217;t give you my exercise-book right now because I&#160;have to revise the material for the test myself. But&#160;if you call me in two hours, we could probably study for the test together.</p><p><span class="bolder">Lucy:</span> Sounds like a great idea. And&#160;thanks so much for offering to help. It&#8217;s so nice to have a friend like&#160;you.</p><p><span class="bolder">Peter:</span> No problem. See&#160;you later then. Bye&#160;for&#160;now.</p><p><span class="bolder">Lucy:</span> Bye, Peter.</p><p>You have 15&#160;seconds to complete the task. (Pause 15&#160;seconds.)</p><p>Now you&#8217;ll hear the text again. (Repeat.)</p><p>This is the end of the task. You&#160;now have 15&#160;seconds to check your answers.</p><p>(Pause 15&#160;seconds.)</p><h3>Задания 3&#8212;9</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите интервью. В&#160;заданиях 3&#8212;9 запишите в&#160;поле ответа цифру 1, 2&#160;или 3, соответствующую выбранному Вами варианту ответа. Вы&#160;услышите запись дважды. У&#160;Вас есть 50&#160;секунд, чтобы ознакомиться с&#160;заданиями.</td></tr></tbody></table><p>Now we are ready to&#160;start.</p><p><span class="bolder">Presenter:</span> Good afternoon, and here we are with our special program for teens where we explore advantages and disadvantages of all sorts of professions. Today we have Carl Fox, a travel agent. Hello, Carl!</p><p><span class="bolder">Carl Fox:</span> Good afternoon.</p><p><span class="bolder">Presenter:</span> So Carl, tell us a little bit about yourself.</p><p><span class="bolder">Carl Fox:</span> Well, as you already know, I&#8217;m a travel agent, and I&#160;work for one of the major chains on High Street. I&#8217;ve been with them for about 10&#160;years and while I&#8217;ve been working I&#8217;ve studied for a number of qualifications.</p><p><span class="bolder">Presenter:</span> What inspired you to become a travel&#160;agent?</p><p><span class="bolder">Carl Fox:</span> People often ask me why I&#160;decided to become a travel agent. As&#160;a young adult I&#160;loved travelling and worked for a while as a rep in Spain. When&#160;I came back to the UK I&#160;decided to stay within the travel industry, and my experience of working in resorts abroad helped me to get a job as a travel agent. I&#160;have to admit that one of the main reasons I&#160;wanted to be a travel agent was that we get cheap flights and holidays. It&#8217;s a great&#160;perk!</p><p><span class="bolder">Presenter:</span> I&#160;see. What&#160;are your responsibilities at your&#160;job?</p><p><span class="bolder">Carl Fox:</span> Basically, I&#8217;m a sales person. I&#160;advise people on the holiday options available to them, you know, different destinations, types of holiday, ways to get there, and so on. When&#160;customers have decided what they want, I&#160;book it for them and make any other arrangements they might need, such as car hire or tours. My&#160;responsibility doesn&#8217;t end there, though. I&#160;have to make sure that clients know if any visas are necessary, or if they will need vaccinations, and how to get them. If&#160;they are flying, I&#160;need to tell them what time they have to check in, and make sure they know what time they will be arriving. I&#160;also give information on likely weather conditions and anything else I&#160;think will be useful for&#160;them.</p><p><span class="bolder">Presenter:</span> That&#8217;s a lot to do! And&#160;I bet it&#8217;s getting more and more difficult to work in your sphere because of the rivalry.</p><p><span class="bolder">Carl Fox:</span> Well, not because the rivalry is too high, it&#8217;s the same everywhere. The&#160;point is that more and more customers want a tailor-made holiday, not just a package from a brochure. However, I&#160;love the challenge! It&#8217;s a lot more interesting for me if I&#160;can organize the whole thing&#8212;make out an itinerary, book flights, ferries, trains, accommodation and everything. I&#160;love providing a personalized service, especially if it&#8217;s to places that I&#160;know. I&#160;can really help customers get a great holiday that will be ideal for&#160;them.</p><p><span class="bolder">Presenter:</span> People who are going on holiday must be relaxed and easy to deal with, right?</p><p><span class="bolder">Carl Fox:</span> Generally yes, but not always. Sometimes I&#160;get difficult customers. One&#160;man came in wanting a flight to Venice the next day. I&#160;checked out times and fares on the computer, and found a very reasonable flight at a suitable time, so we booked it there and then. A&#160;week later he came in and he was absolutely furious. He&#160;wanted to know why I&#160;had flown him to Venice, in Italy, when he had had an important meeting in Vienna, which is in Austria. I&#160;didn&#8217;t know what to say, but since then I&#8217;ve always been careful to check that people really know where they want to&#160;go.</p><p><span class="bolder">Presenter:</span> That&#8217;s a case which is funny and sad at the same time and it&#8217;s hard to believe it after&#160;all.</p><p><span class="bolder">Carl Fox:</span> Don&#8217;t I&#160;know!</p><p><span class="bolder">Presenter:</span> Any downsides to your&#160;job?</p><p><span class="bolder">Carl Fox:</span> There must be some but I&#160;love my job so I&#160;simply don&#8217;t notice&#160;them.</p><p><span class="bolder">Presenter:</span> I&#160;see. Thank you very much, Carl.</p><p><span class="bolder">Carl Fox:</span> My pleasure.</p><p>You have 15&#160;seconds to complete the task. (Pause 15&#160;seconds.)</p><p>Now you will hear the text again. (Repeat.)</p><p>This is the end of the task. You&#160;now have 15&#160;seconds to check your answers.</p><p>(Pause 15&#160;seconds.)</p><p>This is the end of the Listening&#160;test.</p><p>Время, отведенное на&#160;выполнение заданий, истекло.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Ответы</h2></div><div class="holder-hidden-layer"><h3>Раздел 1. Аудирование</h3><table class="respond fit-width"><caption></caption><thead><tr><th>Номер задания</th><th>Ответ</th></tr></thead><tbody><tr><td data-label="Задание">1</td><td data-label="Ответ">643271</td></tr><tr><td data-label="Задание">2</td><td data-label="Ответ">2133121</td></tr><tr><td data-label="Задание">3</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">4</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">5</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">6</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">7</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">8</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">9</td><td data-label="Ответ">3</td></tr></tbody></table><h3>Раздел 2. Чтение</h3><table class="respond fit-width"><caption></caption><thead><tr><th>Номер задания</th><th>Ответ</th></tr></thead><tbody><tr><td data-label="Задание">10</td><td data-label="Ответ">8364512</td></tr><tr><td data-label="Задание">11</td><td data-label="Ответ">523741</td></tr><tr><td data-label="Задание">12</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">13</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">14</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">15</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">16</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">17</td><td data-label="Ответ">4</td></tr><tr><td data-label="Задание">18</td><td data-label="Ответ">1</td></tr></table><h3>Раздел 3. Грамматика и&#160;лексика</h3><table class="respond fit-width"><caption></caption><thead><tr><th>Номер задания</th><th>Ответ</th></tr></thead><tbody><tr><td data-label="Задание">19</td><td data-label="Ответ">meaning</td></tr><tr><td data-label="Задание">20</td><td data-label="Ответ">formed</td></tr><tr><td data-label="Задание">21</td><td data-label="Ответ">was considered</td></tr><tr><td data-label="Задание">22</td><td data-label="Ответ">located</td></tr><tr><td data-label="Задание">23</td><td data-label="Ответ">was designed</td></tr><tr><td data-label="Задание">24</td><td data-label="Ответ">won</td></tr><tr><td data-label="Задание">25</td><td data-label="Ответ">their</td></tr><tr><td data-label="Задание">26</td><td data-label="Ответ">absolutely</td></tr><tr><td data-label="Задание">27</td><td data-label="Ответ">extensive; extended</td></tr><tr><td data-label="Задание">28</td><td data-label="Ответ">essential</td></tr><tr><td data-label="Задание">29</td><td data-label="Ответ">unfamiliar</td></tr><tr><td data-label="Задание">30</td><td data-label="Ответ">Russians</td></tr><tr><td data-label="Задание">31</td><td data-label="Ответ">greatly</td></tr><tr><td data-label="Задание">32</td><td data-label="Ответ">4</td></tr><tr><td data-label="Задание">33</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">34</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">35</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">36</td><td data-label="Ответ">4</td></tr><tr><td data-label="Задание">37</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">38</td><td data-label="Ответ">4</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">Демонстрационный вариант ЕГЭ 2016&#160;г.&#160;АНГЛИЙСКИЙ ЯЗЫК, 11&#160;класс. &#169;&#160;2016 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/tests_ege_english_test_sample_speaking" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
