				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Демо-вариант ГИА-9 (ОГЭ)&#160;АЯ (ПЧ)</h1><p class="subhead">&#171;Демонстрационный вариант контрольных измерительных материалов для&#160;проведения в&#160;2016&#160;году государственной (итоговой) аттестации (в&#160;новой форме) по&#160;английскому языку с&#160;ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a2">Пояснения к&#160;демо-варианту письменной части</option>
												<option value="#a3">Инструкция по&#160;выполнению работы</option>
												<option value="#a4">Раздел 1&#160; (задания по&#160;аудированию)</option>
												<option value="#a5">Раздел 2&#160; (задания по&#160;чтению)</option>
												<option value="#a6">Раздел 3&#160; (задания по&#160;грамматике и&#160;лексике)</option>
												<option value="#a7">Раздел 4&#160; (задание по&#160;письму)</option>
												<option value="#a8">Тексты для аудирования</option>
												<option value="#a9">Ответы</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Пояснения к&#160;демо-варианту устной части</h2></div><div class="holder-hidden-layer"><p>При ознакомлении с&#160;демонстрационным вариантом 2016&#160;г. (ПЧ) следует иметь в&#160;виду, что задания, включенные в&#160;демонстрационный вариант, не&#160;отражают всех элементов содержания, которые будут проверяться с&#160;помощью вариантов КИМ в&#160;2016&#160;г.&#160;Полный перечень элементов содержания, которые могут контролироваться на&#160;экзамене 2016&#160;г., приведен в&#160;кодификаторе элементов содержания экзаменационной работы для выпускников IX&#160;классов общеобразовательных учреждений по&#160;английскому языку.</p><p>Демонстрационный вариант предназначен для того, чтобы дать возможность любому участнику экзамена и&#160;широкой общественности составить представление о&#160;структуре экзаменационной работы, числе и&#160;форме заданий, а&#160;также об их&#160;уровне сложности. Приведенные критерии оценивания выполнения заданий с&#160;развернутым ответом, включенные в&#160;демонстрационный вариант экзаменационной работы, позволят составить представление о&#160;требованиях к&#160;полноте и&#160;правильности записи развернутого ответа.</p><p>Эти сведения дают выпускникам возможность выработать стратегию подготовки к&#160;сдаче экзамена по&#160;английскому&#160;языку.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Инструкция по&#160;выполнению работы</h2></div><div class="holder-hidden-layer"><p>Письменная часть экзаменационной работы по&#160;английскому языку состоит из&#160;четырех разделов, включающих в&#160;себя 33&#160;задания.</p><p>На выполнение заданий письменной части экзаменационной работы отводится 2&#160;часа (120 минут).</p><p>В разделе 1&#160;(задания по&#160;аудированию) предлагается прослушать несколько текстов и&#160;выполнить 8&#160;заданий на&#160;понимание прослушанных текстов. Рекомендуемое время на&#160;выполнение заданий данного раздела&#160;&#8212; 30&#160;минут.</p><p>Раздел 2&#160;(задания по&#160;чтению) содержит 9&#160;заданий на&#160;понимание прочитанных текстов. Рекомендуемое время на&#160;выполнение заданий раздела&#160;&#8212; 30&#160;минут.</p><p>Раздел 3&#160;(задания по&#160;грамматике и&#160;лексике) состоит из 15&#160;заданий.</p><p>Рекомендуемое время на&#160;выполнение заданий раздела&#160;&#8212; 30&#160;минут.</p><p>Ответы к&#160;заданиям 3&#8212;8 и 10&#8212;17 записываются в&#160;виде одной цифры, которая соответствует номеру правильного ответа. Эту&#160;цифру запишите в&#160;поле ответа в&#160;тексте работы.</p><p>Ответы к&#160;заданиям 1, 2, 9, 18&#8212;32 записываются в&#160;виде последовательности цифр или слова (словосочетания) в&#160;поле ответа в&#160;тексте работы.</p><p>В случае записи неверного ответа на&#160;задания разделов 1&#8212;3 зачеркните его и&#160;запишите рядом&#160;новый.</p><p>В разделе 4&#160;(задание по&#160;письму) дано 1&#160;задание, предлагающее написать личное письмо. Задание выполняется на&#160;отдельном&#160;листе.</p><p>Рекомендуемое время на&#160;выполнение задания&#160;&#8212; 30&#160;минут.</p><p>При выполнении заданий можно пользоваться черновиком. Записи в&#160;черновике не&#160;учитываются при оценивании работы.</p><p>Баллы, полученные Вами за&#160;выполненные задания, суммируются. Постарайтесь выполнить как можно больше заданий и&#160;набрать наибольшее количество баллов.</p><p>Желаем успеха!</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Раздел 1&#160;(задания по&#160;аудированию)</h2></div><div class="holder-hidden-layer"><h3>1</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы два раза услышите четыре коротких диалога, обозначенных буквами А, B, C, D.&#160;Установите соответствие между диалогами и&#160;местами, где они происходят: к&#160;каждому диалогу подберите соответствующее место действия, обозначенное цифрами. Используйте каждое место действия из&#160;списка 1&#8212;5 только один раз. В&#160;задании есть одно лишнее место действия.</td></tr></tbody></table><ol><li>In a&#160;park</li><li>In a&#160;shop</li><li>In a&#160;vet clinic</li><li>In a&#160;hotel</li><li>At a&#160;party</li></ol><p>Запишите в&#160;таблицу выбранные цифры под соответствующими буквами.</p><p>Ответ:</p><table class="respond fit-width"><caption></caption><tbody><tr><td>Диалог</td><td>A</td><td>B</td><td>C</td><td>D</td></tr><tr><td>Место действия</td><td> </td><td> </td><td> </td><td> </td></tr></tbody></table><h3>2</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы два раза услышите пять высказываний, обозначенных буквами А, В, С, D, Е.&#160;Установите соответствие между высказываниями и&#160;утверждениями из&#160;следующего списка: к&#160;каждому высказыванию подберите соответствующее утверждение, обозначенное цифрами. Используйте каждое утверждение из&#160;списка 1&#8212;6 только один раз. В&#160;задании есть одно лишнее утверждение.</td></tr></tbody></table><ol><li>The speaker talks about his/her favourite subject.</li><li>The speaker talks about his/her after-class activities.</li><li>The speaker describes his/her school classroom.</li><li>The speaker explains how to use the school library.</li><li>The speaker describes a&#160;school book exhibition.</li><li>The speaker explains what his/her friend is angry about.</li></ol><p>Запишите в&#160;таблицу выбранные цифры под соответствующими буквами.</p><p>Ответ:</p><table class="respond fit-width"><caption></caption><tbody><tr><td>Говорящий</td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td></tr><tr><td>Утверждение</td><td> </td><td> </td><td> </td><td> </td><td> </td></tr></tbody></table><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите разговор двух подростков. В&#160;заданиях 3&#8212;8 в&#160;поле ответа запишите одну цифру, которая соответствует номеру правильного ответа. Вы&#160;услышите запись дважды.</td></tr></tbody></table><h3>3</h3><p>Where does Kevin&#8217;s family&#160;live?</p><ol><li>In Canada.</li><li>In France.</li><li>In Britain.</li></ol><p>Ответ: ___</p><h3>4</h3><p>Who is Kevin travelling&#160;with?</p><ol><li>His parents.</li><li>His class.</li><li>On his own.</li></ol><p>Ответ: ___</p><h3>5</h3><p>What is Kevin&#8217;s&#160;hobby?</p><ol><li>Tourism.</li><li>Sports.</li><li>Music.</li></ol><p>Ответ: ___</p><h3>6</h3><p>What kind of job does Kevin want to do in the future?</p><ol><li>He wants to be in show business.</li><li>He wants to be an IT engineer.</li><li>He wants to be a&#160;scientist.</li></ol><p>Ответ: ___</p><h3>7</h3><p>What is Kevin planning to do next&#160;year?</p><ol><li>To start university.</li><li>To continue school.</li><li>To travel abroad.</li></ol><p>Ответ: ___</p><h3>8</h3><p>What souvenirs has Kevin bought?</p><ol><li>Pictures of the city.</li><li>Printed T-shirts.</li><li>Souvenir mugs.</li></ol><p>Ответ: ___</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Раздел 2&#160;(задания по&#160;чтению)</h2></div><div class="holder-hidden-layer"><h3>9</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте тексты и&#160;установите соответствие между текстами и их&#160;заголовками: к&#160;каждому тексту, обозначенному буквами А&#8212;G, подберите соответствующий заголовок, обозначенный цифрами 1&#8212;8. Используйте каждую цифру только один раз. В&#160;задании есть один лишний заголовок.</td></tr></tbody></table><ol><li>The scientific explanation </li><li>The real shape </li><li>A lucky sign </li><li>Some tips </li><li>Places without rainbows</li><li>A personal vision</li><li>A bridge between worlds</li><li>Impossible to catch</li></ol><ul style="list-style-type:upper-alpha;"><li><p>Two people never see the same rainbow. Each&#160;person sees a&#160;different one. It&#160;happens because the raindrops are constantly moving so the rainbow is always changing too. Each&#160;time you see a&#160;rainbow it is unique and it will never be the same! In&#160;addition, everyone sees colours differently according to the light and how their eyes interpret&#160;it.</p></li><li><p>A rainbow is an optical phenomenon that is seen in the atmosphere. It&#160;appears in the sky when the sun&#8217;s light is reflected by the raindrops. A&#160;rainbow always appears during or immediately after showers when the sun is shining and the air contains raindrops. As&#160;a result, a&#160;spectrum of colours is seen in the sky. It&#160;takes the shape of a&#160;multicoloured&#160;arc.</p></li><li><p>Many cultures see the rainbow as a&#160;road, a&#160;connection between earth and heaven (the place where God lives). Legends say that it goes below the earth at the horizon and then comes back up again. In&#160;this way it makes a&#160;permanent link between what is above and below, between life and death. In&#160;some myths the rainbow is compared to a&#160;staircase connecting earth to heaven.</p></li><li><p>We all believe that the rainbow is arch-shaped. The&#160;funny thing is that it&#8217;s actually a&#160;circle. The&#160;reason we don&#8217;t see the other half of the rainbow is because we cannot see below the horizon. However, the higher we are above the ground, the more of the rainbow&#8217;s circle we can see. That&#160;is why, from an airplane in flight, a&#160;rainbow will appear as a&#160;complete circle with the shadow of the airplane in the centre.</p></li><li><p>In many cultures there is a&#160;belief that seeing a&#160;rainbow is good. Legends say that if you dig at the end of a&#160;rainbow, you&#8217;ll find a&#160;pot of gold. Rainbows are also seen after a&#160;storm, showing that the weather is getting better, and there is hope after the storm. This&#160;is why they are associated with rescue and good fortune. If&#160;people happen to get married on such a&#160;day, it is said that they will enjoy a&#160;very happy life together.</p></li><li><p>You can never reach the end of a&#160;rainbow. A&#160;rainbow is all light and water. It&#160;is always in front of you while your back is to the sun. As&#160;you move, the rainbow that your eye sees moves as well and it will always &#8216;move away&#8217; at the same speed that you are moving. No&#160;matter how hard you try, a&#160;rainbow will always be as far away from you as it was before you started to move towards&#160;it.</p></li><li><p>To see a&#160;rainbow you have to remember some points. First, you should be standing with the sun behind you. Secondly, the rain should be in front of you. The&#160;most impressive rainbows appear when half of the sky is still dark with clouds and the other half is clear. The&#160;best time to see a&#160;rainbow is on a&#160;warm day in the early morning after sunrise or late afternoon before sunset. Rainbows are often seen near waterfalls and fountains.</p></li></ul><p>Запишите в&#160;таблицу выбранные цифры под соответствующими буквами.</p><table class="respond fit-width"><caption></caption><tbody><tr><td>Текст</td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td></tr><tr><td>Заголовок</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr></tbody></table><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте текст. Определите, какие из&#160;приведенных утверждений 10&#8212;17 соответствуют содержанию текста (1&#160;&#8212; True), какие не&#160;соответствуют (2&#160;&#8212; False) и о&#160;чем в&#160;тексте не&#160;сказано, то есть на&#160;основании текста нельзя дать ни&#160;положительного, ни&#160;отрицательного ответа (3&#160;&#8212; Not stated). В&#160;поле ответа запишите одну цифру, которая соответствует номеру правильного ответа.</td></tr></tbody></table><h4>The Best Job in the World</h4><p>Have you ever heard of the Great Barrier Reef? It&#160;is the world&#8217;s largest coral reef system along the eastern coast of Australia. In&#160;February 2009&#160;an extraordinary position was advertised by the Australian Tourism Office. The&#160;advertisement ran that the Great Barrier Reef needed a&#160;caretaker for half a&#160;year. It&#160;was for a&#160;special person who would look after the&#160;Reef.</p><p>The job offered a&#160;large salary, free accommodation in a&#160;luxury villa, and transportation there and around the islands. All&#160;expenses would be paid: the winner wouldn&#8217;t need to spend any extra money on anything.</p><p>The job&#8217;s duties were pretty simple. You&#160;could only dream of such requirements. First, the person had to speak English and swim well. Second, on the island his responsibility included writing a&#160;weekly Internet blog. That&#8217;s right, weekly, not even daily! The&#160;job description also required the successful applicant to explore the islands of the Great Barrier Reef, swim, make friends with the locals and generally enjoy the tropical climate and lifestyle. A&#160;real&#160;dream!</p><p>Within the first 2&#160;days of the contest, the tourism office received more than seven thousand online applications. All&#160;told, 34,000 people of all different nationalities applied. Each&#160;made and presented a&#160;60-second video resume. They&#160;had to be creative and they were. In&#160;the end 16&#160;people were chosen, who flew to Australia for the final selection. The&#160;candidates were interviewed and the winner was Ben Southall from the&#160;UK.</p><p>Ben greatly enjoyed the dream job he had got. He&#160;realised that people knew very little about planet earth and its treasures. Living in big cities, they forgot how important the flora and fauna of this world were. Every time Ben went outdoors, he could discover something new. &#8220;Every time I&#160;dived or went underwater, I&#160;forgot about all the troubles above water and concentrated on living in the moment. It&#160;was a&#160;good way to clean the mind and build respect for the natural world,&#8221; Ben&#160;said.</p><p>Ben&#8217;s life on the island was not just fun. It&#160;was very busy, busier than most people imagined, and certainly busier than Ben himself had imagined. He&#160;worked seven days a&#160;week and up to 19&#160;hours a&#160;day. The&#160;Best Job included travelling to over 60&#160;islands of the Reef almost every day. It&#160;was not just looking after the Reef, Ben had a&#160;lot of meetings, press conferences and interviews. He&#160;was getting a&#160;lot of attention all the time and he couldn&#8217;t get away from it. That&#160;was probably the hardest part of the&#160;job.</p><p>Moreover, any adventure has a&#160;certain degree of risk. Swimming and diving on the Great Barrier Reef was not different. Ben&#160;had to deal with whales, sharks and other huge sea creatures. Surprisingly, the most dangerous thing was a&#160;small jellyfish about the size of a&#160;little finger. It&#8217;s considered to be extremely poisonous and Ben was stung by it. He&#160;had to spend a&#160;couple of days in hospital but luckily recovered after a&#160;course of antibiotics.</p><p>Ben often says that the project has taught him a&#160;few valuable lessons. Working with the Internet is one of those jobs you can do 24&#160;hours a&#160;day. Ben&#160;realised it was hard to separate life and work, but this he had to do. He&#160;also said: &quot;I&#8217;ve learned that we get one life on earth so we have to use it. There&#8217;ll always be other countries to visit, other people to meet and other adventures to meet. This&#160;is what I&#160;wish to do. I&#8217;m planning to go to Asia in a&#160;few years time&quot;.</p><h3>10</h3><p>The Australian Tourism Office employs a&#160;new caretaker twice a&#160;year.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>11</h3><p>There was no Internet on the islands of the Great Barrier&#160;Reef.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>12</h3><p>People from different countries applied for the&#160;job.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>13</h3><p>Ben Southall was a&#160;good swimmer.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>14</h3><p>While working as a&#160;caretaker Ben Southall had lots of free&#160;time.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>15</h3><p>To do his job Ben Southall had to communicate with journalists.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>16</h3><p>Ben Southhall was taken to hospital after a&#160;shark attack.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p><h3>17</h3><p>Ben Southall is going to make a&#160;film about his work on the islands.</p><p>1) True 2) False 3) Not stated</p><p>Ответ: ___</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Раздел 3&#160;(задания по&#160;грамматике и&#160;лексике)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте приведенный ниже текст. Преобразуйте слова, напечатанные заглавными буквами в&#160;конце строк, обозначенных номерами 18&#8212;26, так, чтобы они грамматически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 18&#8212;26.</td></tr></tbody></table><p>Once there were four children whose names were Peter, Susan, Edmund and Lucy. This&#160;story happened&#160;to</p><h3>18 THEY</h3><p>when they had to leave their home city, London, during the&#160;war.</p><p>They</p><h3>19 SEND</h3><p> to the house of an old Professor who lived in the country, ten miles from the nearest railway station.</p><p>He</p><h3>20 NOT/HAVE</h3><p>a wife and he lived in a&#160;very large house with a&#160;housekeeper.</p><p>He himself was a&#160;very old man with white hair which grew over most of his face as well as on his head. The&#160;children liked him almost at once. Only&#160;Lucy, who was&#160;the</p><h3>21 YOUNG</h3><p>of them, felt a&#160;little afraid of&#160;him.</p><p>On&#160;their</p><h3>22 ONE</h3><p>evening, after dinner, they said good night to the Professor and went upstairs. It&#160;was the largest house they had ever seen, so Peter suggested exploring it in the morning.</p><p>When the next morning came, there was a&#160;steady rain falling.</p><p>&#8220;I wish the weather</p><h3>23 BE</h3><p>more cheerful!&#8221; said Edmund.</p><p>&#8220;Stop complaining, Ed,&#8221; said Susan. &#8220;I think the weather</p><h3>24 IMPROVE</h3><p>soon.&#8221;</p><p>&#8220;We were going to explore the house,&#8221; Peter reminded&#160;them.</p><p>He</p><h3>25 EAT</h3><p>a sandwich at the moment and was absolutely happy with the whole situation.</p><p>Everyone nodded and at that point their amazing adventures</p><h3>26 BEGIN</h3><p>.</p><table class="respond fit-width"><caption></caption><tbody><tr><td>Прочитайте приведенный ниже текст. Преобразуйте слова, напечатанные заглавными буквами в&#160;конце строк, обозначенных номерами 27&#8212;32, так, чтобы они грамматически и&#160;лексически соответствовали содержанию текста. Заполните пропуски полученными словами. Каждый пропуск соответствует отдельному заданию 27&#8212;32.</td></tr></tbody></table><p>People travel a&#160;lot nowadays. Planes are considered to be the&#160;most</p><h3>27 COMFORT</h3><p>means of transport but for some people airports can be a&#160;nightmare.</p><p>There&#160;are</p><h3>28 END</h3><p>queues when you check in and you waste lots of time if your flight is delayed.</p><p>However, there are some airports where you&#160;can</p><h3>29 ACTUAL</h3><p>enjoy yourself.</p><p>For example, you&#8217;ll never be bored at Hong Kong&#8217;s international airport. There are thousands of people&#160;from</p><h3>30 DIFFER</h3><p>countries here but the passengers never experience any problems because everything is well organised.</p><p>There are attendants in red coats, who help you to get from one place to another. It&#8217;s very good for people with no sense&#160;of</p><h3>31 DIRECT</h3><p>.</p><p>The attendants are always very polite&#160;and</p><h3>32 HELP</h3><p>.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Раздел 4&#160;(задание по&#160;письму)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td>Для ответа на&#160;задание 33&#160;используйте отдельный лист. При&#160;выполнении задания 33&#160;особое внимание обратите на&#160;то, что Ваши ответы будут оцениваться только по&#160;записям, сделанным на&#160;отдельном чистом листе. Никакие записи черновика не&#160;будут учитываться экспертом. Обратите внимание также на&#160;необходимость соблюдения указанного объема письма. Письма недостаточного объема, а&#160;также часть текста письма, превышающая требуемый объем, не&#160;оцениваются.</td></tr></tbody></table><h3>33</h3><p>You have 30&#160;minutes to do this&#160;task.</p><p>You have received a&#160;letter from your English-speaking pen friend, Ben.</p><table class="respond fit-width"><caption></caption><tbody><tr><td>&#8230; I&#160;am very busy now preparing for my exams but yesterday I&#160;went to the cinema with my friends. We&#160;saw a&#160;new film about Sherlock Holmes. You&#8217;ve probably seen it too&#8230; What&#160;kinds of films do you like? Where do you prefer watching films&#8212;in the cinema or at home and why? What&#160;would you make a&#160;film about if you had a&#160;chance?..</td></tr></tbody></table><p>Write him a&#160;letter and answer his 3&#160;questions.</p><p>Write 100&#8212;120 words. Remember the rules of letter writing.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Тексты для аудирования</h2></div><div class="holder-hidden-layer"><p>Сейчас Вы будете выполнять задания по&#160;аудированию. Каждый текст прозвучит два раза. После первого и&#160;второго прослушиваний у&#160;Вас будет время для выполнения и&#160;проверки заданий. Все&#160;паузы включены в&#160;аудиозапись. Остановка и&#160;повторное воспроизведение аудиозаписи не&#160;предусмотрены.</p><h3>Задание 1</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы два раза услышите четыре коротких диалога, обозначенных буквами А, B, C, D.&#160;Установите соответствие между диалогами и&#160;местами, где они происходят: к&#160;каждому диалогу подберите соответствующее место действия, обозначенное цифрами. Используйте каждое место действия из&#160;списка 1&#8212;5 только один раз. В&#160;задании есть одно лишнее место действия. Запишите в&#160;таблицу выбранные цифры под соответствующими буквами. У&#160;Вас есть 20&#160;секунд, чтобы ознакомиться с&#160;заданием.</td></tr></tbody></table><p>Now we are ready to&#160;start.</p><h4>Dialogue А</h4><p><span class="bolder">A:</span> Can I&#160;help&#160;you?</p><p><span class="bolder">B:</span> Yes, please. You&#160;see, I&#160;want to adopt a&#160;puppy, but I&#160;don&#8217;t know much about dogs or how to take care of&#160;them.</p><p><span class="bolder">A:</span> Right. I&#160;can recommend this book. Have&#160;a look&#8212;it gives a&#160;detailed description of the most popular breeds of dog so that you can choose which is the best for&#160;you.</p><p><span class="bolder">B:</span> Oh, and it also contains very good pictures! These puppies are so cute! Yes, I&#8217;m taking it&#8230; though the price is rather high&#8230; Anyway.</p><p><span class="bolder">A:</span> The cash-desk is over&#160;there.</p><p><span class="bolder">B:</span> Fine. Thank&#160;you.</p><h4>Dialogue B</h4><p><span class="bolder">A:</span> I&#8217;ve got a&#160;complaint, I&#8217;m afraid.</p><p><span class="bolder">B:</span> What&#8217;s happened, sir? Just&#160;let us know. We&#160;do everything we can to keep our guests&#160;happy.</p><p><span class="bolder">A:</span> The problem is&#8230; that&#8230; there&#8217;s a&#160;dog in the room next to&#160;mine.</p><p><span class="bolder">B:</span> Yes, and what&#8217;s the actual problem? Many&#160;of our visitors choose us for just that reason. We&#160;admit pets which is very convenient for those who travel with animals.</p><p><span class="bolder">A:</span> But why did nobody tell me about that? The&#160;dog barks! I&#160;can&#8217;t sleep properly at&#160;night.</p><p><span class="bolder">B:</span> Sorry, sir. But&#160;the only thing we can do is to offer you another room. I&#8217;ll just check which one would be quieter.</p><h4>Dialogue C</h4><p><span class="bolder">A:</span> It&#8217;s pretty cold today, isn&#8217;t&#160;it?</p><p><span class="bolder">B:</span> Yes, it is. But&#160;I&#8217;ve got used to walking in any weather.</p><p><span class="bolder">A:</span> Is it because you have to walk your&#160;dog?</p><p><span class="bolder">B:</span> Yes. Twice a&#160;day, at least. We&#160;are heading to the pond at the moment&#8212;there are special facilities for dogs there, like ladders and ramps. Are&#160;you going there&#160;too?</p><p><span class="bolder">A:</span> Oh, no, I&#8217;m going home. That&#8217;s enough jogging for me for today. Too&#160;cold!</p><h3>Dialogue D</h3><p><span class="bolder">A:</span> Are you leaving? So&#160;soon?</p><p><span class="bolder">B:</span> Yeah. I&#160;have to. I&#160;need to walk my dog and he won&#8217;t accept any excuses on my&#160;part.</p><p><span class="bolder">A:</span> Yeah, I&#160;understand&#8230; What&#160;kind of dog have you&#160;got?</p><p><span class="bolder">B:</span> A Labrador. He&#8217;s very clever but hates it if we don&#8217;t follow his routine.</p><p><span class="bolder">A:</span> That&#8217;s a&#160;shame&#8230; I&#160;mean that you are leaving&#8230; because it&#8217;s so cool here. And&#160;the music is&#160;great.</p><p><span class="bolder">B:</span> Ok. Just&#160;one more dance and I&#8217;ll be&#160;off.</p><p><span class="bolder">A:</span> Yay! A&#160;good decision.</p><p>You have 20&#160;seconds to complete the task. (Pause 20&#160;seconds.)</p><p>Now you will listen to the dialogues again. (Repeat.)</p><p>This is the end of the task. You&#160;now have 20&#160;seconds to check your answers.</p><p>(Pause 20&#160;seconds.)</p><h3>Задание 2</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы два раза услышите пять высказываний, обозначенных буквами А, В, С, D, Е.&#160;Установите соответствие между высказываниями и&#160;утверждениями из&#160;списка: к&#160;каждому высказыванию подберите соответствующее утверждение, обозначенное цифрами. Используйте каждое утверждение из&#160;списка 1&#8212;6 только один раз. В&#160;задании есть одно лишнее утверждение. Запишите в&#160;таблицу выбранные цифры под соответствующими буквами. У&#160;Вас есть 30&#160;секунд, чтобы ознакомиться с&#160;заданием.</td></tr></tbody></table><h4>Speaker A</h4><p>It&#8217;s large and spacious. There is a&#160;whiteboard, desks and a&#160;teacher&#8217;s table but the most interesting feature is the special graffiti wall. We&#160;can write all kinds of questions on the material we are studying at the moment. For&#160;example, if you don&#8217;t understand something, you can write your question on the wall and another student or teacher writes the answer.</p><h4>Speaker B</h4><p>I&#8217;m always glad to come to this room some time before the lesson and study the maps on the walls and samples of stones and rocks on the shelves. Yes, I&#160;find geography very interesting and it&#8217;s not a&#160;problem for me to spend hours writing out facts about famous travellers and their discoveries. My&#160;favourite classroom activity is studying and completing&#160;maps.</p><h4>Speaker C</h4><p>My grade for the Maths test was unusually high but I&#8217;m not happy about it at all. My&#160;friend Tracy isn&#8217;t talking to me because of this. The&#160;thing is that in the exam room I&#160;sat next to Tracy and she&#8217;s sure I&#160;copied the answers from her paper. That&#8217;s not true but she doesn&#8217;t believe me. She&#160;thinks I&#160;cheated and she hates any dishonesty.</p><h4>Speaker D</h4><p>I study in a&#160;large and modern school with well equipped classrooms, a&#160;good gym and a&#160;swimming pool. The&#160;latter are very important for me because I&#160;use them practically every day. When&#160;the lessons are over, my friend and I&#160;go to the gym to exercise or to play volleyball. Twice a&#160;week I&#160;have a&#160;swimming class and my friend does all kinds of experiments in the school chemistry laboratory.</p><h4>Speaker E</h4><p>Students&#8217; performance depends a&#160;lot on their ability to research and look for information by themselves. On&#160;the shelves the books are arranged in the alphabetical order. To&#160;find the book you need to know the author. There is also an electronic catalogue and access to the internet resources. Just&#160;type in the key word to find whatever you&#160;want.</p><p>You have 30&#160;seconds to complete the task. (Pause 30&#160;seconds.)</p><p>Now you will listen to the texts again. (Repeat.)</p><p>This is the end of the task. You&#160;now have 20&#160;seconds to check your answers.</p><p>(Pause 20&#160;seconds.)</p><h3>Задания 3&#8212;8</h3><table class="respond fit-width"><caption></caption><tbody><tr><td>Вы услышите разговор двух подростков. В&#160;заданиях 3&#8212;8 в&#160;поле ответа запишите одну цифру, которая соответствует номеру правильного ответа. Вы&#160;услышите запись дважды. У&#160;Вас есть 60&#160;секунд, чтобы ознакомиться с&#160;заданиями.</td></tr></tbody></table><p>Now we are ready to&#160;start.</p><p><span class="bolder">Kevin:</span> Hi! I&#8217;m Kevin. Can&#160;I sit&#160;here?</p><p><span class="bolder">Kate:</span> Yes, sure.</p><p><span class="bolder">Kevin:</span> And what&#8217;s your&#160;name?</p><p><span class="bolder">Kate:</span> Kate.</p><p><span class="bolder">Kevin:</span> Is this your first visit to&#160;Paris?</p><p><span class="bolder">Kate:</span> Yes, I&#8217;m from Canada and this is my first visit to Europe or anywhere else. I&#8217;ve never been abroad before and everything seems very exciting. And&#160;where are you&#160;from?</p><p><span class="bolder">Kevin:</span> From Liverpool. My&#160;family&#8217;s lived in that part of England for ages and we seldom travel anywhere either.</p><p><span class="bolder">Kate:</span> My parents are completely different; they travel a&#160;lot because of their job, but they&#8217;ve never taken me with&#160;them.</p><p><span class="bolder">Kevin:</span> I&#160;see.</p><p><span class="bolder">Kate:</span> But this time we are travelling all together as a&#160;family. Today we are going to have a&#160;guided excursion of the historical part of Paris. Are&#160;you here on your&#160;own?</p><p><span class="bolder">Kevin:</span> No. It&#8217;s a&#160;school trip. The&#160;whole class are here and two teachers to supervise&#160;us.</p><p><span class="bolder">Kate:</span> Oh, it must be interesting travelling in a&#160;large&#160;group.</p><p><span class="bolder">Kevin:</span> Yeah. We&#160;were awarded this trip when we won the city competition.</p><p><span class="bolder">Kate:</span> Was it a&#160;sports competition?</p><p><span class="bolder">Kevin:</span> No, it was a&#160;competition for school rock&#160;bands.</p><p><span class="bolder">Kate:</span> You&#8217;re a&#160;musician?</p><p><span class="bolder">Kevin:</span> Sort of. In&#160;our band I&#160;play the&#160;drums.</p><p><span class="bolder">Kate:</span> Do you see music as your career? Everyone nowadays wants to be either a&#160;celebrity or a&#160;computer genius.</p><p><span class="bolder">Kevin:</span> Not in my case. Music is just for fun. I&#8217;m deeply interested in physics and biology. I&#160;think that absolutely fantastic discoveries are awaiting us in these fields. They&#160;could completely change our idea of the universe and of ourselves.</p><p><span class="bolder">Kate:</span> So, you want to do scientific research?</p><p><span class="bolder">Kevin:</span> Exactly.</p><p><span class="bolder">Kate:</span> But that means getting a&#160;very good education&#8230; </p><p><span class="bolder">Kevin:</span> Yes. This&#160;is my last year at school and I&#160;hope to start my university course this summer. I&#8217;ve got good grades and it makes my plan sound quite realistic.</p><p><span class="bolder">Kate:</span> Yes, it looks like a&#160;good one. You&#160;seem to have planned your life very well. I&#160;can&#8217;t even make up my mind on what souvenirs to buy for my friends back&#160;home&#8230; </p><p><span class="bolder">Kevin:</span> I&#8217;ve found a&#160;shop with some old photos of the city. I&#160;bought several pictures there as gifts for my friends. They&#8217;re not expensive and the images are lovely.</p><p><span class="bolder">Kate:</span> Yeah, I&#160;think that would be better than heavy souvenir mugs or T-shirts with prints. Could you tell me where the shop&#160;is?</p><p>You have 30&#160;seconds to complete the task. (Pause 30&#160;seconds.)</p><p>Now you&#8217;ll hear the text again. (Repeat.)</p><p>This is the end of the task. You&#160;now have 30&#160;seconds to check your answers.</p><p>(Pause 30&#160;seconds.)</p><p>This is the end of the Listening&#160;Test.</p><p>Время, отведенное на&#160;выполнение заданий по&#160;аудированию, истекло.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a9">Ответы</h2></div><div class="holder-hidden-layer"><p>За верное выполнение каждого из&#160;заданий 3&#8212;8, 10&#8212;32 экзаменуемый получает 1&#160;балл. Если&#160;в&#160;кратком ответе сделана орфографическая ошибка, ответ считается неверным. За&#160;неверный ответ или отсутствие ответа выставляется 0&#160;баллов.</p><p>В заданиях 1, 2, 9&#160;оценивается каждое правильно установленное соответствие. За&#160;выполнение задания 1&#160;экзаменуемый может получить от 0&#160;до 4&#160;баллов; за&#160;задание 2&#160;&#8212; от 0&#160;до 5&#160;баллов; за&#160;задание 9&#160;&#8212; от 0&#160;до 7&#160;баллов.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Номер задания</th><th>Ответ</th></tr></thead><tbody><tr><td data-label="Задание">1</td><td data-label="Ответ">2415</td></tr><tr><td data-label="Задание">2</td><td data-label="Ответ">31624</td></tr><tr><td data-label="Задание">3</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">4</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">5</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">6</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">7</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">8</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">9</td><td data-label="Ответ">6172384</td></tr><tr><td data-label="Задание">10</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">11</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">12</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">13</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">14</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">15</td><td data-label="Ответ">1</td></tr><tr><td data-label="Задание">16</td><td data-label="Ответ">2</td></tr><tr><td data-label="Задание">17</td><td data-label="Ответ">3</td></tr><tr><td data-label="Задание">18</td><td data-label="Ответ">them</td></tr><tr><td data-label="Задание">19</td><td data-label="Ответ">were sent</td></tr><tr><td data-label="Задание">20</td><td data-label="Ответ">did not have&lt;или&gt;didn&#8217;t have&lt;или&gt;hadn&#8217;t&lt;или&gt;had not</td></tr><tr><td data-label="Задание">21</td><td data-label="Ответ">youngest</td></tr><tr><td data-label="Задание">22</td><td data-label="Ответ">first</td></tr><tr><td data-label="Задание">23</td><td data-label="Ответ">was&lt;или&gt;were</td></tr><tr><td data-label="Задание">24</td><td data-label="Ответ">will improve&lt;или&gt;&#8216;ll improve&lt;или&gt;is going to improve</td></tr><tr><td data-label="Задание">25</td><td data-label="Ответ">was eating</td></tr><tr><td data-label="Задание">26</td><td data-label="Ответ">began</td></tr><tr><td data-label="Задание">27</td><td data-label="Ответ">comfortable</td></tr><tr><td data-label="Задание">28</td><td data-label="Ответ">endless</td></tr><tr><td data-label="Задание">29</td><td data-label="Ответ">actually</td></tr><tr><td data-label="Задание">30</td><td data-label="Ответ">different</td></tr><tr><td data-label="Задание">31</td><td data-label="Ответ">direction</td></tr><tr><td data-label="Задание">32</td><td data-label="Ответ">helpful</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">Демонстрационный вариант ГИА (ОГЭ) 2016&#160;г.&#160;АНГЛИЙСКИЙ ЯЗЫК, 11&#160;класс. &#169;&#160;2016 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/tests_gia_english_test_sample_speaking" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
