				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Фразовые глаголы</h1><p class="subhead">Значение фразового глагола отличается от&#160;значения глагола без послелога, например, &#171;look&#187;&#160;&#8212; &#171;глядеть&#187;, но &#171;look up&#187;&#160;&#8212; &#171;просматривать&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Основы</option>
												<option value="#a2">Шаблоны</option>
												<option value="#a3">Послелоги</option>
												<option value="#a4">Значение</option>
												<option value="#a5">Синонимы</option>
												<option value="#a6">Существительные от&#160;фразовых глаголов</option>
												<option value="#a7">Come</option>
												<option value="#a8">Get</option>
												<option value="#a9">With</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Основы</h2></div><div class="holder-hidden-layer"><p>Фразовый&#160;глагол состоит из&#160;глагола и&#160;послелога.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Глагол</th><th>Послелог</th><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Глагол">look</td><td data-label="Послелог">up</td><td data-label="Пример"><span class="italic">You can <span class="bolder">look up</span> any new words in your dictionary.</span></td><td data-label="Значение">You can find the meaning of any new words in your dictionary.</td></tr><tr><td data-label="Глагол">get</td><td data-label="Послелог">through</td><td data-label="Пример"><span class="italic">I tried to phone her but I&#160;couldn&#8217;t get through.</span></td><td data-label="Значение">I tried to phone her but I&#160;couldn&#8217;t get a&#160;connection.</td></tr><tr><td data-label="Глагол">make</td><td data-label="Послелог">out</td><td data-label="Пример"><span class="italic">I just can&#8217;t <span class="bolder">make</span> Jim <span class="bolder">out</span> at all.</span></td><td data-label="Значение">I just can&#8217;t understand Jim&#8217;s behaviour.</td></tr></tbody></table><p>Послелог&#160;&#8212; это наречие или предлог: <span class="bolder">about&#160;/ (a)round&#160;/ at&#160;/ away&#160;/ back&#160;/ down&#160;/ for&#160;/ in&#160;/ into&#160;/ off&#160;/ on&#160;/ out&#160;/ over&#160;/ through&#160;/ to&#160;/ up</span></p><p>Значение фразового глагола отличается от&#160;значения глагола без послелога, например, <span class="bolder">look</span>&#160;&#8212; &#171;глядеть&#187;, но <span class="bolder">look up</span>&#160;&#8212; &#171;просматривать&#187;.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Шаблоны</h2></div><div class="holder-hidden-layer"><p>Помните шаблоны&#160;&#8212; с&#160;каким дополнением (объектом) может или не&#160;может сочетаться каждый фразовый&#160;глагол:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Шаблон</th><th>Пояснение</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Шаблон">eat out</td><td data-label="Пояснение">без дополнения</td><td data-label="Пример"><span class="italic">We were too tired to cook at home so we decided to eat out. [eat in a&#160;restaurant]<br />Not: We decided to eat out a&#160;meal.</span></td></tr><tr><td data-label="Шаблон">bring back <span class="bolder">smth.</span> or bring <span class="bolder">smth.</span> back</td><td data-label="Пояснение">с&#160;неодушевленным объектом</td><td data-label="Пример"><span class="italic">This photograph <span class="bolder">brings back</span> happy memories. [makes me remember or think about something from the past]<br />Not: This photograph brings back my sister.</span></td></tr><tr><td data-label="Шаблон">ask out <span class="bolder">smb.</span> or ask <span class="bolder">smb.</span> out</td><td data-label="Пояснение">с&#160;одушевленным объектом</td><td data-label="Пример"><span class="italic">I&#8217;d love to ask <span class="bolder">Sally</span> out. [invite Sally to go to a&#160;place like a&#160;cinema or a&#160;restaurant]<br />Not: I&#8217;d love to ask my dog out.</span></td></tr><tr><td data-label="Шаблон">look after <span class="bolder">smb.&#160;/ smth.</span></td><td data-label="Пояснение">либо с&#160;одушевленным, либо с&#160;неодушевленным объектом</td><td data-label="Пример"><span class="italic">I&#8217;ll <span class="bolder">look after</span> the baby while you&#8217;re cooking.<br />Will you <span class="bolder">look after</span> my bike while I&#8217;m away?</span></td></tr><tr><td data-label="Шаблон">ring <span class="bolder">smb.</span> back</td><td data-label="Пояснение">с&#160;одушевленным объектом перед послелогом</td><td data-label="Пример"><span class="italic">I&#8217;ll ring <span class="bolder">you</span> back later. [phone you again]<br />Not: I&#8217;ll ring back you.</span></td></tr><tr><td data-label="Шаблон">look after <span class="bolder">smb.&#160;/ smth.</span></td><td data-label="Пояснение">с&#160;одушевленным объектом после послелога</td><td data-label="Пример"><span class="italic">Can you <span class="bolder">look after</span> the dog while I&#8217;m away?<br />Not: Can you look the dog after while I&#8217;m away?</span></td></tr><tr><td data-label="Шаблон">drop off <span class="bolder">smb.&#160;/ smth.</span> or drop <span class="bolder">smb.&#160;/ smth.</span> off</td><td data-label="Пояснение">с&#160;одушевленным или неодушевленным объектом перед или после послелога</td><td data-label="Пример"><span class="italic">I dropped off <span class="bolder">the package</span> at her house.<br />I dropped <span class="bolder">the package</span> off at her house.</span></td></tr></tbody></table><p>Распространенные глаголы (<span class="bolder">break&#160;/ bring&#160;/ call&#160;/ come&#160;/ cut&#160;/ get&#160;/ give&#160;/ go&#160;/ keep&#160;/ knock&#160;/ look&#160;/ make&#160;/ pass&#160;/ pick&#160;/ pull&#160;/ put&#160;/ run&#160;/ set&#160;/ take&#160;/ turn</span>) могут образовывать фразовые глаголы.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Послелоги</h2></div><div class="holder-hidden-layer"><p>Некоторые фразовые глаголы имеют послелоги с&#160;очевидным значением:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">Jack <span class="bolder">invited</span> me <span class="bolder">out</span>. </span></td><td data-label="Значение">Let&#8217;s go out together.</td></tr><tr><td data-label="Пример"><span class="italic">Rosie <span class="bolder">invited</span> me <span class="bolder">in</span>.</span></td><td data-label="Значение">Please come in!</td></tr><tr><td data-label="Пример"><span class="italic">Jill <span class="bolder">invited</span> me <span class="bolder">over</span>. </span></td><td data-label="Значение">Come to our place.</td></tr><tr><td data-label="Пример"><span class="italic">Paul <span class="bolder">invited</span> me <span class="bolder">round</span>.</span></td><td data-label="Значение">Come to my house for dinner or a&#160;drink.</td></tr><tr><td data-label="Пример"><span class="italic">Mark <span class="bolder">invited</span> me <span class="bolder">up</span>.</span></td><td data-label="Значение">Come upstairs to my flat.</td></tr><tr><td data-label="Пример"><span class="italic">Susie <span class="bolder">invited</span> me <span class="bolder">along</span>.</span></td><td data-label="Значение">Come with us!</td></tr><tr><td data-label="Пример"><span class="italic">Bill <span class="bolder">invited</span> me <span class="bolder">back</span>.</span></td><td data-label="Значение">Come back home with me.</td></tr></tbody></table><p>Послелоги означают:</p><ul><li>смену позиции&#160;&#8212; <span class="bolder">fall over</span></li><li>тщательность и&#160;законченность&#160;&#8212; <span class="bolder">read over</span></li></ul><p>Послелог может стоять:</p><ul><li>Перед дополнением&#160;&#8212; <span class="italic">I&#8217;m <span class="bolder">looking for</span> my keys (not: I&#8217;m looking my keys for)</span></li><li>После дополнения&#160;&#8212; <span class="italic">I&#160;<span class="bolder">have</span> a&#160;lot of work <span class="bolder">on</span> (not: I&#160;have on a&#160;lot of work)</span></li><li>Перед или после дополнения&#160;&#8212; <span class="italic">The thunder <span class="bolder">woke up</span> the children&#160;/ The thunder <span class="bolder">woke</span> the children <span class="bolder">up</span></span></li><li>Только после дополнения, если дополнение выражено местоимением&#160;&#8212; <span class="italic">The thunder <span class="bolder">woke</span> them <span class="bolder">up</span> (not: <span class="italic">The thunder woke up them</span>)</span></li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Значение</h2></div><div class="holder-hidden-layer"><p>Фразовые глаголы могут иметь несколько значений:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">He <span class="bolder">got on</span> the bus. </span></td><td data-label="Значение">entered the bus</td></tr><tr><td data-label="Пример"><span class="italic">Jim and Ian <span class="bolder">get on</span> really well. </span></td><td data-label="Значение">like each other and are friendly</td></tr><tr><td data-label="Пример"><span class="italic">Shh! I&#8217;m trying to <span class="bolder">get on</span> with my work. </span></td><td data-label="Значение">continue doing my work</td></tr></tbody></table><p>Фразовые глаголы могут иметь прямое и&#160;непрямое значение.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Глагол</th><th>Прямое значение</th><th>Непрямое значение</th></tr></thead><tbody><tr><td data-label="Глагол">give</td><td data-label="Прямое значение"><span class="italic">I <span class="bolder">gave</span> my essay <span class="bolder">in</span> yesterday. [handed it to the teacher]</span></td><td data-label="Непрямое значение"><span class="italic">Her parents finally <span class="bolder">gave in</span> and let her go to the party. [agreed to something they had refused before]</span></td></tr><tr><td data-label="Глагол">get</td><td data-label="Прямое значение"><span class="italic">She <span class="bolder">got on</span> the bus. [entered]</span></td><td data-label="Непрямое значение"><span class="italic">Jim and Mary don&#8217;t <span class="bolder">get on</span>. [don&#8217;t like each other and are not friendly to each other]</span></td></tr><tr><td data-label="Глагол">come</td><td data-label="Прямое значение"><span class="italic">Would you like to <span class="bolder">come round</span> this evening? [come to my home]</span></td><td data-label="Непрямое значение"><span class="italic">He was unconscious for three hours but came round in hospital. [became conscious again]</span></td></tr></tbody></table><p>Базовое значение фразового глагола может превратиться в&#160;метафору:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th></tr></thead><tbody><tr><td data-label="Пример"><span class="bolder">blow up</span> a&#160;balloon</td></tr><tr><td data-label="Пример"><span class="bolder">blow up</span> a&#160;building</td></tr><tr><td data-label="Пример">someone <span class="bolder">blows up</span></td></tr></tbody></table><p>Некоторые фразовые глаголы используются только в&#160;качестве метафоры:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">These statistics look strange. Have&#160;we <span class="bolder">slipped up</span> somewhere?</span></td><td data-label="Значение">Here <span class="bolder">slip up</span> [make a&#160;mistake] clearly comes from <span class="bolder">slip</span> [fall usually because the floor is wet or the ground is icy]</td></tr></tbody></table><p>В разных регионах могут употребляться разные фразовые глаголы для одной и&#160;той&#160;же ситуации:</p><table class="respond fit-width"><caption></caption><thead><tr><th>British, American</th><th>Australian</th></tr></thead><tbody><tr><td data-label="British, American"><span class="bolder">clear up</span> the room</td><td data-label="Australian"><span class="bolder">tidy up</span> the room</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Синонимы</h2></div><div class="holder-hidden-layer"><p>Фразовые глаголы могут иметь синоним в&#160;виде одного слова&#160;&#8212; сильной лексемы.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Фразовый&#160;глагол</th><th>Лексема</th></tr></thead><tbody><tr><td data-label="Фразовый&#160;глагол">put off</td><td data-label="Лексема">postpone</td></tr><tr><td data-label="Фразовый&#160;глагол">take off</td><td data-label="Лексема">remove</td></tr><tr><td data-label="Фразовый&#160;глагол">turn up</td><td data-label="Лексема">arrive</td></tr></tbody></table><p>Любопытно, что для разговорной речи характерно употребление фразовых глаголов, а в&#160;формальной речи&#160;&#8212; сильных лексем.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Неформльно</th><th>Формально</th></tr></thead><tbody><tr><td data-label="Неформльно"><span class="italic">Let&#8217;s <span class="bolder">put off</span> the meeting until Friday.</span></td><td data-label="Формально"><span class="italic">Let&#8217;s <span class="bolder">postpone</span> the meeting until Friday.</span></td></tr><tr><td data-label="Неформльно"><span class="italic">Please <span class="bolder">take off</span> your shoes when you enter the temple.</span></td><td data-label="Формально"><span class="italic">Please <span class="bolder">remove</span> your shoes when you enter the temple.</span></td></tr><tr><td data-label="Неформльно"><span class="italic">Everyone <span class="bolder">turned up</span> on time for the meeting.</span></td><td data-label="Формально"><span class="italic">Everyone <span class="bolder">arrived</span> on time for the meeting.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Существительные от&#160;фразовых глаголов</h2></div><div class="holder-hidden-layer"><p>На базе фразового глагола можно образовывать существительные:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Фразовый&#160;глагол</th><th>Существительное</th></tr></thead><tbody><tr><td data-label="Фразовый&#160;глагол"><span class="italic">Tom: I&#160;got <span class="bolder">ripped off</span> when I&#160;phoned that 0877&#160;number [informal: was charged too much]. The&#160;call cost five pounds a&#160;minute!</span></td><td data-label="Существительное"><span class="italic"> Lily: Yes, those numbers are a&#160;big <span class="bolder">rip-off</span>.</span></td></tr><tr><td data-label="Фразовый&#160;глагол"><span class="italic">Mona: Her son <span class="bolder">dropped out</span> of college last year. [gave up his course]</span></td><td data-label="Существительное"><span class="italic">Ed: Mm. There were a&#160;lot of <span class="bolder">dropouts</span> that year. I&#160;wonder why?</span></td></tr><tr><td data-label="Фразовый&#160;глагол"><span class="italic">Mick: Somebody <span class="bolder">broke in</span> last night and stole a&#160;computer from the school. [entered by&#160;force to steal something]</span></td><td data-label="Существительное"><span class="italic">Pat: Really? That&#8217;s the second <span class="bolder">break-in</span> this year!</span></td></tr></tbody></table><p>Обратите внимание:</p><p><span class="bolder">break-ins</span>, <span class="bolder">dropouts</span>, <span class="bolder">rip-offs</span> (not: <span class="italic">breaks in, dropsout, rips-off</span>)</p><p>Но:</p><p><span class="bolder">goings-on</span> [strange or amusing events]&#160;&#8212; <span class="italic">There was a&#160;lot of gossip about the <span class="bolder">goings-on</span> at the office party</span></p><p>Существительные от&#160;фразовых глаголов с -<span class="italic">out</span>&#160;/ -<span class="italic">over</span> обычно пишутся без дефиса перед частицей:</p><p><span class="bolder">dropout&#160;/ lookout&#160;/ checkout&#160;/ handout&#160;/ changeover&#160;/ leftovers</span></p><p>Существительные от&#160;фразовых глаголов с -<span class="italic">in /</span> -<span class="italic">up&#160;/ -down&#160;/ -through</span> обычно пишутся через дефис.</p><p>Существительные, образованные от&#160;фарзовых глаголов с&#160;послелогом впереди, имеют ударение на&#160;первом слоге.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Фразовый&#160;глагол</th><th>Существительное</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Фразовый&#160;глагол">set out</td><td data-label="Существительное">outset</td><td data-label="Пример"><span class="italic">I knew from the <span class="bolder">outset</span> that there would be problems. [beginning]</span></td></tr><tr><td data-label="Фразовый&#160;глагол">fall down</td><td data-label="Существительное">downfall</td><td data-label="Пример"><span class="italic">The economic crisis caused the <span class="bolder">downfall</span> of the government. [sudden failure or end]</span></td></tr><tr><td data-label="Фразовый&#160;глагол">look on</td><td data-label="Существительное">onlooker</td><td data-label="Пример"><span class="italic">Crowds of <span class="bolder">onlookers</span> watched as the police arrested the man. [someone who watches an event but doesn&#8217;t take part]</span></td></tr></tbody></table><p>От фразовых глаголов могут быть также образованы прилагательные&#160;&#8212; a&#160;<span class="bolder">broken-down</span> vehicle</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Come</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Фразовый&#160;глагол</th><th>Значение</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Фразовый&#160;глагол">come along</td><td data-label="Значение">arrive at a&#160;place</td><td data-label="Пример"><span class="italic">Not many people bought tickets for the concert in advance, but quite a&#160;few <span class="bolder">came along</span> and bought tickets at the door.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">come apart</td><td data-label="Значение">separate into pieces</td><td data-label="Пример"><span class="italic">The antique picture frame just <span class="bolder">came apart</span> in my hands.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">come around or come round</td><td data-label="Значение">become conscious again</td><td data-label="Пример"><span class="italic">A nurse was with me when I&#160;<span class="bolder">came round</span> after the operation.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">come out</td><td data-label="Значение">disappear or become less strong (of dirt or colour on clothing&#160;/ material)</td><td data-label="Пример"><span class="italic">Let your shirt soak overnight and the stain will probably <span class="bolder">come out</span>.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">come out</td><td data-label="Значение">become public knowledge after it has been kept secret (of the truth)</td><td data-label="Пример"><span class="italic">If this story <span class="bolder">comes out</span> about the Prime Minister, he&#8217;ll have to resign.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">come out</td><td data-label="Значение">be given to people (of results or information)</td><td data-label="Пример"><span class="italic">When do your exam results <span class="bolder">come out</span>?</span></td></tr><tr><td data-label="Фразовый&#160;глагол">come out</td><td data-label="Значение">leave after a&#160;period in a&#160;place (of hospital&#160;/ prison)</td><td data-label="Пример"><span class="italic">Jane&#8217;s <span class="bolder">coming out</span> of hospital at the weekend. She&#8217;s much better now.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Get</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Фразовый&#160;глаголы</th><th>Значение</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Фразовый&#160;глагол">get together (often + <span class="bolder">with</span>) get on (often + <span class="bolder">with</span>)</td><td data-label="Значение">If two or more people get together, they meet in order to do something or spend time together. If&#160;two or more people get on, they like each other and are friendly to each other.</td><td data-label="Пример"><span class="italic">It&#8217;s nice to <span class="bolder">get together with</span> people you <span class="bolder">get on with</span>.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">get on (often + <span class="bolder">with</span>) get behind (often + <span class="bolder">with</span>)</td><td data-label="Значение">continue doing something, especially work If you get behind with work or with payments, you have not done as much work or paid as much as you should by&#160;a&#160;particular time.</td><td data-label="Пример"><span class="italic">I must <span class="bolder">get on with</span> my work. I&#160;<span class="bolder">got behind</span> because I&#160;spent too much time on the Internet.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">get smth. over with get away</td><td data-label="Значение">do and complete something difficult or unpleasant that must be done leave a&#160;place or person, often when the situation makes it difficult for you to do so</td><td data-label="Пример"><span class="italic">Let&#8217;s <span class="bolder">get</span> this <span class="bolder">meeting over with</span>, or else we&#8217;ll never <span class="bolder">get away</span> before the rush hour and it will take ages to get home.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">can&#8217;t&#160;/ couldn&#8217;t get over smth. get away with smth.&#160;/ doing smth.</td><td data-label="Значение">be very surprised or shocked that something has happened or that something is true succeed in not being criticised or punished for something wrong that you have done</td><td data-label="Пример"><span class="italic">I <span class="bolder">can&#8217;t get over</span> how she manages to <span class="bolder">get away with</span> doing so little work. It&#8217;s obvious to everyone, but the boss never seems to notice.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a9">With</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Фразовый&#160;глагол</th><th>Значение</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Фразовый&#160;глагол">could do with smb.&#160;/ smth.</td><td data-label="Значение">need or want something or someone (informal)</td><td data-label="Пример"><span class="italic">I <span class="bolder">could do with</span> a&#160;cup of tea.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">deal with smth.</td><td data-label="Значение">if something [e.g. book, film, article] deals with a&#160;particular subject or idea, it is about that subject or idea</td><td data-label="Пример"><span class="italic">His latest book <span class="bolder">deals with</span> the civil war of 1984&#8212;1989.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">stick with it</td><td data-label="Значение">continue doing something even though it is difficult (informal)</td><td data-label="Пример"><span class="italic">I know studying for a&#160;PhD is hard, but I&#160;think you should <span class="bolder">stick with</span> it.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">go with smth.</td><td data-label="Значение">if one thing goes with another, they suit each other or they look or taste good together</td><td data-label="Пример"><span class="italic">That shirt <span class="bolder">goes</span> really well <span class="bolder">with</span> your blue jacket.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">put up with smb.&#160;/ smth.</td><td data-label="Значение">accept unpleasant behaviour or an unpleasant situation, even though you do not like it</td><td data-label="Пример"><span class="italic">I don&#8217;t know how she <span class="bolder">puts up with</span> his bad temper.</span></td></tr><tr><td data-label="Фразовый&#160;глагол">catch up with smb.</td><td data-label="Значение">meet someone you know, after not seeing them for a&#160;period of time</td><td data-label="Пример"><span class="italic">I hope to <span class="bolder">catch up with</span> Freda when I&#8217;m in Berlin. I&#160;haven&#8217;t seen her for years.</span></td></tr></tbody></table></div>
								<p class="address" role="contentinfo">&#169;&#160;Cambridge University Press 2004</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_reported_speech" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
