				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Согласование времен</h1><p class="subhead">Время глагола придаточного предложения зависит от&#160;времени главного предложения. Когда сказуемое главного предложения выражено глаголом в&#160;одной из&#160;форм прошедшего времени, в&#160;придаточных предложениях не&#160;могут употребляться формы настоящего и&#160;будущего, хотя речь идет о&#160;действиях, которые совершаются в&#160;настоящем или будущем.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">0 тип</option>
												<option value="#a2">I тип</option>
												<option value="#a3">II тип</option>
												<option value="#a4">III тип</option>
												<option value="#a5">IV тип</option>
												<option value="#a6">V тип</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">0 тип</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Всегда</th></tr></thead><tbody><tr><td data-label="Правило"><span class="italic">If he works</span></td><td data-label="Всегда"><span class="italic">he does</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">I тип</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>К&#160;будущему</th><th>К&#160;будущему</th></tr></thead><tbody><tr><td data-label="К&#160;будущему"><span class="italic">If he works</span></td><td data-label="К&#160;будущему"><span class="italic">he will do</span></td></tr><tr><td data-label="К&#160;будущему"><span class="italic">If he is working</span></td><td data-label="К&#160;будущему"><span class="italic">he will do</span></td></tr><tr><td data-label="К&#160;будущему"><span class="italic">If he has worked</span></td><td data-label="К&#160;будущему"><span class="italic">he will do</span></td></tr><tr><td data-label="К&#160;будущему"><span class="italic">I wish</span></td><td data-label="К&#160;будущему"><span class="italic">you would stop</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">II тип</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>К&#160;настоящему</th><th>К&#160;настоящему</th></tr></thead><tbody><tr><td data-label="К&#160;настоящему"><span class="italic">If he worked</span></td><td data-label="К&#160;настоящему"><span class="italic">he would do</span></td></tr><tr><td data-label="К&#160;настоящему"><span class="italic">If he was&#160;/ were working</span></td><td data-label="К&#160;настоящему"><span class="italic">he would do</span></td></tr><tr><td data-label="К&#160;настоящему"><span class="italic">I wish</span></td><td data-label="К&#160;настоящему"><span class="italic">I was&#160;/ were here</span></td></tr><tr><td data-label="К&#160;настоящему"><span class="italic">I wish</span></td><td data-label="К&#160;настоящему"><span class="italic">I could fly</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">III тип</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>К&#160;прошлому</th><th>К&#160;прошлому</th></tr></thead><tbody><tr><td data-label="К&#160;прошлому"><span class="italic">If he had worked</span></td><td data-label="К&#160;прошлому"><span class="italic">he would have done</span></td></tr><tr><td data-label="К&#160;прошлому"><span class="italic">If he had been working</span></td><td data-label="К&#160;прошлому"><span class="italic">he would have done</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">IV тип</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>К&#160;настоящему</th><th>К&#160;прошлому</th></tr></thead><tbody><tr><td data-label="К&#160;настоящему"><span class="italic">If he worked</span></td><td data-label="К&#160;прошлому"><span class="italic">he would have done</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">V тип</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>К&#160;прошлому</th><th>К&#160;настоящему</th></tr></thead><tbody><tr><td data-label="К&#160;прошлому"><span class="italic">If he had worked</span></td><td data-label="К&#160;настоящему"><span class="italic">he would do</span></td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_degrees_of_comparison" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
