				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Когда must&#160;= &#171;должно быть&#187;</h1><p class="subhead">Помимо &#171;должен&#160;/ обязан&#187; &#171;must&#187; может означать &#171;должно быть&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Процедура</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><p>Помимо &#171;должен&#160;/ обязан&#187; <span class="bolder">must</span> может означать &#171;должно быть&#187;. Это&#160;справедливо всегда, если <span class="bolder">must</span> находится перед континиусным или перфектным инфинитивом.</p><p class="blockquote">&#8216;Joe is a hard worker.&#8217; &#8216;joe? You&#160;must be joking. He&#160;doesn&#8217;t do anything.&#8217;</p><p class="blockquote">&#8216;We used to live very near the motorway.&#8217; &#8216;Did you? lt must have been noisy.&#8217;</p><p><span class="bolder">Must</span> + простой инфинитив также может означать &#171;должно быть&#187;:</p><p class="blockquote">You&#8217;ve been travelling all day. You&#160;must be tired. (Travelling is tiring and you&#8217;ve been travelling all day, so you must be tired.)</p><p class="blockquote">Louise must get very bored in her job. She&#160;does the same thing every&#160;day.</p><p><span class="bolder">Can&#8217;t</span> и&#160;<span class="bolder">couldn&#8217;t</span> может означать недовольство, выраженное словом &#171;неужели&#187; + утвердительная форма глагола:</p><p class="blockquote">You&#8217;ve just had lunch. You&#160;can&#8217;t be hungry already.</p></div>
								<p class="address" role="contentinfo">(Raymond Murphy. English Grammar in Use Extra: Must and Can&#8217;t. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 56)</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_word_order" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
