				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Quick and&#160;Dirty Grammar</h1><p class="subhead">Grammar Girl&#8217;s Quick and&#160;Dirty Grammar at a&#160;Glance&#160;&#8212; американский &#171;Как правильно?&#187;. Краткий обзор распространенных ошибок.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Распространенные ошибки</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Распространенные ошибки</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Случай</th><th>Разъяснение</th></tr></thead><tbody><tr><td data-label="Случай">A/An</td><td data-label="Разъяснение">Use <span class="bolder">a</span> before consonant sounds; use <span class="bolder">an</span> before vowel sounds. <span class="italic">She has an MBA. It&#8217;s a Utopian idea.</span></td></tr><tr><td data-label="Случай">A Lot</td><td data-label="Разъяснение"><span class="bolder">A lot</span> means &#8220;a large number&#8221; and is two words, not one. <span class="bolder">Allot</span> means &#8220;to parcel out.&#8221;</td></tr><tr><td data-label="Случай">Abbreviations (Making Them Plural)</td><td data-label="Разъяснение">Add an <span class="bolder">s</span> (without an apostrophe) to the end of an abbreviation to make it plural. <span class="italic">Smith had two RBIs tonight.</span></td></tr><tr><td data-label="Случай">Affect/Effect</td><td data-label="Разъяснение">Most of the time <span class="bolder">affect</span> is a verb and <span class="bolder">effect</span> is a noun. <span class="italic">He affected her. The&#160;effect mattered.</span> [&#8230;]</td></tr><tr><td data-label="Случай">Assure/Ensure/Insure</td><td data-label="Разъяснение"><span class="bolder">Assure</span> means &#8220;to reassure&#8221;; <span class="bolder">ensure</span> means &#8220;to guarantee&#8221;; <span class="bolder">insure</span> refers to insurance</td></tr><tr><td data-label="Случай">Because</td><td data-label="Разъяснение">It&#8217;s OK to start a sentence with because; just be sure you haven&#8217;t created a sentence fragment. <span class="italic">Because Squiggly was tired, he forgot to stow the chocolate. (OK) Because Squiggly was tired. (wrong)</span></td></tr><tr><td data-label="Случай">Between You and I/Between You and Me</td><td data-label="Разъяснение"><span class="bolder">Between you and me</span> is the correct phrase</td></tr><tr><td data-label="Случай">Can/May</td><td data-label="Разъяснение">Traditionalists maintain that <span class="bolder">can</span> refers to ability and <span class="bolder">may</span> refers to permission. <span class="italic">Can you fix the broken dishwasher? May&#160;I go to the mall?</span></td></tr><tr><td data-label="Случай">Capital/Capitol</td><td data-label="Разъяснение"><span class="bolder">Capital</span> refers to a city, uppercase letter, or wealth. A&#160;<span class="bolder">capitol</span> is a building</td></tr><tr><td data-label="Случай">Colons</td><td data-label="Разъяснение">In sentences, only use colons after something that would be a complete sentence on its own</td></tr><tr><td data-label="Случай">Commas (Equal Pauses)</td><td data-label="Разъяснение">It is not a rule that you put a comma in wherever you would naturally pause in a sentence</td></tr><tr><td data-label="Случай">Comma (Serial)</td><td data-label="Разъяснение">It&#8217;s up to you whether to use a serial comma (the comma before the final <span class="bolder">and</span> in a list of items)</td></tr><tr><td data-label="Случай">Complement/Compliment</td><td data-label="Разъяснение">Things that work well together <span class="bolder">complement</span> each other. <span class="bolder">Compliments</span> are a form of praise</td></tr><tr><td data-label="Случай">Dead</td><td data-label="Разъяснение">Dead is an absolute (nongradable) word that shouldn&#8217;t be modified with words such as <span class="bolder">completely</span> or <span class="bolder">very</span></td></tr><tr><td data-label="Случай">Different From/Different Than</td><td data-label="Разъяснение">In most cases, <span class="bolder">different from</span> is the preferred form</td></tr><tr><td data-label="Случай">E.G./I.E</td><td data-label="Разъяснение"><span class="bolder">E.g.</span> means &#8220;for example&#8221;; <span class="bolder">i.e.</span> means &#8220;that is.&#8221;</td></tr><tr><td data-label="Случай">Each/Every</td><td data-label="Разъяснение"><span class="bolder">Each</span> and <span class="bolder">every</span> are singular and mean the same thing</td></tr><tr><td data-label="Случай">E-mail/Email</td><td data-label="Разъяснение">Both forms are acceptable. Traditionalists prefer <span class="bolder">e-mail</span></td></tr><tr><td data-label="Случай">Everyone/Everybody</td><td data-label="Разъяснение"><span class="bolder">Everyone</span> and <span class="bolder">everybody</span> are singular and mean the same thing</td></tr><tr><td data-label="Случай">Fewer/Less</td><td data-label="Разъяснение">Use <span class="bolder">fewer</span> for count nouns; use <span class="bolder">less</span> for mass nouns. <span class="italic">There were fewer fish. There was less water.</span></td></tr><tr><td data-label="Случай">Farther/Further</td><td data-label="Разъяснение"><span class="bolder">Farther</span> refers to physical distance; <span class="bolder">further</span> relates to metaphorical distance or means &#8220;moreover.&#8221; <span class="italic">Aardvark ran farther than Squiggly. Further, they hope to run tomorrow.</span></td></tr><tr><td data-label="Случай">Hanged/Hung</td><td data-label="Разъяснение">People (or animals) who were executed were <span class="bolder">hanged</span>; everything else was <span class="bolder">hung</span></td></tr><tr><td data-label="Случай">Hopefully</td><td data-label="Разъяснение">Although it isn&#8217;t wrong, don&#8217;t start a sentence with <span class="bolder">hopefully</span>&#8212;too many people believe it&#8217;s wrong</td></tr><tr><td data-label="Случай">However</td><td data-label="Разъяснение">It&#8217;s OK to start a sentence with <span class="bolder">however</span>, but be careful with your comma placement. <span class="italic">However, we wish he hadn&#8217;t used permanent ink. However hard Squiggly tried, he couldn&#8217;t reach the chocolate.</span></td></tr><tr><td data-label="Случай">Hyphen</td><td data-label="Разъяснение">Never use a hyphen in place of a dash</td></tr><tr><td data-label="Случай">In To/Into</td><td data-label="Разъяснение"><span class="bolder">Into</span> is a preposition that specifies a direction; sometimes the words <span class="bolder">in</span> and <span class="bolder">to</span> just end up next to each other. <span class="italic">Move into the foyer. He&#160;broke in to the dining room.</span></td></tr><tr><td data-label="Случай">Internet</td><td data-label="Разъяснение"><span class="bolder">Internet</span> is capitalized</td></tr><tr><td data-label="Случай">Its/It&#8217;s</td><td data-label="Разъяснение">Its is the possessive form of <span class="bolder">it</span>; it&#8217;s means &#8220;it is&#8221; or &#8220;it has.&#8221; <span class="italic">It&#8217;s a shame the tree lost its leaves.</span></td></tr><tr><td data-label="Случай">Lay/Lie</td><td data-label="Разъяснение">Subjects <span class="bolder">lie</span> down; objects are <span class="bolder">laid</span> down. <span class="italic">I want to lie down. I&#160;will lay the pen on the table.</span></td></tr><tr><td data-label="Случай">Literally</td><td data-label="Разъяснение"><span class="bolder">Literally</span> means &#8220;exactly.&#8221; Don&#8217;t use it for emphasis or to mean &#8220;figuratively.&#8221;</td></tr><tr><td data-label="Случай">Log In/Log On/Log Out/Log Off</td><td data-label="Разъяснение">These are all acceptable two-word verbs. They&#160;require a hyphen when used as adjective. <span class="italic">I want to log in. Please give me the log-in code.</span></td></tr><tr><td data-label="Случай">May/ Might</td><td data-label="Разъяснение"><span class="bolder">May</span> implies more of a likelihood that something is possible than might. <span class="italic">We may go out. Pigs&#160;might fly.</span></td></tr><tr><td data-label="Случай">Modifiers (Misplaced)</td><td data-label="Разъяснение">Make sure your modifiers apply to the right words.<span class="italic"> I&#160;only eat chocolate. (The only thing I&#160;do with chocolate is eat it.) I&#160;eat only chocolate. (I eat nothing but chocolate.)</span></td></tr><tr><td data-label="Случай">Myself</td><td data-label="Разъяснение">Please visit Aardvark and <span class="bolder">myself</span> is an incorrect hypercorrection. The&#160;correct form is Please visit Aardvark and <span class="bolder">me</span></td></tr><tr><td data-label="Случай">Nauseated/Nauseous</td><td data-label="Разъяснение"><span class="bolder">Nauseated</span> means you feel queasy; <span class="bolder">nauseous</span> describes something that makes you queasy. The&#160;<span class="bolder">nauseous</span> fumes are making me <span class="bolder">nauseated</span></td></tr><tr><td data-label="Случай">Nouns (Collective)</td><td data-label="Разъяснение">Collective nouns describe a group of things such as furniture and a team. They&#160;are singular in the United States</td></tr><tr><td data-label="Случай">Numbers (at the Beginning of a Sentence)</td><td data-label="Разъяснение">Write out numbers at the beginning of a sentence</td></tr><tr><td data-label="Случай">Online/On Line</td><td data-label="Разъяснение"><span class="bolder">Online</span> is one word, not two</td></tr><tr><td data-label="Случай">Periods (Abbreviations at the End of a Sentence)</td><td data-label="Разъяснение">Don&#8217;t use two periods if you have an abbreviation at the end of a sentence</td></tr><tr><td data-label="Случай">Periods (Spaces After)</td><td data-label="Разъяснение">Use one space after a period at the end of a sentence</td></tr><tr><td data-label="Случай">Possession (Compound)</td><td data-label="Разъяснение">When two people share something, they share an apostrophe. When&#160;two people have separate things, they each need their own apostrophe. <span class="italic">We&#8217;re at Squiggly and Aardvark&#8217;s house. Have&#160;you met Squiggly&#8217;s and Aardvark&#8217;s mothers?</span></td></tr><tr><td data-label="Случай">Possession (Words That End with S)</td><td data-label="Разъяснение">The most common way to make a singular word that ends with <span class="bolder">s</span> possessive is to add alone apostrophe (Steve Jobs&#8217; keynote), but it&#8217;s not wrong to add an <span class="bolder">s</span> after the apostrophe (Steve Jobs&#8217;s keynote). Some&#160;people make the decision based on pronunciation (Steve Jobs&#8217; keynote, Kansas&#8217;s statute)</td></tr><tr><td data-label="Случай">Prepositions (Ending Sentences with)</td><td data-label="Разъяснение">It&#8217;s OK to end a sentence with a preposition, except when the preposition is dispensable. <span class="italic">Whom did you step on? (OK) Where is he at? (wrong)</span></td></tr><tr><td data-label="Случай">Question Marks (with Indirect Questions)</td><td data-label="Разъяснение">Don&#8217;t use a question mark after an indirect question. <span class="italic">I wonder why Squiggly left.</span></td></tr><tr><td data-label="Случай">Question Marks (with Question Tags)</td><td data-label="Разъяснение">Use question marks after statements that end with question tags. <span class="italic">Squiggly left because he was mad, didn&#8217;t he?</span></td></tr><tr><td data-label="Случай">Quote/Quotation</td><td data-label="Разъяснение"><span class="bolder">Quote</span> is a verb; <span class="bolder">quotation</span> is a noun. <span class="italic">I want to quote you. Is&#160;this the correct quotation?</span></td></tr><tr><td data-label="Случай">Quotation Marks (with Other Punctuation)</td><td data-label="Разъяснение">Commas and periods go inside of quotation marks; colons and semicolons go outside of quotation marks. Question marks and exclamation points can go inside or outside of quotation marks, depending on the context</td></tr><tr><td data-label="Случай">Sentences (Run-on)</td><td data-label="Разъяснение">Run-on sentences aren&#8217;t just long sentences; they are created when main clauses are joined without proper punctuation</td></tr><tr><td data-label="Случай">Sic</td><td data-label="Разъяснение"><span class="bolder">Sic</span> is Latin for &#8220;thus so.&#8221; You can use <span class="bolder">[sic]</span> to show that an error occurred in the original text&#8212;you know there&#8217;s an error and you didn&#8217;t introduce it</td></tr><tr><td data-label="Случай">Sit/Set</td><td data-label="Разъяснение">Subjects <span class="bolder">sit</span>, objects are <span class="bolder">set</span>. <span class="italic">I want to sit down. I&#160;will set the pen on the table.</span></td></tr><tr><td data-label="Случай">Split Infinitives</td><td data-label="Разъяснение">It&#8217;s OK to split infinitives. <span class="italic">They want to boldly go where no one has gone before.</span></td></tr><tr><td data-label="Случай">Subject /Object</td><td data-label="Разъяснение">The subject in a sentence takes the action; the object receives or is the target of the action. <span class="italic">[Subject] threw the ball. Squiggly threw the [object].</span></td></tr><tr><td data-label="Случай">Than/Then</td><td data-label="Разъяснение">Use <span class="bolder">than</span> for comparison; use <span class="bolder">then</span> for time. <span class="italic">Aardvark is taller than Squiggly. Then&#160;they went fishing.</span></td></tr><tr><td data-label="Случай">That/Which</td><td data-label="Разъяснение">Use <span class="bolder">that</span> with restrictive clauses; use <span class="bolder">which</span> with nonrestrictive clauses. <span class="italic">I like gems that sparkle, including diamonds, which are expensive.</span></td></tr><tr><td data-label="Случай">That/Who</td><td data-label="Разъяснение">Use <span class="bolder">that</span> to refer to things; use <span class="bolder">who</span> to refer to people</td></tr><tr><td data-label="Случай">The</td><td data-label="Разъяснение">Pronounce as &#8220;thuh&#8221; before consonant sounds, &#8220;thee&#8221; before vowel sounds</td></tr><tr><td data-label="Случай">Unique</td><td data-label="Разъяснение"><span class="bolder">Unique</span> is an absolute (nongradable) word that shouldn&#8217;t be modified with words such as <span class="bolder">most</span> or <span class="bolder">very</span></td></tr><tr><td data-label="Случай">Verbs (Action and Linking)</td><td data-label="Разъяснение">Use adverbs to modify action verbs and adjectives to modify linking verbs. <span class="italic">He ran terribly. He&#160;smells terrible.</span></td></tr><tr><td data-label="Случай">Was/Were</td><td data-label="Разъяснение">Use <span class="bolder">was</span> to refer to the past; use <span class="bolder">were</span> to refer to things that are wishful or not true. <span class="italic">I was at the store. If&#160;I were rich, I&#160;would buy a yacht.</span></td></tr><tr><td data-label="Случай">Who/Whom</td><td data-label="Разъяснение">Use <span class="bolder">who</span> to refer to a subject; use <span class="bolder">whom</span> to refer to an object. <span class="italic">Who loves Squiggly? Whom&#160;do you love?</span></td></tr><tr><td data-label="Случай">Your/You&#8217;re</td><td data-label="Разъяснение"><span class="bolder">Your</span> is the possessive form of <span class="bolder">you</span>; <span class="bolder">you&#8217;re</span> means &#8220;you are.&#8221;</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Mignon Fogarty. Grammar Girl&#8217;s quick and dirty tips for better writing: Quick and&#160;Dirty Grammar at a&#160;Glance. 1st Holt pbk. ed. &#169;&#160;Mignon Fogarty, Inc. 2008, P.&#160;51-55)</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_in_at_on" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
