				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Употребление времен</h1><p class="subhead">В английском языке шестнадцать времен в&#160;активном залоге, в&#160;пассивном залоге&#160;&#8212; десять. Точнее было&#160;бы назвать их&#160;конструкциями, которых в&#160;сумме двадцать шесть. Не&#160;стоит сравнивать русские времена с&#160;английскими. Лучше запомнить значение каждой конструкции и&#160;обстоятельства ее&#160;применения.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Указатели на&#160;выбор конструкции</option>
												<option value="#a2">Present Simple (Indefinite)</option>
												<option value="#a3">Present Continuous (Progressive)</option>
												<option value="#a4">Present Perfect</option>
												<option value="#a5">Present Perfect Continuous</option>
												<option value="#a6">Past Simple (Indefinite)</option>
												<option value="#a7">Past Continuous (Progressive)</option>
												<option value="#a8">Past Perfect</option>
												<option value="#a9">Past Perfect Continuous</option>
												<option value="#a10">Future Simple (Indefinite)</option>
												<option value="#a11">Future Continuous (Progressive)</option>
												<option value="#a12">Future Perfect</option>
												<option value="#a13">Future Perfect Continuous</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Указатели на&#160;выбор конструкции</h2></div><div class="holder-hidden-layer"><p>Некоторые обстоятельства (&#171;указатели&#187; или &#171;маркеры&#187;) могут использоваться с&#160;разными конструкциями, поэтому ниже приведенные правила не&#160;следует воспринимать безоговорочно:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Конструкция</th><th>Маркер</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Конструкция"><span class="italic">Present Simple</span></td><td data-label="Маркер"><span class="italic">never; seldom; rarely; sometimes; from time to time; often; usually; always; every + day / month etc.; in the morning / evening etc.</span></td><td data-label="Пример"><span class="italic">He plays tennis brilliantly.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Present Continuous</span></td><td data-label="Маркер"><span class="italic">now; at the moment; still</span></td><td data-label="Пример"><span class="italic">Where&#8217;s Jane?&#160;&#8212; She&#8217;s working in the office.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Present Perfect</span></td><td data-label="Маркер"><span class="italic">ever; never; just; already; yet; of late; lately; recently; this week; since morning; for two hours</span></td><td data-label="Пример"><span class="italic">I have already seen the movie.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Present Perfect Continuous</span></td><td data-label="Маркер"><span class="italic">of late; since morning; for two hours</span></td><td data-label="Пример"><span class="italic">It has been raining hard of late.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Past Simple</span></td><td data-label="Маркер"><span class="italic">last + month / year etc.; yesterday; in the evening; 5&#160;minutes ago; the other day</span></td><td data-label="Пример"><span class="italic">Yesterday he played tennis brilliantly.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Past Perfect</span></td><td data-label="Маркер"><span class="italic">by 2&#160;o&#8217;clock yesterday; by last week; by the time he came in</span></td><td data-label="Пример"><span class="italic">He said he had already seen that movie.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Past Continuous</span></td><td data-label="Маркер"><span class="italic">at 5&#160;o&#8217;clock yesterday; from 2&#160;till 5&#160;yesterday; the whole evening; when mother came in</span></td><td data-label="Пример"><span class="italic">I was working late yesterday evening.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Past Perfect Continuous</span></td><td data-label="Маркер"><span class="italic">of late</span></td><td data-label="Пример"><span class="italic">We knew it had been raining hard of late in Scotland.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Future Simple</span></td><td data-label="Маркер"><span class="italic">next + week / month etc.; tomorrow; some day; in two months; soon; one of these days</span></td><td data-label="Пример"><span class="italic">He will play tennis brilliantly in two months.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Future Continuous</span></td><td data-label="Маркер"><span class="italic">still</span></td><td data-label="Пример"><span class="italic">I will be still working when you come.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Future Perfect</span></td><td data-label="Маркер"><span class="italic">by</span></td><td data-label="Пример"><span class="italic">He will have seen all the performances by Friday.</span></td></tr><tr><td data-label="Конструкция"><span class="italic">Future Perfect Continuous</span></td><td data-label="Маркер"><span class="italic">since; for</span></td><td data-label="Пример"><span class="italic">It will have been raining for a month when we come back, if the forecast is right.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Present Simple (Indefinite)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Программа&#160;/ расписание&#160;/ план&#160;/ приказ</td><td data-label="Пример"><span class="italic">There&#8217;s a&#160;train at 10.30.<br />He retires next year.</span></td></tr><tr><td data-label="Правило">2) Придаточные условия и&#160;времени</td><td data-label="Пример"><span class="italic">If we go by&#160;bus, it will be cheaper.</span></td></tr><tr><td data-label="Правило">3) Постоянно повторяющееся действия</td><td data-label="Пример"><span class="italic">It rains a&#160;lot in winter.</span></td></tr><tr><td data-label="Правило">4) Факты</td><td data-label="Пример"><span class="italic">Moscow is the capital of Russia.</span></td></tr><tr><td data-label="Правило">5) Истины</td><td data-label="Пример"><span class="italic">Water boils at 100&#160;degrees Celsius.</span></td></tr><tr><td data-label="Правило">6) Инструкции по&#160;эксплуатации</td><td data-label="Пример"><span class="italic">The program automatically shuts down after you have finished the burn process.</span></td></tr><tr><td data-label="Правило">7) Последовательные действия</td><td data-label="Пример"><span class="italic">He comes in and closes the window.</span></td></tr><tr><td data-label="Правило">8) Сомнение, неуверенность</td><td data-label="Пример"><span class="italic">So what happens next?</span></td></tr><tr><td data-label="Правило">9) Субъективные факты</td><td data-label="Пример"><span class="italic">I am a&#160;doctor.<br />I&#160;live in Moscow.</span></td></tr><tr><td data-label="Правило">10) Театральные ремарки&#160;/ либретто</td><td data-label="Пример"><span class="italic">There comes the hero&#8230;</span></td></tr><tr><td data-label="Правило">11) Заявления&#160;/ объявления (в&#160;главной части употребляется неконтиниусный глагол, значение <span class="italic">Present Continuous</span>)</td><td data-label="Пример"><span class="italic">I declare the meeting open.</span></td></tr><tr><td data-label="Правило">12) Действие, уже совершенное к&#160;моменту речи и&#160;связанное с&#160;этим моментом (в&#160;главной части употребляется неконтиниусный глагол, значение <span class="italic">Present Perfect</span>)</td><td data-label="Пример"><span class="italic">I understand you are from Chicago?</span></td></tr><tr><td data-label="Правило">13) Действие происходит в&#160;момент речи (в&#160;составе сказуемого неконтиниусный глагол, значение <span class="italic">Present Continuous)</span></td><td data-label="Пример"><span class="italic">I want a&#160;ham sandwich.</span></td></tr><tr><td data-label="Правило">14) Подчеркиваем факт свершения действия, а&#160;не&#160;его длительность (значение <span class="italic">Present Continuous</span>)</td><td data-label="Пример"><span class="italic">Why do you laugh?</span></td></tr><tr><td data-label="Правило">15) Придаточные уступительные (значение <span class="italic">Future</span>)</td><td data-label="Пример"><span class="italic">Wherever you go, I&#8217;ll be waiting.</span></td></tr><tr><td data-label="Правило">16) Придаточные ограничительные (значение <span class="italic">Future</span>)</td><td data-label="Пример"><span class="italic">Those, who pass the exam, may take part at the experiment.</span></td></tr><tr><td data-label="Правило">17) Придаточные дополнительные после <span class="bolder">make sure&#160;/ take care</span> (значение <span class="italic">Future</span>)</td><td data-label="Пример"><span class="italic">Make sure you choose the right path.</span></td></tr><tr><td data-label="Правило">18) Придаточные дополнительные после <span class="bolder">hope</span> (значение <span class="italic">Future</span>)</td><td data-label="Пример"><span class="italic">I hope he doesn&#8217;t make a&#160;mistake.</span></td></tr><tr><td data-label="Правило">19) Специальные вопросы типа (значение <span class="italic">Future</span>)</td><td data-label="Пример"><span class="italic">What do you say?</span></td></tr><tr><td data-label="Правило">20) Газетные заголовки (значение <span class="italic">Past</span>)</td><td data-label="Пример"><span class="italic">Batman returns!</span></td></tr><tr><td data-label="Правило">21) Пересказ содержания книги&#160;/ фильма&#160;/ сказки&#8230;</td><td data-label="Пример"><span class="italic">Puff-the-Ball hasn&#8217;t got parents. He&#160;wants to have friends.</span></td></tr><tr><td data-label="Правило">22) <span class="italic">Historical Present</span> (для большей выразительности, значение <span class="italic">Past</span>)</td><td data-label="Пример"><span class="italic">Something heavy hits me on the head.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Present Continuous (Progressive)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Временное действие в&#160;процессе его совершения в&#160;момент речи</td><td data-label="Пример"><span class="italic">I&#8217;m reading now.</span></td></tr><tr><td data-label="Правило">2) Запланированное действие</td><td data-label="Пример"><span class="italic">He&#8217;s not working next week.</span></td></tr><tr><td data-label="Правило">3) Эмоциональное отношение к&#160;типичному для другого лица действия</td><td data-label="Пример"><span class="italic">What are you doing to me?</span></td></tr><tr><td data-label="Правило">4) В&#160;придаточных условия (многократные действия)</td><td data-label="Пример"><span class="italic">Replace the batteries in case you are not using the unit.</span></td></tr><tr><td data-label="Правило">5) Критичное отношение к&#160;постоянно повторяющимся действиям другого лица</td><td data-label="Пример"><span class="italic">I&#8217;m going mad each time I&#160;see her.</span></td></tr><tr><td data-label="Правило">6) Неконтиниусные глаголы в&#160;своем неконтиниусном значении для большей эмоциональной выразительности</td><td data-label="Пример"><span class="italic">Why are you hating me so?</span></td></tr><tr><td data-label="Правило">7) Неконтиниусные глаголы в&#160;своем континиусном значении (которое выражает действие, а&#160;не&#160;состояние)</td><td data-label="Пример"><span class="italic">I&#8217;m thinking of a&#160;vacation.</span></td></tr><tr><td data-label="Правило">8) Вежливая косвенная просьба</td><td data-label="Пример"><span class="italic">I&#8217;m wondering if you can join me.</span></td></tr><tr><td data-label="Правило">9) Раздражение по&#160;поводу постоянно повторяющихся действий других</td><td data-label="Пример"><span class="italic">You&#8217;re always losing your umbrellas.</span></td></tr><tr><td data-label="Правило">10) Постоянно повторяющиеся действия при определенных обстоятельствах</td><td data-label="Пример"><span class="italic">He never talks while he is working.</span></td></tr><tr><td data-label="Правило">11) Непрерывно меняющиеся ситуации</td><td data-label="Пример"><span class="italic">The number of patients is increasing.</span></td></tr><tr><td data-label="Правило">12) Действие происходит во&#160;все времена</td><td data-label="Пример"><span class="italic">Life will never be the same. Life&#160;is changing.</span></td></tr><tr><td data-label="Правило">13) Действие относится к&#160;какому-то моменту настоящего, но&#160;необязательно происходит в&#160;сам момент речи</td><td data-label="Пример"><span class="italic">Where are you studying German this year?</span></td></tr><tr><td data-label="Правило">14) Параллельные действия, выполняемые разными лицами</td><td data-label="Пример"><span class="italic">The boys are playing. The&#160;girls are cooking.</span></td></tr><tr><td data-label="Правило">15) Два одновременно происходящих действия, но&#160;важно только одно</td><td data-label="Пример"><span class="italic">Now that I&#160;look at the course, the white horse is rushing forward.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Present Perfect</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Итог, результат к&#160;моменту речи (момент свершения действия вообще не&#160;определен, переводим прошедшим временем)</td><td data-label="Пример"><span class="italic">Has your boss returned?</span></td></tr><tr><td data-label="Правило">2) Действие закончилось к&#160;моменту речи (с&#160;наречиями неопределенного времени)</td><td data-label="Пример">They&#8217;ve just arrived</td></tr><tr><td data-label="Правило">3) Действие когда-то началось и&#160;до&#160;сих пор продолжается (неконтиниусные глаголы, значение <span class="italic">Present Perfect Continuous</span>)</td><td data-label="Пример"><span class="italic">I&#8217;ve known him for two years.</span></td></tr><tr><td data-label="Правило">4) с&#160;непредельными глаголами (значение <span class="italic">Present Perfect Continuous</span>)</td><td data-label="Пример"><span class="italic">I&#8217;ve worked here for 10&#160;years.</span></td></tr><tr><td data-label="Правило">5) В&#160;отрицательных предложениях с&#160;непредельными глаголами (значение <span class="italic">Present Perfect Continuous</span>)</td><td data-label="Пример"><span class="italic">I haven&#8217;t slept for 2&#160;days.</span></td></tr><tr><td data-label="Правило">6) Еще не&#160;закончившиеся в&#160;момент речи периоды</td><td data-label="Пример"><span class="italic">I haven&#8217;t seen him this week.</span></td></tr><tr><td data-label="Правило">7) Завершенность действия в&#160;придаточных времени&#160;/ условия (вместо <span class="italic">Future Perfect</span>)</td><td data-label="Пример"><span class="italic">I&#8217;ll call you after they have left.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Present Perfect Continuous</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Действие началось в&#160;какой-то момент в&#160;прошлом, длилось вплоть до&#160;момента речи, но в&#160;сам момент речи уже не&#160;происходит</td><td data-label="Пример"><span class="italic">She&#8217;s been working hard of late.</span></td></tr><tr><td data-label="Правило">2) Многократно повторявшееся действие в&#160;течение некоторого периода времени, в&#160;который включен и&#160;сам момент речи (указывается момент начала или период)</td><td data-label="Пример"><span class="italic">She&#8217;s been often coming here since her husband&#8217;s departure.</span></td></tr><tr><td data-label="Правило">3) Действие совершилось в&#160;неопределенном, но&#160;близком к&#160;моменту речи прошлом, и&#160;связано с&#160;моментом речи лишь своей значимостью для него</td><td data-label="Пример"><span class="italic">Somebody has been using my computer. Now&#160;it doesn&#8217;t work.</span></td></tr><tr><td data-label="Правило">4) Действие продолжается в&#160;момент речи (только с&#160;непредельными глаголами)</td><td data-label="Пример"><span class="italic">How long have you been waiting?</span></td></tr><tr><td data-label="Правило">5) Неконтиниусные глаголы в&#160;неконтиниусном значении для большей выразительности</td><td data-label="Пример"><span class="italic">I&#8217;ve been hearing all about the way you tried to do it.</span></td></tr><tr><td data-label="Правило">6) Придаточные времени&#160;/ условия (вместо <span class="italic">Future Perfect Continuous)</span></td><td data-label="Пример"><span class="italic">Don&#8217;t wake him up before he has been sleeping for at least 3&#160;hours.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Past Simple (Indefinite)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Факты прошлого</td><td data-label="Пример"><span class="italic">I came home late last night.</span></td></tr><tr><td data-label="Правило">2) Регулярно повторявшиеся действия в&#160;прошлом</td><td data-label="Пример"><span class="italic">We always had dinner at 5.</span></td></tr><tr><td data-label="Правило">3) Долговременные постоянные действия в&#160;прошлом</td><td data-label="Пример"><span class="italic">During the war we lived in Siberia.</span></td></tr><tr><td data-label="Правило">4) Последовательные действия в&#160;прошлом</td><td data-label="Пример"><span class="italic">He went into the compartment, opened the suitcase and took some boxes of cigarettes out of it.</span></td></tr><tr><td data-label="Правило">5) Длительные действия в&#160;прошлом, выраженные статальными глаголами (значение <span class="italic">Past Continuous</span>)</td><td data-label="Пример"><span class="italic">The voices in the next room were growing louder and now I&#160;heard every word.</span></td></tr><tr><td data-label="Правило">6) Непредельные глаголы могут быть и&#160;в&#160;<span class="italic">Past Simple</span> и&#160;в&#160;<span class="italic">Past Continuous</span></td><td data-label="Пример"><span class="italic">She stood by&#160;the window.</span>&#160;(констатация факта)<br /><span class="italic">She was standing by&#160;the window.</span>&#160;(описание временного действия в&#160;процессе)</td></tr><tr><td data-label="Правило">7) Подлежащее&#160;&#8212; неодушевленный предмет</td><td data-label="Пример"><span class="italic">The picture hung on the wall.</span></td></tr><tr><td data-label="Правило">8) В&#160;вопросах с&#160;<span class="bolder">When&#160;/ What time</span></td><td data-label="Пример"><span class="italic">When did you come?</span></td></tr><tr><td data-label="Правило">9) В&#160;придаточных обстоятельственных времени&#160;/ условия</td><td data-label="Пример"><span class="italic">He promised to contact me when he returned.</span></td></tr><tr><td data-label="Правило">10) Вежливый вопрос о&#160;желании или намерении собеседника</td><td data-label="Пример"><span class="italic">What did you want?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Past Continuous (Progressive)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Длительное действие в&#160;определенный момент или промежуток времени в&#160;прошлом</td><td data-label="Пример"><span class="italic">Hello! Who&#160;were you talking to?</span></td></tr><tr><td data-label="Правило">2) Длительное действие, в&#160;течение какого-то периода в&#160;прошлом. Время свершения этого действия понятно из&#160;контекста</td><td data-label="Пример"><span class="italic">It was raining all day long.</span><br />Или: <span class="italic">It rained all day long.</span></td></tr><tr><td data-label="Правило">3) Одновременные действия в&#160;течение некоторого периода времени, причем на&#160;переднем плане действие в&#160;<span class="italic">Past Continuous</span></td><td data-label="Пример"><span class="italic">He was swimming on and on while they looked helplessly at each other.</span></td></tr><tr><td data-label="Правило">4) Оба одновременных действия могут быть в&#160;<span class="italic">Past Simple</span></td><td data-label="Пример"><span class="italic">While they quarreled, the boys sat in the next room.</span></td></tr><tr><td data-label="Правило">5) Оба одновременных действия могут быть и&#160;в&#160;<span class="italic">Past Continuous</span></td><td data-label="Пример"><span class="italic">While he was trying to calm down, they were talking to his wife.</span></td></tr><tr><td data-label="Правило">6) Эмоциональное отношение к&#160;действию, типичному характерному для другого лица</td><td data-label="Пример"><span class="italic">She was constantly complaining of her neighbours.</span></td></tr><tr><td data-label="Правило">7) Неконтиниусные глаголы в&#160;своем континиусном значении</td><td data-label="Пример"><span class="italic">I&#8217;m sorry, I&#160;was being such a&#160;bore last night.</span></td></tr><tr><td data-label="Правило">8) Неконтиниусные глаголы в&#160;своем неконтиниусном значении для большей эмоциональной выразительности</td><td data-label="Пример"><span class="italic">He says he was wanting to see me all day long.</span></td></tr><tr><td data-label="Правило">9) Запланированное&#160;/ ожидаемое действие с&#160;глаголами движения</td><td data-label="Пример"><span class="italic">He explained he was leaving the following day.</span></td></tr><tr><td data-label="Правило">10) Запланированное, но&#160;так и&#160;не&#160;свершившееся действие, выраженное глаголами движения</td><td data-label="Пример"><span class="italic">He was leaving yesterday, but suddenly felt ill. He&#160;was going to do it, but changed his mind.</span></td></tr><tr><td data-label="Правило">11) В&#160;придаточных обстоятельственных времени&#160;/ условия (вместо <span class="italic">Future-in-the-Past Continuous</span>)</td><td data-label="Пример"><span class="italic">She promised to look after Jane while I&#160;was shopping.</span></td></tr><tr><td data-label="Правило">12) Вежливая косвенная просьба</td><td data-label="Пример"><span class="italic">I was just wondering&#8230;</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Past Perfect</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Действие уже совершилось до&#160;какого-то момента в&#160;прошлом (в&#160;повествовании, косвенной речи)</td><td data-label="Пример"><span class="italic">She had had her cup of coffee before the phone rang.</span>&#160;&#8212; До того, как позвонил телефон, она успела выпить чашку&#160;кофе.<br />Но: <span class="italic">She had her cup of coffee when the phone rang.</span>&#160;&#8212; Не успела она выпить свой кофе, как вдруг позвонил телефон</td></tr><tr><td data-label="Правило">2) Ряд действий, предшествовавших временному плану повествования; причем, только первых два действия из&#160;этого ряда</td><td data-label="Пример"><span class="italic">And then he remembered. He&#160;had stayed with Mr. Simpson at his country house. There had been dozen of people there. Everything went on as usual.</span></td></tr><tr><td data-label="Правило">3) Неконтиниусные глаголы (в&#160;значении <span class="italic">Past Perfect Continuous</span>, т.&#160;е. действие началось до&#160;какого-то момента в&#160;прошлом и&#160;продолжалось в&#160;сам этот момент)</td><td data-label="Пример"><span class="italic">He had known that since childhood.</span></td></tr><tr><td data-label="Правило">4) Непредельные континиусные глаголы (подчеркивается лишь факт свершения действия, а&#160;не&#160;его продолжительность)</td><td data-label="Пример"><span class="italic">She explained she had lived (had been living) there since she married.</span></td></tr><tr><td data-label="Правило">5) Непредельные континиусные глаголы в&#160;отрицательных предложениях (подчеркивается лишь факт свершения действия, а&#160;не&#160;его продолжительность)</td><td data-label="Пример"><span class="italic">He hadn&#8217;t slept those two nights.</span></td></tr><tr><td data-label="Правило">6) Будущее действие по&#160;отношению к&#160;какому-то действию в&#160;прошлом (главным образом в&#160;косвенной речи)</td><td data-label="Пример"><span class="italic">He asked her to come as soon as she had looked through the papers.</span></td></tr><tr><td data-label="Правило">7) В&#160;косвенной речи вместо <span class="italic">Present Perfect</span> употребляется <span class="italic">Past Perfect</span>. Здесь речь идет о&#160;действии, которое предшествовало другому действию в&#160;прошлом</td><td data-label="Пример"><span class="italic">She said she had seen the movie.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a9">Past Perfect Continuous</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Действие началось до&#160;какого-то момента в&#160;прошлом и&#160;закончилось за&#160;некоторое время до&#160;этого момента</td><td data-label="Пример"><span class="italic">He looked tired: he had been running.</span></td></tr><tr><td data-label="Правило">2) Неконтиниусные глаголы в&#160;своем неконтиниусном значении для выражения эмоционального отношения говорящего к&#160;действию</td><td data-label="Пример"><span class="italic">I felt free now. The&#160;desire to see her I&#160;had been having for weeks had gone.</span></td></tr><tr><td data-label="Правило">3) Действие началось до&#160;какого-то момента в&#160;прошлом и&#160;продолжалось в&#160;сам этот момент (здесь обязательны <span class="bolder">since&#160;/ for</span>)</td><td data-label="Пример"><span class="italic">He said he had been staying there for two weeks.</span></td></tr><tr><td data-label="Правило">4) Неконтиниусные глаголы в&#160;своем неконтиниусном значении для большей эмоциональной выразительности</td><td data-label="Пример"><span class="italic">Before it got dark I&#160;had been wanting eagerly to return.</span></td></tr><tr><td data-label="Правило">5) Длительное действие происходило в&#160;одном временном плане, который предшествовал общему плану повествования</td><td data-label="Пример"><span class="italic">Then the whole picture rose before my eyes: I&#160;had been sitting on the bench while the boys had been swimming in the bay.</span></td></tr><tr><td data-label="Правило">6) В&#160;косвенной речи заменяет <span class="italic">Present Perfect Continuous</span></td><td data-label="Пример"><span class="italic">He said he&#8217;d been waiting for her for two hours.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a10">Future Simple (Indefinite)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Спонтанное решение, обещание, предложение; запрос инструкции, мнения приказа</td><td data-label="Пример"><span class="italic">What shall we&#160;have?<br />I think I&#8217;ll go now.</span></td></tr><tr><td data-label="Правило">2) Последовательные действия в&#160;будущем</td><td data-label="Пример"><span class="italic">I hope you&#8217;ll be here in time and we&#8217;ll have dinner together.</span></td></tr><tr><td data-label="Правило">3) В&#160;главном предложении (следственной части) сложноподчиненного предложения с&#160;придаточным условия&#160;/ времени</td><td data-label="Пример"><span class="italic">If I&#160;have time I&#8217;ll come around.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a11">Future Continuous (Progressive)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Действие в&#160;процессе в&#160;определенный момент&#160;/ промежуток времени в&#160;будущем</td><td data-label="Пример"><span class="italic">I&#8217;ll be staying at the Palace hotel.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a12">Future Perfect</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Итог, результат к&#160;определенному моменту в&#160;будущем</td><td data-label="Пример"><span class="italic">I&#8217;ll have done everything by&#160;five.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a13">Future Perfect Continuous</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Длительное, незаконченное к&#160;указанному моменту в&#160;будущем действие</td><td data-label="Пример"><span class="italic">It will have been raining at least for a&#160;month by&#160;the time we come back if the forecast is right.</span></td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_when_must_means_probably" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
