				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">May&#160;/ might&#160;/ be&#160;allowed&#160;to</h1><p class="subhead">May&#160;&#8212; вероятность и&#160;разрешение, might&#160;&#8212; вероятность, be&#160;allowed&#160;to&#160;&#8212; разрешение.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">May&#160;/ might = вероятность в&#160;настоящем и&#160;будущем</option>
												<option value="#a2">May = be&#160;allowed&#160;to = разрешение в&#160;настоящем и&#160;будущем</option>
												<option value="#a3">May в&#160;воросах = только разрешение</option>
												<option value="#a4">Might используют для предположений в&#160;настоящем и&#160;будущем</option>
												<option value="#a5">Might не&#160;используют для разрешений в&#160;прошлом</option>
												<option value="#a6">May не&#160;имеет форм будущего времени</option>
												<option value="#a7">May&#160;/ might + have done = события прошлого</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">May&#160;/ might = вероятность в&#160;настоящем и&#160;будущем</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">I may come to the party.</span></td><td data-label="Значение">Я, наверное, приду на&#160;вечеринку. (высокая вероятность)</td></tr><tr><td data-label="Пример"><span class="italic">I might come to the party.</span></td><td data-label="Значение">Я, может быть, приду на&#160;вечеринку. (низкая вероятность)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">May = be&#160;allowed&#160;to = разрешение в&#160;настоящем и&#160;будущем</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">I may come to the party. (I am allowed to come to the party.)</span></td><td data-label="Значение">Я могу прийти на&#160;вечеринку. (разрешение)</td></tr><tr><td data-label="Пример"><span class="italic">You may not come here. (You are not allowed to come here.)</span></td><td data-label="Значение">Не смей сюда приходить. (разрешение)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">May в&#160;воросах = только разрешение</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правильно</th><th>Слишком формально</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">May I&#160;come in?</span></td><td data-label="Правильно"><span class="italic">Am I&#160;allowed to come in?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Might используют для предположений в&#160;настоящем и&#160;будущем</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">After I&#160;finish my work I&#160;might have a rest for a while.</span></td><td data-label="Значение">Закончу работу и, наверное, отдохну немного. (вероятность)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Might не&#160;используют для разрешений в&#160;прошлом</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">I <span class="bolder">was allowed to</span> see the papers after I&#160;had been granted the permission.</span></td><td data-label="Неправильно"><span class="italic">I might see the papers after I&#160;had been granted the permission.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">May не&#160;имеет форм будущего времени</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">Will we be&#160;allowed&#160;to go to the movies late in the evening?</span></td><td data-label="Значение">Разрешат&#160;ли нам пойти в&#160;кино поздним вечером?</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">May&#160;/ might + have done = события прошлого</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">He may have been busy.</span></td><td data-label="Значение">Он, наверное, был занят. (высокая вероятность)</td></tr><tr><td data-label="Пример"><span class="italic">He might have been busy.</span></td><td data-label="Значение">Я, может быть, был занят. (низкая вероятность)</td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_modal_verbs" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
