				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Неконтиниусные глаголы</h1><p class="subhead">Глаголы состояния, или статальные глаголы (statal&#160;/ stative verbs), обозначают состояния или отношения.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Кратко</option>
												<option value="#a2">&#171;Оборотни&#187;</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Кратко</h2></div><div class="holder-hidden-layer"><p>Глаголы, обозначающие действия, процесс (read, dig)&#160;&#8212; континиусные. Неконтиниусные (статальные) выражают состояния ума (believe, understand), чувства (see, feel), эмоции (love, want), принадлежность (belong, have).</p><p>Мы не&#160;можем видеть что-то или, например, слышать в&#160;течение периода времени. Мы&#160;не&#160;заняты этим, как, например, смотрением и&#160;слушанием. Либо&#160;видим, либо не&#160;видим. Слышим или не&#160;слышим.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">I see you.</span></td><td data-label="Неправильно"><span class="italic">I&#8217;m seeing you.</span></td></tr><tr><td data-label="Правильно"><span class="italic">I hear you.</span></td><td data-label="Неправильно"><span class="italic">I&#8217;m hearing you</span></td></tr></tbody></table><p>К статальным (тем, которые не употребляются во временах группы <span class="italic">Continuous</span> и&#160;<span class="italic">Perfect Continuous</span>: вместо <span class="italic">Continuous</span>&#160;&#8212; <span class="italic">Simple</span>, вместо <span class="italic">Perfect Continuous</span>&#160;&#8212; <span class="italic">Perfect</span>) относят глаголы, выражающие:</p><p>&#8212; эмоциональное состояние:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Глагол">adore</td><td data-label="Перевод">обожать</td></tr><tr><td data-label="Глагол">astonish</td><td data-label="Перевод">удивляться</td></tr><tr><td data-label="Глагол">care</td><td data-label="Перевод">любить</td></tr><tr><td data-label="Глагол">desire</td><td data-label="Перевод">желать</td></tr><tr><td data-label="Глагол">dislike</td><td data-label="Перевод">не любить</td></tr><tr><td data-label="Глагол">envy</td><td data-label="Перевод">завидовать</td></tr><tr><td data-label="Глагол">fear</td><td data-label="Перевод">бояться</td></tr><tr><td data-label="Глагол">hate</td><td data-label="Перевод">ненавидеть</td></tr><tr><td data-label="Глагол">hope</td><td data-label="Перевод">надеяться</td></tr><tr><td data-label="Глагол">like</td><td data-label="Перевод">нравиться</td></tr><tr><td data-label="Глагол">love</td><td data-label="Перевод">любить</td></tr><tr><td data-label="Глагол">please</td><td data-label="Перевод">радовать</td></tr><tr><td data-label="Глагол">want</td><td data-label="Перевод">хотеть</td></tr><tr><td data-label="Глагол">wish</td><td data-label="Перевод">желать</td></tr></tbody></table><p>&#8212; умственное состояние:</p><table class="respond fit-width"><caption></caption><tbody><tr><td data-label="Глагол">assume</td><td data-label="Перевод">предполагать</td></tr><tr><td data-label="Глагол">believe</td><td data-label="Перевод">полагать</td></tr><tr><td data-label="Глагол">consider</td><td data-label="Перевод">считать</td></tr><tr><td data-label="Глагол">doubt</td><td data-label="Перевод">сомневаться</td></tr><tr><td data-label="Глагол">expect</td><td data-label="Перевод">предполагать</td></tr><tr><td data-label="Глагол">guess</td><td data-label="Перевод">полагать</td></tr><tr><td data-label="Глагол">imagine</td><td data-label="Перевод">представить себе</td></tr><tr><td data-label="Глагол">mind</td><td data-label="Перевод">возражать</td></tr><tr><td data-label="Глагол">know</td><td data-label="Перевод">знать</td></tr><tr><td data-label="Глагол">mean</td><td data-label="Перевод">намереваться</td></tr><tr><td data-label="Глагол">realize</td><td data-label="Перевод">осознавать</td></tr><tr><td data-label="Глагол">think</td><td data-label="Перевод">думать, считать</td></tr><tr><td data-label="Глагол">forgive</td><td data-label="Перевод">прощать</td></tr><tr><td data-label="Глагол">forget</td><td data-label="Перевод">забывать</td></tr><tr><td data-label="Глагол">find</td><td data-label="Перевод">находить</td></tr><tr><td data-label="Глагол">recognize</td><td data-label="Перевод">узнавать</td></tr><tr><td data-label="Глагол">regard</td><td data-label="Перевод">рассматривать</td></tr><tr><td data-label="Глагол">remember</td><td data-label="Перевод">помнить</td></tr><tr><td data-label="Глагол">suggest</td><td data-label="Перевод">предлагать</td></tr><tr><td data-label="Глагол">suppose</td><td data-label="Перевод">предполагать</td></tr><tr><td data-label="Глагол">understand</td><td data-label="Перевод">предполагать</td></tr></tbody></table><p>&#8212; чувственное восприятие:</p><table class="respond fit-width"><caption></caption><tbody><tr><td data-label="Глагол">feel</td><td data-label="Перевод">ощущать</td></tr><tr><td data-label="Глагол">hear</td><td data-label="Перевод">слышать</td></tr><tr><td data-label="Глагол">see</td><td data-label="Перевод">видеть</td></tr><tr><td data-label="Глагол">smell</td><td data-label="Перевод">чувствовать запах</td></tr><tr><td data-label="Глагол">taste</td><td data-label="Перевод">чувствовать вкус</td></tr></tbody></table><table class="respond fit-width"><caption>&#160;&#8212; различные отношения:</caption><tbody><tr><td data-label="Глагол">appear</td><td data-label="Перевод">оказывать</td></tr><tr><td data-label="Глагол">be</td><td data-label="Перевод">быть</td></tr><tr><td data-label="Глагол">belong</td><td data-label="Перевод">принадлежать</td></tr><tr><td data-label="Глагол">compare</td><td data-label="Перевод">сравнивать</td></tr><tr><td data-label="Глагол">concern</td><td data-label="Перевод">касаться (темы)</td></tr><tr><td data-label="Глагол">consist of</td><td data-label="Перевод">состоять (из)</td></tr><tr><td data-label="Глагол">contain</td><td data-label="Перевод">содержать (всебе)</td></tr><tr><td data-label="Глагол">include</td><td data-label="Перевод">включать (в себя)</td></tr><tr><td data-label="Глагол">cost</td><td data-label="Перевод">стоить</td></tr><tr><td data-label="Глагол">depend on</td><td data-label="Перевод">зависеть от</td></tr><tr><td data-label="Глагол">deserve</td><td data-label="Перевод">заслуживать</td></tr><tr><td data-label="Глагол">equal</td><td data-label="Перевод">равняться</td></tr><tr><td data-label="Глагол">fit</td><td data-label="Перевод">соответствовать</td></tr><tr><td data-label="Глагол">have</td><td data-label="Перевод">иметь</td></tr><tr><td data-label="Глагол">involve</td><td data-label="Перевод">задействовать</td></tr><tr><td data-label="Глагол">lack</td><td data-label="Перевод">нуждаться</td></tr><tr><td data-label="Глагол">require</td><td data-label="Перевод">требовать</td></tr><tr><td data-label="Глагол">look</td><td data-label="Перевод">выглядеть</td></tr><tr><td data-label="Глагол">seem</td><td data-label="Перевод">казаться</td></tr><tr><td data-label="Глагол">sound</td><td data-label="Перевод">звучать, выглядеть</td></tr><tr><td data-label="Глагол">matter</td><td data-label="Перевод">иметь значение</td></tr><tr><td data-label="Глагол">mean</td><td data-label="Перевод">иметь ввиду</td></tr><tr><td data-label="Глагол">need</td><td data-label="Перевод">нуждаться</td></tr><tr><td data-label="Глагол">owe</td><td data-label="Перевод">быть обязанным</td></tr><tr><td data-label="Глагол">own</td><td data-label="Перевод">владеть</td></tr><tr><td data-label="Глагол">possess</td><td data-label="Перевод">обладать</td></tr><tr><td data-label="Глагол">remain</td><td data-label="Перевод">оставаться</td></tr><tr><td data-label="Глагол">resemble</td><td data-label="Перевод">иметь сходство, напоминать</td></tr><tr><td data-label="Глагол">suffice</td><td data-label="Перевод">хватать</td></tr><tr><td data-label="Глагол">weigh</td><td data-label="Перевод">иметь вес</td></tr></tbody></table><p>Глаголы: <span class="bolder">agree, appear, astonish, be, believe, belong, concern, consist, contain, deny, depend, deserve, disagree, dislike, doubt, feel (=have an opinion), fit, hate, have, hear, imagine, impress, include, involve, know, lack, like, look (=seem), love, matter, mean, measure (=have length etc), mind, need, owe, own, please, possess, prefer, promise, realise, recognise, remember, satisfy, see, seem, smell, sound, suppose, surprise, taste, think (=have an opinion), understand, want, weigh (=have weight), wish</span> обычно не&#160;употребляются в&#160;континиусе.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">&#171;Оборотни&#187;</h2></div><div class="holder-hidden-layer"><p>Статальные глаголы могут употребляться и&#160;в&#160;континиусных временах, если имеют другое значение (to be thinking, to be having, to be wanting), или, например, для эмоционального усиления (to be feeling, to be understanding).</p><table class="respond fit-width"><caption></caption><thead><tr><th>Глагол</th><th>Состояние</th><th>Действие</th></tr></thead><tbody><tr><td data-label="Глагол">to be</td><td data-label="Состояние">быть, являться, находиться</td><td data-label="Действие">вести себя</td></tr><tr><td data-label="Глагол">to think</td><td data-label="Состояние">считать, полагать</td><td data-label="Действие">обдумывать, размышлять</td></tr><tr><td data-label="Глагол">to consider</td><td data-label="Состояние">считать, полагать</td><td data-label="Действие">рассматривать, обсуждать</td></tr><tr><td data-label="Глагол">to expect</td><td data-label="Состояние">надеяться, рассчитывать</td><td data-label="Действие">ждать, ожидать</td></tr><tr><td data-label="Глагол">to see</td><td data-label="Состояние">считать, видеть</td><td data-label="Действие">навещать, провожать, встречаться, видеться</td></tr><tr><td data-label="Глагол">to hear</td><td data-label="Состояние">слышать</td><td data-label="Действие">слушать (дело в суде)</td></tr><tr><td data-label="Глагол">to smell</td><td data-label="Состояние">чувствовать запах</td><td data-label="Действие">нюхать</td></tr><tr><td data-label="Глагол">to taste</td><td data-label="Состояние">чувствовать вкус</td><td data-label="Действие">пробовать на вкус</td></tr><tr><td data-label="Глагол">to look</td><td data-label="Состояние">выглядеть</td><td data-label="Действие">смотреть</td></tr><tr><td data-label="Глагол">to have</td><td data-label="Состояние">иметь, владеть</td><td data-label="Действие">to have dinner&#160;&#8212; обедать<br />to have a shower&#160;&#8212; принимать душ<br />to have tea&#160;&#8212; пить чай</td></tr></tbody></table><p>Сравните:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Статальный</th><th>Континиусный</th></tr></thead><tbody><tr><td data-label="Статальный"><span class="bolder">Do</span> you <span class="bolder">have</span> a car? (own)</td><td data-label="Континиусный">They <span class="bolder">are having</span> dinner at the moment. (eating)</td></tr><tr><td data-label="Статальный">You <span class="bolder">are</span> my best friend. (it's a fact)</td><td data-label="Континиусный">She<span class="bolder">'s being</span> silly again. (behaving in a silly way)</td></tr><tr><td data-label="Статальный">That soup <span class="bolder">smells</span> good. (has a good smell)</td><td data-label="Континиусный">He <span class="bolder">is smelling</span> the soup. (sniffing at)</td></tr><tr><td data-label="Статальный">This milk <span class="bolder">tastes</span> sour. (has a sour taste)</td><td data-label="Континиусный">I <span class="bolder">was</span> just <span class="bolder">tasting</span> the food. (testing)<br /></td></tr><tr><td data-label="Статальный">You <span class="bolder">look</span> great! (your current appearance)</td><td data-label="Континиусный">He <span class="bolder">was looking</span> out the window when I&#160;saw him. (directing his eyes towards)</td></tr><tr><td data-label="Статальный">What <span class="bolder">do</span> you <span class="bolder">see</span>? (notice with eyes)</td><td data-label="Континиусный">I<span class="bolder">'m seeing</span> my dentist this afternoon. (visiting)</td></tr><tr><td data-label="Статальный">I <span class="bolder">don't hear</span> well. (pick up with ears)</td><td data-label="Континиусный">The judge <span class="bolder">will be hearing</span> the evidence later this week. (listening to)</td></tr><tr><td data-label="Статальный">I <span class="bolder">expect</span> that you are tired. (assume)</td><td data-label="Континиусный"><span class="bolder">Are</span> you <span class="bolder">expecting</span> visitors this evening? (waiting for them to arrive)</td></tr><tr><td data-label="Статальный">I <span class="bolder">feel</span> that you are wrong. (think)</td><td data-label="Континиусный">How <span class="bolder">have</span> you <span class="bolder">been feeling</span>? (asking about physical state)</td></tr><tr><td data-label="Статальный">This melon <span class="bolder">weighs</span> 2&#160;kg. (its weight is 2&#160;kg)</td><td data-label="Континиусный">He <span class="bolder">is weighing</span> the melon. (measuring its weight)</td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_the_listing_comma" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
