				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Артикли a&#160;/ an и&#160;the</h1><p class="subhead">Артикль&#160;&#8212; служебное слово, которое отсутствует в&#160;русском языке. Артикли помогают отличить предмет от&#160;действия; выделяют или, наоборот, объединяют с&#160;другими предметами; меняют контекст.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Неопределенный артикль a&#160;/ an</option>
												<option value="#a2">Определенный артикль the</option>
												<option value="#a3">Нулевой артикль</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Неопределенный артикль a&#160;/ an</h2></div><div class="holder-hidden-layer"><p>Неопределенный артикль <span class="bolder">a</span> означает &#171;одна штука&#187;, &#171;некий&#160;/ какой-то&#187;, &#171;один из&#160;многих других таких же&#187;, и&#160;употребляться может с&#160;исчисляемыми существительными в&#160;единственном&#160;числе.</p><p><span class="bolder">а</span>&#160;&#8212; перед согласными и&#160;перед <span class="bolder">eu</span>&#160;/ <span class="bolder">u</span>.<br /><span class="bolder">an</span>&#160;&#8212; перед гласными и&#160;перед немым <span class="italic">h</span> (напр.: <span class="italic">a horse</span>, но <span class="italic">an hour; a&#160;European, a&#160;union,</span> но <span class="italic">an umbrella</span>; тж. <span class="italic">a one</span>).</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Употребляется перед исчисляемым существительным в&#160;ед. числе и&#160;придает ему обобщающее значение: любой, все равно какой</td><td data-label="Пример"><span class="italic">We need a&#160;new car.</span>&#160;&#8212; Нам нужна новая машина (какая-нибудь)</td></tr><tr><td data-label="Правило">2) Один</td><td data-label="Пример"><span class="italic">a hundred years</span>&#160;&#8212; сотня&#160;лет<br /><span class="italic"> a&#160;dozen eggs</span>&#160;&#8212; дюжина яиц</td></tr><tr><td data-label="Правило">3) Употребляется с&#160;некоторыми квантификаторами <span class="bolder">little, few, good many, great many</span> и&#160;перед счетными существительными <span class="bolder">dozen</span>&#160;&#8212; дюжина, <span class="bolder">score</span>&#160;&#8212; два десятка</td><td data-label="Пример"><span class="italic">a great many years</span>&#160;&#8212; много&#160;лет<br /><span class="italic"> a&#160;few stars</span>&#160;&#8212; несколько звезд</td></tr><tr><td data-label="Правило">4) Tот&#160;же самый, такой&#160;же, одинаковый</td><td data-label="Пример"><span class="italic">all of a&#160;size</span>&#160;&#8212; все одного размера, все одной и&#160;той&#160;же величины<br /><span class="italic"> two at a&#160;time</span>&#160;&#8212; два в&#160;одно и&#160;то&#160;же время</td></tr><tr><td data-label="Правило">5) с&#160;неисчисляемыми существительными указывает на&#160;порцию, единицу чего-л.</td><td data-label="Пример"><span class="italic">two coffees and a&#160;tea</span>&#160;&#8212; две чашечки кофе и&#160;одна чая</td></tr><tr><td data-label="Правило">6) Каждый</td><td data-label="Пример"><span class="italic">A dog has four legs.</span>&#160;&#8212; Каждая собака имеет четыре&#160;ноги.<br /><span class="italic"> twice a&#160;day</span>&#160;&#8212; два раза в&#160;день</td></tr><tr><td data-label="Правило">7) Перед именем автора обозначает произведение литературы или искусства</td><td data-label="Пример"><span class="italic">a Van Gogh</span>&#160;&#8212; картина Ван Гога</td></tr><tr><td data-label="Правило">8) Некий</td><td data-label="Пример"><span class="italic">a Mr. Henry Green</span>&#160;&#8212; некий мистер Генри Грин</td></tr><tr><td data-label="Правило">9) Придает имени собственному нарицательный характер</td><td data-label="Пример"><span class="italic">a Cicero in eloquence</span>&#160;&#8212; по&#160;красноречию прямо Цицерон</td></tr><tr><td data-label="Правило">10) Придает имени собственному значение принадлежности к&#160;семье</td><td data-label="Пример"><span class="italic">She married an Evans.</span>&#160;&#8212; Она вышла замуж за&#160;одного из&#160;Эвансов</td></tr><tr><td data-label="Правило">11) Образует множественное число в&#160;оборотах с&#160;<span class="bolder">many</span></td><td data-label="Пример"><span class="italic">many a&#160;man</span>&#160;&#8212; многие&#160;люди<br /><span class="italic"> many a&#160;book</span>&#160;&#8212; многие&#160;книги<br /><span class="italic"> many a&#160;day</span>&#160;&#8212; многие дни</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Определенный артикль the</h2></div><div class="holder-hidden-layer"><p>Определенный артикль <span class="bolder">the</span> означает &#171;тот&#160;/ этот&#187;, &#171;мой&#160;/ твой&#187;, &#171;тот самый&#160;/ тот, который&#187; и&#160;употребляться может с&#160;исчисляемыми и&#160;неисчисляемыми существительными в&#160;единственном и&#160;множественном&#160;числе.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Выделяет конкретный, определенный объект из&#160;группы однородных объектов; употребляется перед названиями объектов, которые известны говорящему и&#160;слушающему, в&#160;том числе были упомянуты в&#160;предшествующем контексте</td><td data-label="Пример"><span class="italic">the door of the room</span>&#160;&#8212; дверь (этой) комнаты<br /><span class="italic"> the students in our class</span>&#160;&#8212; студенты в&#160;нашем классе<br /><span class="italic"> on the other side of the road</span>&#160;&#8212; на&#160;другой стороне (этой) дороги<br /><span class="italic"> the flowers are in the vase</span>&#160;&#8212; цветы стоят в&#160;вазе</td></tr><tr><td data-label="Правило">2) Указывает на&#160;существительное как на (эталонного) представителя определенного класса&#160;&#8212; часто при сопоставлении с&#160;другими классами</td><td data-label="Пример"><span class="italic">the wolf is a&#160;predator</span>&#160;&#8212; волк является хищником<br /><span class="italic"> the pen is mightier than the sword</span>&#160;&#8212; перо могущественнее&#160;меча<br /><span class="italic"> Popov invented the radio.</span>&#160;&#8212; Попов изобрел радио</td></tr><tr><td data-label="Правило">3) а) Употребляется перед названиями уникальных обектов или объектов, которые уникальны в&#160;данный момент времени</td><td data-label="Пример"><span class="italic">the sun</span>&#160;&#8212; солнце<br /><span class="italic"> the air</span>&#160;&#8212; воздух<br /><span class="italic"> the universe</span>&#160;&#8212; вселенная<br /><span class="italic"> the world</span>&#160;&#8212; мир<br /><span class="italic"> the earth</span>&#160;&#8212; земля<br /><span class="italic"> the sky</span>&#160;&#8212; небо<br /><span class="italic"> the Bible</span>&#160;&#8212; Библия<br /><span class="italic"> the Pope</span>&#160;&#8212; Папа</td></tr><tr><td data-label="Правило">б) Употребляется перед названиями рек, архипелагов, гор, областей (как правило, во мн.ч.); перед названиями некоторых стран</td><td data-label="Пример"><span class="italic">the Thames</span>&#160;&#8212; Темза (река)<br /><span class="italic"> the Alps</span>&#160;&#8212; Альпы<br /><span class="italic"> the Argentine</span>&#160;&#8212; Аргентина<br /><span class="italic"> the Oxford Road</span>&#160;&#8212; Оксфордская дорога</td></tr><tr><td data-label="Правило">в) Употребляется перед географическими названиями, представляющими собой словосочетание, где главное существительное не&#160;является именем собственным</td><td data-label="Пример"><span class="italic">the Black Sea</span>&#160;&#8212; Черное&#160;море<br /><span class="italic"> the United States of America</span>&#160;&#8212; США</td></tr><tr><td data-label="Правило">г) Употребляется перед названиями природных явлений, времен года</td><td data-label="Пример"><span class="italic">the spring</span>&#160;&#8212; весна<br /><span class="italic"> the day</span>&#160;&#8212; день<br /><span class="italic"> the night</span>&#160;&#8212; ночь<br /><span class="italic"> the wind</span>&#160;&#8212; ветер<br /><span class="italic"> the clouds</span>&#160;&#8212; облака</td></tr><tr><td data-label="Правило">4) а) Употребляется перед существительными, обозначающими время</td><td data-label="Пример"><span class="italic">Сould you tell me the time, please?</span>&#160;&#8212; Вы не&#160;подскажете, сколько времени?<br /><span class="italic">at the moment</span>&#160;&#8212; в&#160;настоящий момент, сейчас</td></tr><tr><td data-label="Правило">б) Употребляется перед числительными, обозначающими год</td><td data-label="Пример"><span class="italic">in the 2000</span>&#160;&#8212; в&#160;двухтысячном году</td></tr><tr><td data-label="Правило">5) Употребляется перед названиями периодических изданий; литературных, музыкальных, художественных произведений</td><td data-label="Пример"><span class="italic">the Times (газета)</span>&#160;&#8212; Таймс<br /><span class="italic"> the Mona Lisa (картина)</span>&#160;&#8212; Мона Лиза</td></tr><tr><td data-label="Правило">6) а) Употребляется перед названием части тела или персональной принадлежностью, упомянутой или обозначенной раньше, вместо соответствующего притяжательного местоимения</td><td data-label="Пример"><span class="italic">Нe took him by&#160;the hand.</span>&#160;&#8212; Он схватил его за&#160;руку</td></tr><tr><td data-label="Правило">б) Употребляется перед названиями родственников</td><td data-label="Пример"><span class="italic">the wife</span>&#160;&#8212; жена<br /><span class="italic"> the mother</span>&#160;&#8212; мать</td></tr><tr><td data-label="Правило">в) Употребляется перед названиями болезней, недугов, которые в&#160;данном случае рассматриваются относительно их&#160;обладателя (также возможно безартиклевое употребление)</td><td data-label="Пример"><span class="italic">His secretary had gone down with the flu.</span>&#160;&#8212; Его секретарь слег с&#160;гриппом.<br /><span class="italic"> I have the toothache.</span>&#160;&#8212; У меня болит зуб</td></tr><tr><td data-label="Правило">7) Употребляется (эллиптически) перед названиями кораблей, таверн, театров и&#160;других известных сооружений</td><td data-label="Пример"><span class="italic">the Coliseum</span>&#160;&#8212; Колизей</td></tr><tr><td data-label="Правило">8) Употребляется перед названиями титулов</td><td data-label="Пример"><span class="italic">the King</span>&#160;&#8212; король<br /><span class="italic"> the Duke</span>&#160;&#8212; герцог</td></tr><tr><td data-label="Правило">9) Употребляется перед существительным, которое определяется относительным предложением или причастным оборотом</td><td data-label="Пример"><span class="italic">He is the man I&#160;told you about.</span>&#160;&#8212; Это тот человек, о&#160;котором я&#160;вам рассказывал</td></tr><tr><td data-label="Правило">10) Употребляется перед существительным (как правило, именем собственным), которое определяется предложной группой (особенно с&#160;предлогом <span class="bolder">of</span>)</td><td data-label="Пример"><span class="italic">The Oxford of 19&#160;century was unsympathetic.</span>&#160;&#8212; Охфорд 19&#160;века был малопривлекателен.<br /><span class="italic"> the Rome of my youth</span>&#160;&#8212; Рим моей молодости</td></tr><tr><td data-label="Правило">11) тот, такой, подходящий (употребляется перед существительным, которое определяется инфинитивным оборотом)</td><td data-label="Пример"><span class="italic">He is not the person to lay before us the work of absolutely the finest quality.</span>&#160;&#8212; Он не&#160;тот человек, который положит перед нами работу высочайшего качества.<br /><span class="italic"> This is the place to eat.</span>&#160;&#8212; Вот где стоит поесть</td></tr><tr><td data-label="Правило">12) а) Употребляется перед существительным, которое определяет другое существительное (как правило, имя собственное), причем определяющее существительное обычно ставится после имени собственного</td><td data-label="Пример"><span class="italic">the poet Virgil</span>&#160;&#8212; поэт Виргилий<br /><span class="italic"> William the Conqueror</span>&#160;&#8212; Вильгельм Завоеватель</td></tr><tr><td data-label="Правило">б) Употребляется перед прилагательными, определяющими имена собственные; в&#160;том случае если прилагательное становится постоянным эпитетом, оно употребляется после существительного</td><td data-label="Пример"><span class="italic">the old John</span>&#160;&#8212; старый&#160;Джон<br /><span class="italic"> Alfred the Great</span>&#160;&#8212; Альфред Великий<br /><span class="italic"> Peter the First</span>&#160;&#8212; Петр Первый</td></tr><tr><td data-label="Правило">13) а) Употребляется перед названиями наций, народов, племен и&#160;пр. (<span class="bolder">the</span> = те, кто являются)</td><td data-label="Пример"><span class="italic">the Russians</span>&#160;&#8212; русские<br /><span class="italic"> the English</span>&#160;&#8212; англичане<br /><span class="italic"> the Americans</span>&#160;&#8212; американцы</td></tr><tr><td data-label="Правило">б) Употребляется перед фамилиями во мн.ч. (для обозначения всей семьи); для обозначения династии (тоже во мн.ч.)</td><td data-label="Пример"><span class="italic">the Smiths Смиты</span>&#160;&#8212; семья Смитов<br /><span class="italic"> the Tudors Тюдоры</span>&#160;&#8212; династия Тюдоров</td></tr><tr><td data-label="Правило">14) Употребляется перед прилагательными в&#160;превосходной степени и&#160;порядковыми числительными</td><td data-label="Пример"><span class="italic">This is the most interesting book I&#8217;ve ever read.</span>&#160;&#8212; Это самая интересная книга, которую я&#160;когда-либо&#160;читал.<br /><span class="italic"> the second bottle</span>&#160;&#8212; вторая бутылка</td></tr><tr><td data-label="Правило">15) а) Оформляет субстантивацию прилагательных, причастий, числительных, местоимений</td><td data-label="Пример"><span class="italic">the good</span>&#160;&#8212; добро<br /><span class="italic"> the evil</span>&#160;&#8212; зло<br /><span class="italic"> the who</span>&#160;&#8212; субъект<br /><span class="italic"> the what</span>&#160;&#8212; объект<br /><span class="italic"> words borrowed from the German</span>&#160;&#8212; слова, заимствованные из&#160;немецкого</td></tr><tr><td data-label="Правило">б) Употребляется перед прилагательными или причастиями для образования коллективного собирательного существительного (как правило, относящегося к&#160;людям)</td><td data-label="Пример"><span class="italic">the poor</span>&#160;&#8212; бедные, бедняки<br /><span class="italic"> the dead</span>&#160;&#8212; мертвые</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Нулевой артикль</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1) Артикли не&#160;употребляются с&#160;неисчисляемыми существительными и с&#160;существительными во&#160;множественном числе, упоминаемыми в&#160;общем смысле; с&#160;собственными именами; в&#160;конструкциях типа <span class="italic">He turned sailor; He was son of a&#160;University professor</span> (если нужно подчеркнуть социальное положение); или&#160;же когда говорится о&#160;единственном в&#160;своем роде титуле или должности.</td><td data-label="Пример"><span class="italic">They nominated candidates for the post of President and Vice-President.<br />He was appointed secretary of the new Committee.</span></td></tr><tr><td data-label="Правило">2) Артикли не&#160;используются во&#160;фразах типа:</td><td data-label="Пример"><span class="italic">from tree to tree, from house to house, horse and rider, husband and wife, lock and key, to be in town, to go out to sea, etc.</span></td></tr><tr><td data-label="Правило">3) В технической литературе, особенно инструкциях.</td><td data-label="Пример"><span class="italic">Supply the correct adaptor for the different standard of telephone plug.</span></td></tr><tr><td data-label="Правило">4) Часто артикли не&#160;используются как с&#160;неисчисляемыми, так и с&#160;исчисляемыми существительными в&#160;конкретном смысле. Подобными примерами изобилуют статьи из&#160;научно-популярных журналов.</td><td data-label="Пример"><span class="italic">For the first time, oil is reported on the shores of Seward, at the head of Resurrection Bay.</span></td></tr><tr><td data-label="Правило">5) Подписи под фотографиями, включая рекламные фото.</td><td data-label="Пример"><span class="italic">Sea otter in cage at rescue center.<br />Her: green two-layer dress and green beaded cardigan, silver mules. Him: gray &quot;parklane&quot; suit, red tie and blue shirt, all darks simpson shoes, model's own.</span></td></tr><tr><td data-label="Правило">6) Все виды объявлений.</td><td data-label="Пример"><span class="italic">Very demanding but challenging role for articulate secretary bursting with enthusiasm! Experienced, confident secretary needed by disorganized lawyer in well-established legal practice!</span></td></tr><tr><td data-label="Правило">7) В кулинарных рецептах.</td><td data-label="Пример"><span class="italic">Prepare cake according to directions making 2&#160;layers.</span></td></tr><tr><td data-label="Правило">8) Со словами <span class="bolder">television, headache, day, morning, government, management, work, sea</span>, а&#160;также со&#160;словами, называющими учебные заведения и в&#160;британском, и в&#160;американском вариантах: <span class="bolder">boarding school, university, college</span>. Обычно эти слова использовались с&#160;нулевым артиклем в&#160;предложных словосочетаниях. Сейчас мы&#160;наблюдаем нулевой артикль, если эти слова выступают и в&#160;роли подлежащего.</td><td data-label="Пример"><span class="italic">School should be a&#160;place where children are to be taught to enjoy learning.</span></td></tr><tr><td data-label="Правило">9) Если существительные <span class="bolder">birch, effect, lemon, pie, carrot, effort, lettuce, pizzadialect, hesitation, license, potato, diet, home, light, queuedisease, hope, line, watermelon, divorce, leakage, lunch, doctrine, legend, melodrama</span> употребляются в&#160;неисчисляемом смысле, отсутствие артикля вполне объяснимо.</td><td data-label="Пример"><span class="italic">My favourite food is hamburger.</span></td></tr><tr><td data-label="Правило">10) С названиями стран, партий, правительственных органов, журналов, кораблей, больниц, спортивных команд, фирм и&#160;торговых марок наблюдается тенденция опускать артикль.</td><td data-label="Пример"><span class="italic">Congo, Lebanon, Ukraine, Crimea, Argentina, Antarctica (вместо the Congo, the Lebanon, the Ukraine, the Crimea, the Argentine, the Antarctic)<br />Labour (вместо the Labour Party)<br />Conservative Republican (вместо the Republican Party)<br />Democrats (вместо the Democratic Party)<br />Congress (вместо the Congress)</span></td></tr><tr><td data-label="Правило">11) Словосочетания с&#160;числительными, обозначающими время.</td><td data-label="Пример"><span class="italic">in first year, in third year.</span></td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_usage_of_hyphens" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
