				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">To me&#160;/ for me, или Надуманная проблема</h1><p class="subhead">&#171;To me&#187;&#160;&#8212; &#171;мне&#187;, дательный падеж. &#171;For me&#187;&#160;&#8212; &#171;для меня&#187;, родительный падеж; или &#171;за (вместо) меня&#187;, винительный падеж.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Be + adjective + to smb.</option>
												<option value="#a2">Prove&#160;/ appeal to smb.</option>
												<option value="#a3">Seem&#160;/ sound&#160;/ look + adjectve + to smb.</option>
												<option value="#a4">Look like + noun + to smb.</option>
												<option value="#a5">For smb. = instead of smb.</option>
												<option value="#a6">Luckily&#160;/ fortunately&#160;/ happily&#160;/ unfortunately for smb. </option>
												<option value="#a7">Hard&#160;/ difficult for smb. (to do smth)</option>
												<option value="#a8">Important for smb. (to do smth)</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Be + adjective + to smb.</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">Why must she be so nasty to me?</span></td></tr><tr><td data-label="Примеры"><span class="italic">We need to understand the things which are important to people.</span></td></tr><tr><td data-label="Примеры"><span class="italic">Your comments are of great interest to me.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Prove&#160;/ appeal to smb.</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">This incident proved to me that Ian cannot be trusted.</span></td></tr><tr><td data-label="Примеры"><span class="italic">What appealed to me was its originality.</span></td></tr><tr><td data-label="Примеры"><span class="italic">It was Ted who broke the news to me.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Seem&#160;/ sound&#160;/ look + adjectve + to smb.</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">They looked all right to me.</span><br></td></tr><tr><td data-label="Примеры"><span class="italic">It sounds unnatural to you, I&#160;expect.</span></td></tr><tr><td data-label="Примеры"><span class="italic">The parents are not afraid to be firm about those matters that seem important to them.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Look like + noun + to smb.</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">&#8216;It looks like tea to me.&#8217;&#160;&#8212; &#8216;Yes, it could be.&#8217;</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">For smb. = instead of smb.</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">She said that she&#8217;d wash up for me.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Luckily&#160;/ fortunately&#160;/ happily&#160;/ unfortunately for smb. </h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">&#8216;Does he do his fair share of the household chores?&#8217;&#160;&#8212; &#8216;Oh yes, fortunately for me.&#8217;</span></td></tr><tr><td data-label="Примеры"><span class="italic">Luckily for me and them, love did eventually grow and flourish.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Hard&#160;/ difficult for smb. (to do smth)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">It was hard for me to believe these were his real reasons for wanting to get rid of me.</span></td></tr><tr><td data-label="Примеры"><span class="italic">The biggest problem was the accent. That&#160;was difficult for me.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Important for smb. (to do smth)</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">It is very important for me that you enjoy yourself.</span></td></tr></tbody></table></div>
								<p class="address" role="contentinfo">Использованы примеры из: &#171;Collins COBUILD English Grammar&#187; &#169;&#160;HarperCollins Publishers, 2012.</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_too_enough_so_such" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
