				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Числа по-английски</h1><p class="subhead">Английские числительные не&#160;склоняются по&#160;родам и&#160;не&#160;имеют падежных окончаний. Вместо &#171;пятьсот&#187; говорят: &#171;пять сто&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Числительные</option>
												<option value="#a2">Десятичные дроби</option>
												<option value="#a3">Деньги</option>
												<option value="#a4">Телефонные номера</option>
												<option value="#a5">Года</option>
												<option value="#a6">Даты</option>
												<option value="#a7">Числа в&#160;сочетаниях</option>
												<option value="#a8">Сокращения с&#160;использованием чисел</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Числительные</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">1, 2, 3, 4</span></td><td data-label=""><span class="italic">one, two, three, four</span></td></tr><tr><td data-label=""><span class="bolder">I,II, III, IV</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">1st, 2nd, 3rd, 4th</span></td><td data-label=""><span class="italic">first, second, third, fourth</span></td></tr><tr><td data-label=""><span class="bolder">5, 6, 7, 8</span></td><td data-label=""><span class="italic">five, six, seven, eight</span></td></tr><tr><td data-label=""><span class="bolder">V VI, VII, VIII</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">5th, 6th, 7th, 8th</span></td><td data-label=""><span class="italic">fifth, sixth, seventh, eighth</span></td></tr><tr><td data-label=""><span class="bolder">9, 10, 11, 12</span></td><td data-label=""><span class="italic">nine, ten, eleven, twelve</span></td></tr><tr><td data-label=""><span class="bolder">IX, X, XI, XII</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">9th, 10th 11th, 12th</span></td><td data-label=""><span class="italic">ninth, tenth, eleventh, twelfth</span></td></tr><tr><td data-label=""><span class="bolder">13, 14, 15, 16</span></td><td data-label=""><span class="italic">thirteen, fourteen, fifteen, sixteen</span></td></tr><tr><td data-label=""><span class="bolder">XIII, XIV, XV, XVI</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">13th, 14th, 15th, 16th</span></td><td data-label=""><span class="italic">thirtheenth, fourteenth, fifteenth, sixteenth</span></td></tr><tr><td data-label=""><span class="bolder">17, 18, 19, 20</span></td><td data-label=""><span class="italic">seventeen, eighteen, nineteen, twenty</span></td></tr><tr><td data-label=""><span class="bolder">XVII, XVIII, XIX, XX</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">17th, 18th, 19th, 20th</span></td><td data-label=""><span class="italic">seventeenth, eighteenth, nineteenth, twentieth</span></td></tr><tr><td data-label=""><span class="bolder">21, 22, 23</span></td><td data-label=""><span class="italic">twenty-one, twenty-two, twenty-three</span></td></tr><tr><td data-label=""><span class="bolder">XX1, XXII, XXIII</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">21st, 22nd, 23rd</span></td><td data-label=""><span class="italic">twenty-first, twenty-second, twenty-third</span></td></tr><tr><td data-label=""><span class="bolder">30, 31, 32</span></td><td data-label=""><span class="italic">thirty, thirty-one, thirty-two</span></td></tr><tr><td data-label=""><span class="bolder">XXX, XXX1, XXXII</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">40, 50, 60, 70, 80, 90</span></td><td data-label=""><span class="italic">forty, fifty, sixty, seventy, eighty, ninety</span></td></tr><tr><td data-label=""><span class="bolder">XL, L, LX, LXX, LXXX, XC</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">40th, 50th, 60th, 70th, 80th, 90th</span></td><td data-label=""><span class="italic">fortieth, fiftieth, sixtieth, seventieth, eightieth, ninetieth</span></td></tr><tr><td data-label=""><span class="bolder">100,101</span></td><td data-label=""><span class="italic">one hundred, a hundred; one hundred and one, a hundred and one</span></td></tr><tr><td data-label=""><span class="bolder">C, CI</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">200, 300, 400, 500</span></td><td data-label=""><span class="italic">two hundred, three hundred, four hundred, five hundred</span></td></tr><tr><td data-label=""><span class="bolder">CC, CCC, CCCC, D</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">1,000</span></td><td data-label=""><span class="italic">one thousand, a thousand</span></td></tr><tr><td data-label=""><span class="bolder">M</span></td><td data-label=""><span class="italic"> </span></td></tr><tr><td data-label=""><span class="bolder">10,000</span></td><td data-label=""><span class="italic">ten thousand</span></td></tr><tr><td data-label=""><span class="bolder">1,000,000</span></td><td data-label=""><span class="italic">one million, a million</span></td></tr><tr><td data-label=""><span class="bolder">1,000,000,000</span></td><td data-label=""><span class="italic">one billion, a billion</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Десятичные дроби</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">0.5</span></td><td data-label=""><span class="italic">zero point five, point five</span></td></tr><tr><td data-label=""><span class="bolder">0.25</span></td><td data-label=""><span class="italic">zero point two five, point two five</span></td></tr><tr><td data-label=""><span class="bolder">2.5</span></td><td data-label=""><span class="italic">two point five</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Деньги</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">&#163;1</span></td><td data-label=""><span class="italic">one pound, a pound</span></td></tr><tr><td data-label=""><span class="bolder">30p</span></td><td data-label=""><span class="italic">thirty pence, thirty pee</span></td></tr><tr><td data-label=""><span class="bolder">&#163;1.25</span></td><td data-label=""><span class="italic">one pound twenty-five (pee), one twenty-five</span></td></tr><tr><td data-label=""><span class="bolder">&#163;27.36</span></td><td data-label=""><span class="italic">twenty-seven pounds thirty-six (pee)</span></td></tr><tr><td data-label=""><span class="bolder">$1</span></td><td data-label=""><span class="italic">one dollar, a dollar</span></td></tr><tr><td data-label=""><span class="bolder">10&#162;</span></td><td data-label=""><span class="italic">ten cents, or (US) a dime</span></td></tr><tr><td data-label=""><span class="bolder">25&#162;</span></td><td data-label=""><span class="italic">twenty-five cents, or (US) a quarter</span></td></tr><tr><td data-label=""><span class="bolder">$1.25</span></td><td data-label=""><span class="italic">one dollar twenty-five, a dollar twenty-five, one twenty-five</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Телефонные номера</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">020&#160;7921&#160;3567</span></td><td data-label=""><span class="italic">oh-two-oh, seven-nine-two-one, three-five-six-seven</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Года</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">1905</span></td><td data-label=""><span class="italic">nineteen oh five, nineteen hundred and five</span></td></tr><tr><td data-label=""><span class="bolder">1998</span></td><td data-label=""><span class="italic">nineteen ninety-eight</span></td></tr><tr><td data-label=""><span class="bolder">the 1900s, the 1900&#8217;s</span></td><td data-label=""><span class="italic">the nineteen hundreds</span></td></tr><tr><td data-label=""><span class="bolder">2000</span></td><td data-label=""><span class="italic">two thousand, the year two thousand</span></td></tr><tr><td data-label=""><span class="bolder">2005</span></td><td data-label=""><span class="italic">two thousand and five</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Даты</h2></div><div class="holder-hidden-layer"><p>Обратите внимание, что в&#160;США &#171;месяц&#160;&#8212; день&#187;, а в&#160;Британии &#171;день&#160;&#8212; месяц&#187;.</p><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">2.1.98 or 2/1/98</span></td><td data-label="">US</td><td data-label=""><span class="italic">February first, nineteen ninety eight</span></td></tr><tr><td data-label=""><span class="bolder">2.1.98 or 2/1/98</span></td><td data-label="">UK</td><td data-label=""><span class="italic">the second of January, nineteen ninety eight</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Числа в&#160;сочетаниях</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">999, (US) 911, (Australia) 000</span></td><td data-label=""><span class="italic">nine nine nine, (US) nine one one, (Australia) triple oh</span></td><td data-label="">(NOTE: the number to phone in an emergency)</td></tr><tr><td data-label=""><span class="bolder">24/7</span></td><td data-label=""><span class="italic">twenty-four seven</span></td><td data-label="">(NOTE: means &#8216;all the time&#8217;)</td></tr><tr><td data-label=""><span class="bolder">9/11</span></td><td data-label=""><span class="italic">nine eleven</span></td><td data-label="">(NOTE: the eleventh of September 2001, when many people died in a terrorist attack in New York)</td></tr><tr><td data-label=""><span class="bolder">the big 40, 50, etc.</span></td><td data-label=""><span class="italic">the big four oh, five oh, etc.</span></td><td data-label="">(NOTE: used humorously to refer to a fortieth or fiftieth, etc. birthday)</td></tr><tr><td data-label=""><span class="bolder">A1</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;e&#618;&#712;w&#652;n&#47;</span>&#160;&#160;</td><td data-label="">(NOTE: means &#8216;excellent&#8217;)</td></tr><tr><td data-label=""><span class="bolder">A1</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;e&#618;&#712;w&#652;n&#47;</span>&#160;&#160;</td><td data-label="">(NOTE: the numbering system for roads in Great Britain)</td></tr><tr><td data-label=""><span class="bolder">A12</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;e&#618;&#712;twelv&#47;</span>&#160;&#160;</td><td data-label="">&#160;</td></tr><tr><td data-label=""><span class="bolder">B125</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;b&#618;&#712;w&#652;n tu&#720;&#712;faiv&#47;</span>&#160;&#160;</td><td data-label="">&#160;</td></tr><tr><td data-label=""><span class="bolder">4x4</span></td><td data-label=""><span class="italic">four by&#160;four</span></td><td data-label="">(NOTE: a vehicle with four-wheel drive)</td></tr><tr><td data-label=""><span class="bolder">4WD</span></td><td data-label=""><span class="italic">four-wheel drive</span></td><td data-label="">(NOTE: a system in which engine power drives all four wheels of a vehicle, or a vehicle with this system)</td></tr><tr><td data-label=""><span class="bolder">H2O</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;e&#618;t&#643;tu&#720;&#712;&#601;&#965;&#47;</span>&#160;&#160;</td><td data-label="">(NOTE: The chemical formula is sometimes used to say &#8216;water&#8217;.)</td></tr><tr><td data-label=""><span class="bolder">M1</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;em&#712;w&#652;n&#47;</span>&#160;&#160;</td><td data-label="">(NOTE: the numbering system for motorways in Great Britain)</td></tr><tr><td data-label=""><span class="bolder">M25</span></td><td data-label="">&#160;&#160;<span class="phonetic">&#47;&#716;em twent&#618;&#712;fa&#618;v&#47;</span>&#160;&#160;</td><td data-label="">&#160;</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Сокращения с&#160;использованием чисел</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td data-label=""><span class="bolder">2day</span></td><td data-label=""><span class="italic">today</span></td></tr><tr><td data-label=""><span class="bolder">4U</span></td><td data-label=""><span class="italic">for you</span></td></tr><tr><td data-label=""><span class="bolder">B4</span></td><td data-label=""><span class="italic">before</span></td></tr><tr><td data-label=""><span class="bolder">CUL8R</span></td><td data-label=""><span class="italic">see you later</span></td></tr><tr><td data-label=""><span class="bolder">F2F</span></td><td data-label=""><span class="italic">face to face</span></td></tr><tr><td data-label=""><span class="bolder">GR8</span></td><td data-label=""><span class="italic">great</span></td></tr><tr><td data-label=""><span class="bolder">L8R</span></td><td data-label=""><span class="italic">later</span></td></tr><tr><td data-label=""><span class="bolder">M8</span></td><td data-label=""><span class="italic">mate</span></td></tr><tr><td data-label=""><span class="bolder">P2P</span></td><td data-label=""><span class="italic">person to person</span></td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(P.H. Collin. Easier English Intermediate Dictionary: How to say&#8230; 2nd ed. &#169;&#160;Bloomsbury Publishing Plc 2004, P.&#160;732-733)</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_stative_and_action_verbs" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
