/*! @import "app-englishextra-main"; */

/**
 * main
 */

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	line-height: 24px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: $font-family-webfont-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.500;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/**
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $color-hex-gray-text !important;
	opacity: 1;
}

/**
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/**
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/**
 * hide and show on mobile
 */

.show-inline-on-mobile,
.show-block-on-mobile {
	display: none /* !important */;
}

@media handheld, only screen and (max-width: 800px) {
	.hide-on-mobile {
		display: none /* !important */;
		width: 0;
		height: 0;
	}

	.show-inline-on-mobile {
		display: inline /* !important */;
	}

	.show-block-on-mobile {
		display: block /* !important */;
	}
}

/**
 * fixes to Simple Grid
 */

.grid:last-child,
.grid-narrow:last-child {
	/* margin-bottom: 1.500rem; */
	padding-bottom: 1.500rem;
}

.grid .col .content h1,
.grid .col .content h2:first-child,
.grid .col .content h3:first-child,
.grid .col .content p:first-child,
.grid-narrow .col .content h1,
.grid-narrow .col .content h2:first-child,
.grid-narrow .col .content h3:first-child,
.grid-narrow .col .content p:first-child {
	margin-top: 0;
}

.grid .col .content h2.btn-expand-hidden-layer:first-child,
.grid-narrow .col .content h2.btn-expand-hidden-layer:first-child {
	margin-top: 1.500rem;
}

.grid .col .footer p,
.grid-narrow .col .footer p {
	text-align: center;
}

/**
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	position: relative;
	top: 0;
	/* left: 17.000rem; */
	left: 0;
	background-color: $color-hex-page-bg;
	transition: left 0.2s linear;
}

/* .js .page {
	position: relative;
	left: 0;
} */

.page.is-active {
	position: relative;
	left: 17.000rem;
}

.panel-nav-top {
	display: block;
	width: 100%;
	height: 3.000rem;
	background-color: $color-hex-ui-bar-bg;
}

.container {
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.2s ease;
	padding: 0;
	margin: 0 auto;
}

.app-content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

.container .content-wrapper,
.app-content .content-wrapper {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

.container .content-wrapper:after,
.app-content .content-wrapper:after,
.app-content:after {
	content: "";
	display: table;
	clear: both;
}

/*! @import "nav-menu-light"; */

/**
 * nav menu
 */

.panel-nav-menu {
	display: block;
	width: 17.000rem;
	height: 100%;
	position: fixed;
	top: 0;
	/* left: 17.000rem; */
	left: 0;
	bottom: 0;
	font-size: 0.875em;
	line-height: 3.000rem;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $color-hex-darker-ui-bar-bg;
	transition: left 0.2s linear;
	padding: 0;
	margin: 0;
	margin-left: -17.000rem;
}

/* .js .panel-nav-menu {
	position: fixed;
	top: 0;
	left: 0;
} */

.panel-nav-menu li {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	font-size: 0.875rem;
	color: #FFFFFF;
	border: none;
	transition: background-color 0.2s linear;
	padding-right: 1.250rem;
	padding-left: 1.250rem;
}

.panel-nav-menu li a:hover {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

/* .panel-nav-menu li a:focus, */
.panel-nav-menu li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.panel-nav-menu li a.is-active {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

.btn-nav-menu {
	display: inline-block;
	width: 3.000rem;
	height: 3.000rem;
	position: fixed;
	top: 0;
	/* left: 17.000rem; */
	left: 0;
	color: $color-hex-gray-text;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

/* .js .btn-nav-menu {
	position: fixed;
	top: 0;
	left: 0;
} */

.btn-nav-menu:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

.page.is-active .btn-nav-menu,
/* .btn-nav-menu:focus, */
.btn-nav-menu:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-nav-menu {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 1.250rem;
	line-height: 3.000rem;
}

.page.is-active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
}

.page.is-active .panel-nav-menu {
	left: 17.000rem;
	width: 17.000rem;
}

.page.is-active .btn-nav-menu {
	/**
	 * position absolute
	 * left: 0;
	 * position fixed
	 * left: 17.000rem;
	 */
	left: 17.000rem;
}

/*! @import "menu-more-light"; */

/**
 * menu more
 */

.btn-menu-more {
	display: inline-block;
	width: 3.000rem;
	height: 3.000rem;
	position: absolute;
	top: 0;
	left: 3.000rem;
	color: $color-hex-gray-text;
	text-decoration: none;
	transition: background-color 0.2s linear;
	cursor: pointer;
}

.btn-menu-more:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-menu-more:focus, */
.btn-menu-more:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-menu-more {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 1.250rem;
	line-height: 3.000rem;
}

.holder-panel-menu-more {
	display: block;
	visibility: hidden;
	position: absolute;
	top: 3.000rem;
	left: 3.000rem;
	color: $color-hex-body-text;
	background-color: $LeftNavBarLight;
	border: 0.063rem solid $AccentColor;
	box-shadow: 0.125rem 0.125rem 0.125rem 0 $color-rgba-ui-bar-shadow;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s ease;
}

.holder-panel-menu-more.is-active {
	visibility: visible;
	opacity: 1;
}

.panel-menu-more {
	display: block;
	width: 17.000rem;
	height: 100%;
	font-size: 0.875em;
	line-height: 3.000rem;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.panel-menu-more li a {
	display: block;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.2s linear;
	overflow-x: hidden;
	white-space: nowrap;
	padding-right: 1.250rem;
	padding-left: 1.250rem;
}

.panel-menu-more li a:hover {
	color: inherit;
	background-color: $TitleBarAndAppBarLight;
}

/* .panel-menu-more li a:focus, */
.panel-menu-more li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * search form
 */

.holder-search-form {
	display: inline-block;
	position: fixed;
	top: 0.375rem;
	right: 0.375rem;
}

.holder-search-form input[type^=text],
.holder-search-form input[type^=search] {
	width: 9.000rem;
	font-family: inherit;
	font-size: 0.875rem;
	line-height: 1.125rem;
	color: inherit;
	border-color: transparent;
	border-style: solid;
	border-width: 0.063rem;
	transition: width 0.2s linear;
    transition-delay: 0.2s;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	padding: 0.500rem 2.250rem 0.500rem 0.500rem;
}

.holder-search-form input[type^=text]:focus,
.holder-search-form input[type^=text]:active,
.holder-search-form input[type^=search]:focus,
.holder-search-form input[type^=search]:active {
	width: 17.000rem;
	background-color: $color-hex-hover-ui-icon-bg;
	border-color: transparent;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

@media only screen and (max-width: 480px) {
	.holder-search-form input[type^=text]:focus,
	.holder-search-form input[type^=text]:active,
	.holder-search-form input[type^=search]:focus,
	.holder-search-form input[type^=search]:active {
		width: 13.250rem;
	}
}

.holder-search-form button[type^=submit] {
	width: 2.250rem;
	position: fixed;
	top: 0.375rem;
	right: 0.375rem;
	font-size: 0;
	line-height: 0;
	color: $color-hex-gray-text;
	background-color: transparent;
	border: 0.063rem solid transparent;
	cursor: pointer;
	padding: 1.063rem;
}

.holder-search-form button[type^=submit]:after {
	position: absolute;
	top: 0;
	right: 0.563rem;
	font-family: "englishextra-ui-icons";
	content: "\e91c";
	font-size: 1.000rem;
	line-height: 2.125rem;
}

/* .holder-search-form button[type^=submit]:focus, */
.holder-search-form button[type^=submit]:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
	border: 0.063rem solid $AccentColor;
}

.holder-search-text:before,
.ya-site-form:before {
	width: 2.250rem;
	position: absolute;
	top: 0;
	right: 0;
	font-family: "englishextra-ui-icons";
	content: "\e91c";
	font-size: 1.000rem;
	padding: 0.375rem 0.625rem;
}

.holder-search-form input[type^=text],
.holder-search-form input[type^=search] {
	background-color: $color-hex-ui-bar-bg;
}

/*!
 * fix for yandex search
 * site.yandex.net/v2.0/js/suggest.js
 */

.holder-search-form table td {
	padding: 0;
}

.ya-site-form.ya-site-form_inited_no {
	visibility: hidden;
}

.ya-page_js_yes .ya-site-form_inited_no,
.ya-site-form__submit {
	display: none;
}

/**
 * fixes to typeboost.css
 * modularscale.com
 * @see {@link https://github.com/modularscale/modularscale-sass}
 * ----------------
 * $ms-base: 1em;
 * $ms-ratio: 1.5,1.1;
 * ----------------
 * ms(16) / 3.452em
 * ms(15) / 3.375em
 * ms(14) / 3.138em
 * ms(13) / 2.853em
 * ms(12) / 2.594em
 * ms(11) / 2.358em
 * ms(10) / 2.25em
 * ms(9) / 2.144em
 * ms(8) / 1.949em
 * ms(7) / 1.772em
 * ms(6) / 1.611em
 * ms(5) / 1.5em
 * ms(4) / 1.464em
 * ms(3) / 1.331em
 * ms(2) / 1.21em
 * ms(1) / 1.1em
 * ms(0) / 1em
 * ms(-1) / 0.909em
 * ms(-2) / 0.826em
 * ms(-3) / 0.751em
 * ms(-4) / 0.683em
 * ms(-5) / 0.667em
 * ms(-6) / 0.621em
 */

#h1 {
	margin-top: 0;
	margin-bottom: 0.500rem;
}

.col h2 a,
.col h2 a:focus,
.col h2 a:hover,
.col h2 a:active,
.col h2 a:visited {
	color: inherit;
}

.col h2 + div form p:first-child {
	margin-top: 0;
}

.col a {
	font-weight: inherit;
	color: $color-hex-link;
}

.col a:focus,
.col a:hover,
.col a:active {
	color: $color-hex-hover-link;
}

.col a:visited {
	color: $color-hex-visited-link;
}

.col a[rel="footnote"] {
	border-bottom: none;
}

.col a[rel="footnote"]:before {
 	content: attr(data-footnote);
	font-size: 0.625em;
	position: relative;
	top: -0.625em;
	font-size: 50%;
	margin-left: 0.188em;
}

.col p.subhead {
	font-size: 1.188rem;
	line-height: 1.750rem;
}

.col dl dt a {
	color: inherit;
	border-bottom-color: inherit;
	border-bottom-style: solid;
	border-bottom-width: 0.063rem;
}

.col dl dt a:focus,
.col dl dt a:hover,
.col dl dt a:active {
	color: inherit;
}

.col img,
.col svg,
.col canvas,
.col video,
.col textarea {
	width: 100%;
}

.col img.inline {
	width: auto;
}

.col img.data-src-img,
.col img[data-src] {
	opacity: 0;
	transition: opacity 0.4s ease;
}

.col img.data-src-img,
.col img[data-src],
.col iframe.data-src-iframe,
.col iframe[data-src] {
	background-color: $LeftNavBarLight;
}

.col img.data-src-img.is-active,
.col img[data-src].is-active {
	opacity: 1;
}

.col figcaption {
	font-size: 0.813rem;
	line-height: 1.250;
	margin-top: 0.250rem;
}

.col figcaption a,
.col figcaption a:focus,
.col figcaption a:hover,
.col figcaption a:active,
.col figcaption a:visited {
	color: inherit;
}

.col figcaption p {
	font-size: inherit;
	line-height: inherit;
}

.col img,
.col svg,
.col canvas {
	height: auto;
}

.col video,
.col svg {
	display: block;
	padding: 0;
}

.col canvas {
	vertical-align: bottom;
}

.holder-chapters-select + canvas {
	margin-top: 1.500rem;
}

.col table.respond {
	width: auto;
}

.col table {
	border: none;
	border-top-width: 0.063rem;
	border-top-style: solid;
	border-top-color: $color-hex-divider;
	border-right-width: 0.063rem;
	border-right-style: solid;
	border-right-color: $color-hex-divider;
	border-left-width: 0.063rem;
	border-left-style: solid;
	border-left-color: $color-hex-divider;
}

.col table th {
	border: none;
	border-bottom-width: 0.063rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td {
	border: none;
	border-bottom-width: 0.063rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td.with-img-only {
	padding: 0.500rem;
}

@media screen and (max-width: 640px) {
	.col table.respond {
		border: none;
	}

	.col table.respond,
	.col table.respond tr,
	.col table.respond td {
		display: block;
		box-sizing: border-box;
	}

	.col table.respond tr {
		width: 100%;
		float: left;
		position: relative;
		border: 0.063rem solid $color-hex-divider;
		border-bottom: none;
		margin-bottom: 1.500rem;
	}

	.col table.respond tr:last-child {
		margin-bottom: 0;
	}

	.col table.respond thead,
	.col table.respond tfoot {
		display: none;
	}

	.col table.respond td::before {
		display: block;
		float: left;
		content: attr(data-label);
		font-weight: bold;
		text-align: right;
		padding-right: 0.625rem;
	}
}

.col hr,
.col .hr {
	height: 0.063rem;
	background-color: $color-hex-divider;
}

.col .highlight {
	color: $color-hex-highlight;
}

.col .phonetic {
	font-family: $font-family-webfont-monospace;
}

.col .underline {
	text-decoration: none;
	border-bottom-width: 0.063rem;
	border-bottom-style: solid;
	border-bottom-color: inherit;
}

.col .footnote:before {
	position: relative;
	top: -0.625rem;
 	content: attr(data-footnote);
	font-size: 0.625rem;
	font-size: 50%;
	margin-right: 0.188rem;
}

/*!
 * buttons
 */

.col div + .holder-bottom-navigation,
.holder-bottom-navigation:first-child {
	margin-top: 1.500rem;
}

.col .btn-larger,
.col a.btn-larger {
	height: 2.250rem;
	font-size: 0.875rem;
	font-weight: 400;
	padding-right: 0.688rem;
	padding-left: 0.688rem;
}

.col a.btn-larger {
	display: inline-block;
	font-family: inherit;
	line-height: 2.125rem;
	text-align: center;
	text-decoration: none;
	border: 0.063rem solid $TitleBarAndAppBarDark;
}

.col a.btn-larger i.fa,
.col a.btn-larger i.mi,
.col a.btn-larger i.mdi,
.col a.btn-larger i.material-icons {
	font-size: 0.750rem;
	line-height: 2.250rem;
}

.col .btn-primary,
.col .btn-primary:focus,
.col a.btn-primary,
.col a.btn-primary:focus {
	color: #FFFFFF;
	background-color: $TitleBarAndAppBarDark;
	border-color: $TitleBarAndAppBarDark;
}

.col .btn-primary:hover,
.col .btn-primary:active,
.col a.btn-primary:hover,
.col a.btn-primary:active {
	background-color: #000000;
	border-color: #000000;
}

.col .btn-secondary,
.col .btn-secondary:focus,
.col a.btn-secondary,
.col a.btn-secondary:focus {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonBackground;
}

.col .btn-secondary:hover,
.col .btn-secondary:active,
.col a.btn-secondary:hover,
.col a.btn-secondary:active {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonOutline;
}

/*!
 * aside block
 */

.col .aside {
	display: block;
	background-color: $LeftNavBarLight;
	padding: 1.250rem 1.250rem;
}

.col .aside *:first-child {
	margin-top: 0;
}

.col .aside *:last-child {
	margin-bottom: 0;
}

.col .aside p {	
	font-size: 0.813rem;
	line-height: 1.250rem;
}

.col .aside h2 {
	font-size: 1.125rem;
	line-height: 1.500rem;
}

/* .col .aside h2 a,
.col .aside p a {
	color: inherit;
	text-decoration: none;
} */

.col p + .aside {
	margin-top: 1.500rem;
}

/*!
 * pages selecto
 */

.holder-chapters-select {
	display: block;
	width: 100%;
	text-align: left;
}

.holder-chapters-select .chapters-select {
	display: inline-block;
	width: 100%;
	max-width: 17.000rem;
	height: 2.250rem;
	font-family: inherit;
	font-size: 0.875rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
	background-color: #F2F2F2;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	margin: 0;
	padding: 0 0 0 0.250rem;
}

.holder-chapters-select .chapters-select::-ms-expand {
	display: none;
}

.holder-chapters-select .chapters-select::-ms-value {
    background: none;
	color: inherit;
}

.holder-chapters-select .chapters-select optgroup {
	font-style: normal;
	padding-left: 0.250rem;
}

/**
 * fix select border for electron
 */

.holder-chapters-select .chapters-select,
.holder-chapters-select .chapters-select:focus,
.holder-chapters-select .chapters-select:hover,
.holder-chapters-select .chapters-select:active {
	border: 0.063rem solid #F2F2F2;
}

/*!
 * expanding layer
 */

.col .btn-expand-hidden-layer {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.col .btn-expand-hidden-layer:after {
	font-family: "englishextra-ui-icons";
	content: "\e901";
	font-size: 0.438em;
	position: relative;
	bottom: 0.438em;
	margin-left: 0.438em;
}

.col .btn-expand-hidden-layer.is-active:after {
	font-family: "englishextra-ui-icons";
	content: "\e907";
}

.col .holder-hidden-layer {
	max-height: 100%;
	position: relative;
	transition: all 0.2s ease-out;
	overflow-y: hidden;
}

.js .col .holder-hidden-layer {
	max-height: 0;
	overflow: hidden;
}

.col .holder-hidden-layer.is-active,
.legacy .col .holder-hidden-layer {
	max-height: 100%;
	overflow-y: hidden;
}

.col .holder-btn-expand-hidden-layer + .holder-hidden-layer.is-active,
.legacy .col .holder-btn-expand-hidden-layer + .holder-hidden-layer {
	margin-top: 0.500rem;
}

.col .holder-hidden-layer h3:first-child,
.col .holder-hidden-layer p:first-child,
.col .holder-hidden-layer table:first-child,
.col .holder-hidden-layer ol:first-child,
.col .holder-hidden-layer ul:first-child {
	margin-top: 0;
}

.col .holder-hidden-layer p:last-child,
.col .holder-hidden-layer table:last-child,
.col .holder-hidden-layer ol:last-child,
.col .holder-hidden-layer ul:last-child {
	margin-bottom: 0;
}

/**
 * footer
 */

.footer p {
	font-size: 0.813rem;
	line-height: 1.500;
}

.footer a {
	color: $color-hex-gray-text;
	border-bottom-width: 0.063rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-gray-text;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
	color: $color-hex-gray-text;
}

/**
 * retina
 */

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}

/**
 * font for mobile
 * iosfonts.com/
 * google.com/design/spec/style/typography.html#typography-language-categorization
 * msdn.microsoft.com/en-us/library/windows/apps/hh202920%28v=vs.105%29.aspx
 */

@media only screen and (max-width: 480px) {
}

/**
 * media queries
 */

@media only screen and (max-width: 20em) {
	html {
		font-size: 85.7%;
	}
}

@media only screen and (min-width: 20.063em) {
	html {
		font-size: 92.2%;
	}
}

@media only screen and (min-width: 20.063em) and (max-width: 30em) {
	html {
		font-size: 92.2%;
	}
}

@media only screen and (min-width: 30.063em) {
	html {
		font-size: 107.1%;
	}
}

@media only screen and (min-width: 30.063em) and (max-width: 40em) {
	html {
		font-size: 107.1%;
	}
}

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 121.4%;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 50em) {
	html {
		font-size: 121.4%;
	}
}

@media only screen and (min-width: 50.063em) {
	html {
		font-size: 92.2%;
	}
}

@media only screen and (min-width: 50.063em) and (max-width: 60em) {
	html {
		font-size: 92.2%;
	}
}

@media only screen and (min-width: 60.063em) {
	html {
		font-size: 92.2%;
	}
}

@media only screen and (min-width: 60.063em) and (max-width: 64em) {
	html {
		font-size: 92.2%;
	}
}

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 64.063em) and (max-width: 74em) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 74.063em) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 74.063em) and (max-width: 80em) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 80.063em) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 80.063em) and (max-width: 90em) {
	html {
		font-size: 100%;
	}
}

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 107.1%;
	}
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 107.1%;
	}
}

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 114.3%;
	}
}

