/*! @import "app-englishextra-font-face"; */

@font-face {
	font-family: "englishextra-ui-icons";
	src: url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.woff2) format("woff2"), url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.woff) format("woff"), url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Light.otf.woff2) format("woff2"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Light.otf.woff) format("woff"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular.otf.woff2) format("woff2"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular.otf.woff) format("woff"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-It.otf.woff2) format("woff2"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-It.otf.woff) format("woff"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-It.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Bold.otf.woff2) format("woff2"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Bold.otf.woff) format("woff"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-BoldIt.otf.woff2) format("woff2"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-BoldIt.otf.woff) format("woff"), url(../../../fonts/source-sans-pro-fontfacekit/SourceSansPro-BoldIt.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: "Source Code Pro";
	src: url(../../../fonts/source-code-pro-fontfacekit/SourceCodePro-Regular.otf.woff2) format("woff2"), url(../../../fonts/source-code-pro-fontfacekit/SourceCodePro-Regular.otf.woff) format("woff"), url(../../../fonts/source-code-pro-fontfacekit/SourceCodePro-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Source Code Pro";
	src: url(../../../fonts/source-code-pro-fontfacekit/SourceCodePro-Bold.otf.woff2) format("woff2"), url(../../../fonts/source-code-pro-fontfacekit/SourceCodePro-Bold.otf.woff) format("woff"), url(../../../fonts/source-code-pro-fontfacekit/SourceCodePro-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

