/*! @import "app-englishextra-animate.partial"; */

/**
 * some animations from animate.css
 * @see {@link https://github.com/daneden/animate.css}
 * daneden.github.io/animate.css/
 */

/* .animated {
	animation-duration: 2s;
	animation-fill-mode: both;
} */

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

.zoomIn {
	animation-name: zoomIn;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fadeOut {
	animation-name: fadeOut;
}

