/*! @import "contents-masonry-grid"; */

/**
 * masonry grid
 */

.masonry-grid-wrapper {
	width: 100%;
	height: 100%;
	background-color: $color-hex-page-bg;
	/** stackoverflow.com/questions/14967413/background-color-not-showing-for-a-div
	Because the content collapses when the children are floated
	and adding the overflow rule restores the behavior you'd expect. */
	overflow-x: auto;
	overflow-y: hidden;
}

.masonry-grid-wrapper #h1,
.masonry-grid-wrapper h1 {
	font-family: $font-family-webfont-sans-light;
	font-weight: 400;
	font-size: 1.772rem;
	line-height: 1.200;
	text-align: center;
	margin: 1.500rem 3.000%;
}

.holder-contents-select {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 0 1.500rem 0;
}

.holder-contents-select .contents-select {
	display: inline-block;
	width: 100%;
	max-width: 17.000rem;
	height: 2.250rem;
	font-family: inherit;
	font-size: 0.875rem;
	color: inherit;
	background-color: #FFFFFF;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	margin: 0;
	padding: 0 0 0 0.250rem;
}

.holder-contents-select .contents-select::-ms-expand {
	display: none;
}

.holder-contents-select .contents-select::-ms-value {
    background: none;
	color: inherit;
}

.holder-contents-select .contents-select optgroup {
	font-style: normal;
	padding-left: 0.250rem;
}

/*!
 * fix select border for electron and nw
 */

.holder-contents-select .contents-select,
.holder-contents-select .contents-select:hover,
.holder-contents-select .contents-select:active,
.holder-contents-select .contents-select:focus {
	border: 0.063rem solid #FFFFFF;
}

.masonry-grid-wrapper .footer {
	/** 720px - 24px - 24px */
	max-width: 42.000em;
	font-size: 0.813rem;
	line-height: 1.500;
	text-align: center;
	margin: 1.500rem auto;
}

.masonry-grid {
	display: block;
	margin: 0 auto;
}

.masonry-grid:after {
	display: block;
	content: "";
	clear: both;
}

.masonry-grid-row:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	overflow: hidden;
	width: 0;
	font-size: 0;
	line-height: 0;
}

.masonry-grid-item {
	float: left;
	box-shadow: 0 0.250em 0.250em 0 $color-rgba-card-shadow;
	margin: 1.500%;
}

.masonry-grid-item a,
.masonry-grid-item a:hover,
.masonry-grid-item a:active,
.masonry-grid-item a:focus {
	color: inherit;
}

.masonry-grid-item img {
	display: block;
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
}

.masonry-grid-item-content {
	background-color: #FFFFFF;
	padding: 1.000rem;
}

.masonry-grid-item-content h2 {
	font-family: $font-family-webfont-sans-light;
	font-weight: 300;
	font-size: 1.500rem;
	line-height: 1.200;
	margin-top: 0;
	margin-bottom: 0.500rem;
}

.masonry-grid-item-content h2 a {
	color: inherit;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 0.063rem;
	text-decoration: none;
}

.masonry-grid-item-content h2 a:hover,
.masonry-grid-item-content h2 a:active,
.masonry-grid-item-content h2 a:focus {
	color: inherit;
	border-bottom-color: inherit;
	border-bottom-style: solid;
	border-bottom-width: 0.063rem;
}

.masonry-grid-item-content p {
	font-family: $font-family-webfont-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.500;
	margin: 0;
}

.masonry-grid-item-content img {
	padding: -0.750em;
}

.masonry-grid-item-content .highlight {
	color: $color-hex-highlight;
}

@media only screen and (max-width: 20em) {
	.masonry-grid {
		max-width: 93.8%;
	}

	.masonry-grid-sizer {
		width: 100%;
	}

	.masonry-grid-item {
		float: none;
		width: 97%;
	}
}

@media only screen and (min-width: 20.063em) {
	.masonry-grid {
		max-width: 93.8%;
	}

	.masonry-grid-sizer {
		width: 100%;
	}

	.masonry-grid-item {
		float: none;
		width: 97%;
	}
}

@media only screen and (min-width: 30.063em) {
	.masonry-grid {
		max-width: 75%;
	}
}

@media only screen and (min-width: 40.063em) {
	.masonry-grid {
		max-width: 93.8%;
	}

	.masonry-grid-sizer {
		width: 50%;
	}

	.masonry-grid-item {
		float: left;
		width: 47%;
	}
}

@media only screen and (min-width: 50.063em) {
	.masonry-grid {
		max-width: 81.3%;
	}
}

@media only screen and (min-width: 60.063em) {
	.masonry-grid {
		max-width: 93.8%;
	}

	.masonry-grid-sizer {
		width: 33.333%;
	}

	.masonry-grid-item {
		width: 30%;
	}
}

@media only screen and (min-width: 74.063em) {
	.masonry-grid {
		max-width: 81.3%;
	}
}

@media only screen and (min-width: 80.063em) {
	.masonry-grid {
		max-width: 93.8%;
	}

	.masonry-grid-sizer {
		width: 25%;
	}

	.masonry-grid-item {
		width: 22%;
	}
}

@media only screen and (min-width: 90.063em) {
	.masonry-grid {
		max-width: 81.3%;
	}
}
