					<div class="masonry-grid-wrapper">
						<h1 id="h1">Содержание</h1>
						<div class="holder-contents-select">
							<form method="get" action="javascript:void(0);">
								<p>
									<select class="contents-select" id="contents-select" aria-label="Select / Выбрать">
										<option value="" disabled="" selected="">Переход к&#160;страницам&#8230;</option>
									</select>
								</p>
							</form>
						</div>
						<div class="masonry-grid">
							<div class="masonry-grid-sizer"></div>
							<div class="masonry-grid-item"><a href="#/aids_most_commonly_used_idioms"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-aids-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Most Commonly Used Idioms</h2><p>&#8216;You&#8217;ll find that if you hang in, and knock yourself out with hard work, before you know it, you will have mastered these hip expressions and come through with flying colors.&#8217;</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/aids_topics"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-aids-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Топики на английском</h2><p>Около сотни кратких сочинений на английском с переводом на русский. Рекомендуется изучить для подготовки к заданию ГИА-9 АЯ &#8212; &#171;Говорение. Монологическая речь&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/articles_reading_rules_utf"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-articles-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Правила чтения</h2><p>В английском языке звуков больше, чем букв. Звуки имеют различное выражение на письме. Один и тот же звук может выражаться разными буквами или буквосочетаниями. Для распознания звуков используются транскрипционные знаки. По транскрипции в словаре можно понять, как произносится слово.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_advanced_grammar_in_use_level_test"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-cup-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Advanced Grammar in Use Level Test</h2><p>Advanced Grammar in Use Second Edition Level Test с ответами. Cambridge University Press.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_english_grammar_in_use_level_test"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-cup-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>English Grammar in Use Level Test</h2><p>English Grammar in Use Third Edition Level Test с ответами. Cambridge University Press.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_essential_grammar_in_use_level_test"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-cup-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Essential Grammar in Use Level Test</h2><p>Essential Grammar in Use Level Test с ответами. Cambridge University Press.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_ege_english_test_sample"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-ege-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Демо-вариант ЕГЭ-11 АЯ (ПЧ)</h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов единого государственного экзамена 2016 года по английскому языку с ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_ege_english_test_sample_speaking"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-ege-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Демо-вариант ЕГЭ-11 АЯ (УЧ)</h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов единого государственного экзамена 2016 года по английскому языку с ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_ege_essay_sample"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-ege-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>ЕГЭ: Задание 40</h2><p>Подготовка к заданию ЕГЭ-11 АЯ 40 &#8212; &#171;письменное высказывание с элементами рассуждения&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_gia_ege_letter_sample"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-ege-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>ГИА / ЕГЭ: Задания 33, 39, 40</h2><p>Подготовка к заданиям ГИА-9 (ОГЭ) АЯ 33 &#8212; &#171;личное письмо&#187;, ЕГЭ-11 АЯ 39 &#8212; &#171;личное письмо&#187;, ЕГЭ-11 АЯ 40 &#8212; &#171;письменное высказывание с элементами рассуждения&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_gia_english_test_sample"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-gia-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Демо-вариант ГИА-9 (ОГЭ) АЯ (ПЧ)</h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов для проведения в 2016 году государственной (итоговой) аттестации (в новой форме) по английскому языку с ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_gia_english_test_sample_speaking"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-gia-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Демо-вариант ГИА-9 (ОГЭ) АЯ (УЧ)</h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов для проведения в 2016 году государственной (итоговой) аттестации (в новой форме) по английскому языку с ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_languagelink_online_test"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-languagelink-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Уровневый тест</h2><p>&#171;Тест по английскому языку online&#187; с ответами по материалам languagelink.ru.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_common_mistakes_test_advanced"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-oup-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Common Mistakes Test Advanced</h2><p>All the sentences contain common mistakes. Write the corrections.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_english_allrussian_olympiad_regional_stage_2013"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-rosolymp-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>XIV Олимпиада по английскому</h2><p>XIV Всероссийская олимпиада школьников по английскому языку 2013 г., региональный этап.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/tests_grammar_tests_with_answers"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-tests-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Тесты по грамматике</h2><p>Тесты по грамматике английского языка базово-повышенного уровня.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_grammar_girl_s_quick_and_dirty_grammar_at_a_glance"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-gg-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Quick and Dirty Grammar</h2><p>Grammar Girl&#8217;s Quick and Dirty Grammar at a Glance &#8212; американский &#171;Как правильно?&#187;. Краткий обзор распространенных ошибок.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_all_whole_entire"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>All / the whole / the entire</h2><p>&#171;All&#187; &#8212; все и весь, &#171;the whole&#187; &#8212; весь (одним цельным куском), &#171;the entire&#187; &#8212; весь (со всеми частями).</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_alone_by_myself_and_on_my_own"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Alone / by myself / on my own</h2><p>Alone &#8212; &#171;один (в одиночестве, одинокий)&#187;; by myself &#8212; &#171;один (в одиночестве, без чьего-либо участия)&#187;; on my own &#8212; &#171;один (сам по себе, без чьей-либо помощи)&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_attributes_order"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Порядок определений</h2><p>Ставьте атрибуты в следующем порядке: 1) артикль / указательное местоимение / существительное в притяжательном падеже, 2) порядковое числительное / only, 3) количественное числительное / other / many, 4) прилагательное в функции описательного определения (качество), 5) little / old / new, 6) цвет, 7) прилагательное в функции классифицирующего определения (происхождение), 8) существительное в функции препозитивного определения (материал), 9) и уже последним определяемое существительное.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_can_could_be_able_to"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Can / could / be able to</h2><p>Одно дело &#171;уметь&#187;, другое &#8212; &#171;суметь&#187;. Одно дело &#171;мочь&#187;, другое &#8212; &#171;быть в стостоянии&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_capital_letters"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>С большой или с маленькой</h2><p>Мы знаем, что первое слово предложения пишется с заглавной, что местоимение &#171;I&#187; тоже всегда с прописной в любом месте предложения. Какие еще моменты следует помнить?</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_comma_before_who_which_that"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Who / which / that и запятые</h2><p>Придаточные предложения выделяются запятыми в том случае, когда оборот содержит дополнительную информацию о субъекте / объекте.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_common_and_proper_nouns"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Нарицательное / собственное</h2><p>Существительные, классифицирующие объекты, например, &#171;building&#187; (здание) являются именами нарицательными и пишутся с прописной буквы. Если Вы говорите о конкретном здании, например, &#171;Glazier Building&#187;, то такое существительное является именем собственным и пишется с заглавной буквы.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_conditionals"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Согласование времен</h2><p>Время глагола придаточного предложения зависит от времени главного предложения. Когда сказуемое главного предложения выражено глаголом в одной из форм прошедшего времени, в придаточных предложениях не могут употребляться формы настоящего и будущего, хотя речь идет о действиях, которые совершаются в настоящем или будущем.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_degrees_of_comparison"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Степени сравнения</h2><p>Правильно: &#171;greener, funnier, happier, nearer, wickeder / more wicked, cleverer / more clever, commoner / more common, handsomer / more handsome, narrower / more narrow, quieter / more quiet, shallower / more shallow, simpler / more simple, stupider / more stupid, more fun, more quickly, more crowded, more boring, more careful, more often&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_ex_former"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>&#171;Ex-&#187; и &#171;former&#187;, или Осторожно: морпехи</h2><p>&#171;Ex-&#187; и &#171;former&#187; &#8212; синонимы, но части речи &#8212; разные. Оба означают &#171;бывший&#187;. &#171;Ex-&#187; &#8212; необязательно &#171;предыдущий&#187; и вовсе не имеет негативного подтекста. &#171;Former&#187; ставится перед званиями и титулами, но для краткости и экономии места в заголовках традиционно используется &#171;ex-&#187;, а в основном тексте &#8212; и &#171;ex-&#187;, и &#171;former&#187;. &#171;Ex-&#187; не используют с неодушевленными объектами. &#171;Ex-&#187; используют во избежание путанницы: &#171;former&#187; &#8212; это также &#171;второй из двух&#187;. В употреблении &#171;ex-&#187; или &#171;former&#187; с различными словами сложились предпочтения.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_foreign_words"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Заимствованные слова</h2><p>Слова заимствованные и знакомые англоязычным читателям, представленные в словаре &#171;Webster&#8217;s&#187;, отображаются латиницей (не наклонным шрифтом), если используются в английском контексте, с соблюдением орфографии по словарю &#171;Webster&#8217;s&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_glossary_of_grammatical_terms"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Glossary of Grammatical Terms</h2><p>Мини-словарь специальных терминов английской грамматики. Полезен для понимания правил, которые неизбежно используют профессиональную лексику.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_in_at_on"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>In / at / on</h2><p>Предлог &#171;at&#187;, как правило, связан с объектами, при которых люди занимаются деятельностью, связанную с этими объектами: на светофоре ждать разрешения двигаться дальше, на свадьбе праздновать рождение новой семейной ячейки. &#171;At&#187; означает &#171;при (перед, у) каком-то объекте&#187;. &#171;On&#187; &#8212; на поверхности находимся или на поверхность движемся какого-то объекта. &#171;In&#187; означает &#171;внутри ограниченного 2D / 3D пространства&#187;, а также &#171;написано, изображено&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_in_hospital_at_work"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>In hospital / at work etc.</h2><p>&#171;In hospital / in prison / in jail&#187;, но: &#171;at work / at school / at university / at college&#187; &#8212; означает не сколько нахождение в помещении, сколько деятельность, связанную с этими объектами, то есть &#171;отбывать наказание, отправлять религиозные культы, учиться&#187; и тд. Однако &#171;In the hospital / in the prison / in the jail&#187;, а также: &#171;in the school / in the university / in the college&#187; &#8212; означает, наоборот, внутри объекта, а не деятельность, связанную с ним.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_irregular_verbs"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Неправильные глаголы (таблица)</h2><p>Часть английских глаголов образуют вторую (причастие 1) и третью (причастие 2) форму не по правилам.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_may_might_be_allowed_to"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>May / might / be allowed to</h2><p>May &#8212; вероятность и разрешение, might &#8212; вероятность, be allowed to &#8212; разрешение.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_modal_verbs"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Модальные глаголы</h2><p>Модальный глагол указывает, в каком режиме производится действие, cуть же действия передается следующим за модальным смысловым глаголом.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_much_many_little_few"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Much / many / little / few</h2><p>Не ставьте &#171;much&#187; в утвердительных предложениях, если перед ним не стоит &#171;so / very / too&#187;. Действия, а не предметы характеризуйте, используя &#171;a lot / much / little / a little&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_or_nor_neither"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Or / nor / neither</h2><p>&#171;Nor&#187; не привязан к &#171;neither&#187;. В отрицательных перечислениях используйте &#171;or&#187;, если второй участник существительное, прилагательное или наречие; если же глагольная конструкция &#8212; &#171;nor&#187; либо &#171;or&#187;. Если не уверены, разделяйте перечисления союзом &#171;and&#187; и повторно используйте отрицание в сказуемом.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_phrasal_verbs"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Фразовые глаголы</h2><p>Значение фразового глагола отличается от значения глагола без послелога, например, &#171;look&#187; &#8212; &#171;глядеть&#187;, но &#171;look up&#187; &#8212; &#171;просматривать&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_reported_speech"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Косвенная речь</h2><p>При конвертации прямой речи в косвенную (Reported Speech) необходимо сделать несколько преобразований: соотнести лица, времена и обстоятельства. Золотое правило: если главное предложение в прошедшем, то и придаточное запрошедшивается в соответствии с правилами согласования времен.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_saying_numbers"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Числа по-английски</h2><p>Английские числительные не склоняются по родам и не имеют падежных окончаний. Вместо &#171;пятьсот&#187; говорят: &#171;пять сто&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_stative_and_action_verbs"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Неконтиниусные глаголы</h2><p>Глаголы состояния, или статальные глаголы (statal / stative verbs), обозначают состояния или отношения.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_the_listing_comma"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Серийная запятая</h2><p>Используйте серийную запятую, которую можно заменить на союзы &#171;и / или&#187; в перечислениях. Ставьте серийную запятую перед &#171;и / или&#187;, когда нужно устранить двусмысленность.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_too_enough_so_such"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Too / enough и so / such</h2><p>Наречие &#171;too&#187; употребляется перед прилагательным или наречием, и означает &#171;слишком&#187;. Наречие &#171;enough&#187; употребляется, как правило, перед существительным, но после прилагательного или наречия, и означает &#171;достаточно&#187;. Местоимение &#171;such&#187; употребляется с существительным (перед которым может стоять прилагательное) и означает &#171;такой&#187;. Местоимение &#171;so&#187; употребляется с прилагательным (после которого нет существительного) или наречием и означает &#171;такой / так&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_to_me_for_me"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>To me / for me, или Надуманная проблема</h2><p>&#171;To me&#187; &#8212; &#171;мне&#187;, дательный падеж. &#171;For me&#187; &#8212; &#171;для меня&#187;, родительный падеж; или &#171;за (вместо) меня&#187;, винительный падеж.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_translating_participles"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Перевод причастий и деепричастий</h2><p>Как глагольная форма, причастие в английском языке имеет формы времени. Причастие (&#171;Participle&#187;) в английском языке является неличной формой глагола и сочетает в себе признаки прилагательного, глагола и наречия. Английское причастие настоящего времени (&#171;Participle I / Present Participle&#187;) и причастие прошедшего времени (&#171;Participle II / Past Participle&#187;) соответствует и причастию, и деепричастию в русском языке.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_usage_of_articles_a_the"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Артикли a / an и the</h2><p>Артикль &#8212; служебное слово, которое отсутствует в русском языке. Артикли помогают отличить предмет от действия; выделяют или, наоборот, объединяют с другими предметами; меняют контекст.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_usage_of_hyphens"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Расстановка дефисов</h2><p>Числа с 21 по 99 пишутся через дефис: &#171;forty-five&#187;. Заимствованные фразы пишутся без дефиса или так, как в оригинале: &#171;an a priori argument, a Sturm und Drang drama, a t&#234;te-&#224;-t&#234;te approach&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_usage_of_tenses"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Употребление времен</h2><p>В английском языке шестнадцать времен в активном залоге, в пассивном залоге &#8212; десять. Точнее было бы назвать их конструкциями, которых в сумме двадцать шесть. Не стоит сравнивать русские времена с английскими. Лучше запомнить значение каждой конструкции и обстоятельства ее применения.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_when_must_means_probably"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Когда must = &#171;должно быть&#187;</h2><p>Помимо &#171;должен / обязан&#187; &#171;must&#187; может означать &#171;должно быть&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/grammar_word_order"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-grammar-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Порядок слов в предложении</h2><p>В английском предложении жесткий порядок слов: подлежащие &#8212; сказуемое &#8212; дополнение &#8212; обстоятельство.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/reading_russia_ukraine_war_conflict_vocabulary"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-reading-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Russia-Ukraine War Conflict</h2><p>&#8220;My definition of a free society is a society where it is safe to be unpopular.&#8221; (Adlai Stevenson, United Nations ambassador 1961&#8212;1965)</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/reading_the_man_with_the_scar"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-reading-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>The Man with the Scar</h2><p>Да, это тот &#171;Человек со шрамом&#187; Сомерсета Моэма (адресовано учащимся 10&#8212;11 классов школ, лицеев и гимназий). Есть еще двойник от Джека Лондона (алчность героя превзошла все мыслимые и немыслимые пределы и в конце концов свела его с ума), Ежи Эдигея (о работе следственных органов и милиции народной Польши). Есть еще &#171;Девушка со шрамом. История неправильного человека&#187;.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/transcripts_linguaspectrum_essential_british_english_expressions"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-transcripts-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>Essential British English Expressions</h2><p>Inspired by the series of videos by Linguaspectrum. Please see credits at the bottom of the page.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/transcripts_linguaspectrum_spell"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-transcripts-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>44 Most Often Misspelled Words</h2><p>From original video &#8216;Spell&#8217; by Linguaspectrum transcript extract.</p></div></a></div>
							<div class="masonry-grid-item"><a href="#/transcripts_video_vocab_transcripts"><div class="masonry-grid-item-image"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20336%27%2F%3E" data-src="./libs/app-englishextra/img/sprite-contents-banner/contents-banner-transcripts-640x336.png" class="data-src-img" alt=""></div><div class="masonry-grid-item-content"><h2>English Vocabulary for Business</h2><p>Пособие составлено на основе оригинальных транскриптов обучающих видеороликов от Video Vocab о современной деловой лексике.</p></div></a></div>
						</div>
						<div class="footer">
							<p class="copyright"><a href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank">Content licensed under&#160;CC&#160;BY-ND&#160;4.0.</a>&#160;
						<a href="https://github.com/englishextra" target="_blank">&#169;&#160;2006&#8212;2017&#160;englishextra.</a></p>
						</div>
					</div>
