				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">О&#160;приложении &#171;Английский без&#160;регистрации&#187;</h1><p class="subhead">Приложение для&#160;смартфонов на&#160;платформе Android&#160;/ Windows&#160;Phone.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Кратко</option>
												<option value="#a4">Обратная связь</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Кратко</h2></div><div class="holder-hidden-layer"><p>Фактически является оффлайн версией образовательного ресурса <a href="https://englishextra.github.io/">&#171;Английский без&#160;регистрации&#160;/ No Sign-up English&#187;</a></p><ul><li><a href="https://github.com/englishextra/englishextra-app">Project's Repo on GitHub</a></li><li><a href="https://englishextraapp.codeplex.com/">Project's Repo on CodePlex</a></li><li><a href="https://sourceforge.net/projects/englishextra-app/">Project's Repo on SourceForge</a></li><li><a href="https://build.phonegap.com/apps/1824701/share">App Public Download Page on Bd</a></li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Обратная связь</h2></div><div class="holder-hidden-layer"><p><a href="#" onclick="var a='mailto',b=':',c='englishextra2',k='&#64;',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;">&#101;&#110;&#103;&#108;&#105;&#115;&#104;&#101;&#120;&#116;&#114;&#97;2&#64;&#121;&#97;&#104;&#111;&#111;.&#99;&#111;&#109;</a></p></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/contents" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
